[2017-01-17 09:43] sils opened #1 "Add the following fields to the json"
- [ ] Name (str)
- [ ] Mentors (list[str])
- [ ] Difficulty (low|medium|high)
- [ ] Requirements (list[str])
- [ ] Tags (list[str]) someting like core, plugins or so
- [ ] Initiative (list[str]) something like GSoC, RGSoC, GCI, Thesis
- [ ] Related issues, as URL (list[str])
- [ ] Description (str)
- [ ] Milestones (list of:)
    - [ ] Milestone (date, name, dict[list[str]: bool], so the student c

[2017-01-17 09:44] sils commented on #1
Task of this issue is to only enable us to fill that data, not to visualize it!

[2017-01-17 09:44] sils opened #2 "Visualize base data"
Show cards with name and description at least

[2017-01-17 09:45] sils opened #3 "Deploy to GitHub Pages"
@hemangsk ping me when there's something pushed so I can trigger the deployment

[2017-01-17 09:45] sils commented on #3
doesn't matter what it is

[2017-01-17 09:47] sils opened #4 "Allow clicking cards to expand them"

[2017-01-17 09:47] sils opened #5 "Add folded questions, FAQ"

[2017-01-17 09:50] sils commented on #3
hahaaaa http://projects.coala.io/ is online!

[2017-01-17 10:27] hemangsk opened #6 "Add initial files"
This will include an index.html, css and js files.

[2017-01-17 11:22] #6 closed

[2017-01-17 11:29] sils opened #8 "Markdown Support for Description and other stuff"

[2017-01-17 11:30] #3 closed

[2017-01-17 11:33] #5 closed

[2017-01-17 11:36] hemangsk opened #10 "Convert FAQs to a dict data structure"
faq.js file should have format like
{
 "ques" :  "answer",
"ques" : "answer"
}

[2017-01-17 11:39] sils opened #11 "Get rid of all errors and warnings in the chrome dev console"

[2017-01-17 11:39] sils commented on #11
[code]

[2017-01-17 11:40] sils opened #12 "Add google analytics"

[2017-01-17 11:40] sils opened #13 "Add coafile"

[2017-01-17 11:47] sils opened #14 "Add license"

[2017-01-17 11:55] hemangsk opened #16 "Add projects data structure"

[2017-01-17 11:57] #16 closed

[2017-01-17 12:03] hemangsk opened #18 "Add mentors in Mentors tab"

[2017-01-17 12:13] sils opened #19 "Add milestone aliases"
I'd like to be able to define a "GSoC 2017 Midterm" milestone that has a date associated with it *once* and then being able to define my milestones like `"GSoC 2017 Midterm": [...]` and not repeat the date every time

[2017-01-17 12:24] sils commented on #2
this is done @hemangsk right?

[2017-01-17 12:24] #2 closed

[2017-01-17 12:27] #14 closed

[2017-01-17 12:38] #11 closed

[2017-01-17 12:44] sils commented on #1
done, they're there just functionality isn't implemented yet

[2017-01-17 12:44] #1 closed

[2017-01-17 12:53] ankit01ojha commented on #13
@sils can you please tell me how to add a coafile :)

[2017-01-17 12:59] hemangsk commented on #13
@ankit01ojha  You can read it here http://docs.coala.io/en/latest/Users/coafile.html

[2017-01-17 13:01] sims1253 opened #24 "Limit line length"
Reading the QA section with lines as long as my 24" screen is wide is hard

[2017-01-17 13:17] sils commented on #8
everything in the json should be markdowned :)

[2017-01-17 13:21] adtac opened #28 "The coala logo + coala text at the bottom is a little bit to the right"
MUH OCD IS TRIGGERED!

[2017-01-17 13:22] adtac opened #29 "Make tabs clickable"

[2017-01-17 13:22] sils commented on #12
I'm sincerely too stupid to create a new project on GA...

[2017-01-17 13:23] adtac opened #30 "Don't use 100% width when the screen is wide"
maybe have a 800px threshold beyond which the body is limited to, say, 600px

[2017-01-17 13:25] adtac opened #31 "Bold doesn't get rendered"
`**text**` isn't bold

[2017-01-17 13:26] adtac opened #32 "Paragraphs breaks don't work"
I think [this](https://github.com/coala/projects/pull/27/commits/ec3904020b727d19edec8b090fcaa7031b4f493b#diff-312917948c2ef19bb65655cc928a96c9L16) is meant to be a para break

[2017-01-17 13:30] adtac opened #33 "Add a visible line under the search bar in the projects list"
I didn't realize it's a search bar first :P

[2017-01-17 13:30] adtac opened #34 "Search: filter as you type"

[2017-01-17 13:31] adtac commented on #34
Ok, this actually work. Closing

[2017-01-17 13:31] #34 closed

[2017-01-17 13:31] adtac opened #35 "Monospace font for mentor user IDs"

[2017-01-17 13:32] adtac opened #36 "Link mentor IDs to github profile"

[2017-01-17 13:33] adtac opened #37 "Remember tab state"
If I ever want to link just to the list of projects. Maybe use that `http://projects.coala.io/#projects` or something like that?

[2017-01-17 13:34] adtac opened #38 "Tabs are too small on mobile"
1080x1920 screen, 5-inches, Google Chrome for Android

[2017-01-17 13:35] adtac opened #39 "Logo and text at the bottom interchange places on mobile"
Wait, how's this possible?

And they're at the far extremes, not together, on mobile.

[2017-01-17 14:03] #18 closed

[2017-01-17 14:22] sils opened #41 "Link GitHub nicknames on mentors list"

[2017-01-17 14:23] sils opened #42 "Link mentors in projects view to their github page"

[2017-01-17 14:38] sils opened #44 "Remove center tag"
@hemangsk center is deprecated, the whole home.html looks very weird and not at all clean. E.g. you use `col-md-6` and `col-md-5` those two don't add up to 12 :P

[2017-01-17 14:55] sils opened #45 "Drop home page"

[2017-01-17 15:05] #41 closed

[2017-01-17 15:05] #42 closed

[2017-01-17 15:18] nemaniarjun opened #47 "Text overflowing out of area"
![image](https://cloud.githubusercontent.com/assets/15715894/22026261/49621060-dcf6-11e6-82f7-06b2e19d85fd.png)
See image. Jayvdb is out of the project tab.

[2017-01-17 15:19] nemaniarjun commented on #47
Label Design

[2017-01-17 15:26] nemaniarjun opened #48 "Gitter link should point to coala.io/chat"

[2017-01-17 15:50] #12 closed

[2017-01-17 15:50] #45 closed

[2017-01-17 15:50] #48 closed

[2017-01-17 16:06] sils opened #51 "Have a JSON and MD file per project"
It'd be nice to write the main description of a project as a markdown file and to have an own JSON per project. So we'd have e.g. `improve_diffs.json` with all the data and `improve_diffs.md` with the description.

[2017-01-17 16:34] sils opened #54 "Use text transformations properly"
http://www.w3schools.com/cssref/pr_text_text-transform.asp

[2017-01-17 17:09] #4 closed

[2017-01-17 17:57] hemangsk opened #56 "projects/mentors: Use colors matching with theme"

[2017-01-17 18:02] hemangsk opened #57 "mentors: Improve heights of mentor boxes"

[2017-01-17 19:57] hemangsk opened #60 "Related "Issues" not shown in project details popup"

[2017-01-17 21:51] #33 closed

[2017-01-17 21:51] #56 closed

[2017-01-17 21:51] #57 closed

[2017-01-17 22:03] sils opened #61 "Don't uppercase so much"
E.g. the requirements themselves shouldn't be uppercased

[2017-01-17 22:12] sils opened #63 "YML Config"
So other orgs can use this

[2017-01-17 22:13] sils commented on #36
oh did that already

[2017-01-17 22:14] sils commented on #32
this should get solved by https://github.com/coala/projects/issues/8

[2017-01-17 22:14] #32 closed

[2017-01-17 22:14] sils commented on #31
this should get solved by https://github.com/coala/projects/issues/8

[2017-01-17 22:14] #31 closed

[2017-01-17 22:14] sils commented on #38
the whole thing doesn't look proper on mobile, CC @hemangsk probably easy to fix

[2017-01-18 08:51] hemangsk commented on #63
This is coolest one

[2017-01-18 08:56] jayvdb opened #64 "Allow Gitbook to edit markdown"
As part of https://github.com/coala/projects/issues/51 , it would be good to trial editing using gitbook.

I have created
https://www.gitbook.com/book/coala/projects/
But dont have rights to add the hook to sync the content.

[2017-01-18 10:17] hemangsk opened #65 "Alignment in card titles"
![screen shot 2017-01-18 at 3 46 24 pm](https://cloud.githubusercontent.com/assets/13018570/22060053/593b2536-dd95-11e6-86e8-33f9b1eedf2c.png)

Its aligned towards right, this should be in center

[2017-01-18 11:06] adtac commented on #51
Nice idea, but this will need like 10-15 JSON requests for the projects page. Unless it's over HTTP/2, this will make the site slower.

[2017-01-18 11:14] adtac opened #67 "Use a pointer cursor when I hover over project cards"
Didn't know they were clickable!

[2017-01-18 11:15] adtac opened #68 "Use a better title"
Just "coala"? :P

[2017-01-18 11:18] adtac opened #69 "Make the whole mentor card clickable"
Not just the user IDs. Oh, and let's have a pointer cursor :)

[2017-01-18 11:30] jayvdb commented on #64
Commiting from gitbooks is going to require we change the protection on the master branch.
I recommend only rultor and gitbook can commit, and rultor requires gitmate is happy.
But first I need to investigate if gitbook can depend on CI approval.

[2017-01-18 12:56] hemangsk commented on #51
@jayvdb I've begun work on this, so as a proposed solution, we can have one json file with all ```project jsons```, and separate markdown file for each ```project json``` .this way the network issues wont arise.

![screen shot 2017-01-18 at 6 18 33 pm](https://cloud.githubusercontent.com/assets/13018570/22064760/f78e84d4-ddaa-11e6-9e7c-91ec4cf622db.png)

Is this is feasible and in conformity #64?

[2017-01-18 13:47] #35 closed

[2017-01-18 13:47] #61 closed

[2017-01-18 13:47] #65 closed

[2017-01-18 13:47] #67 closed

[2017-01-18 19:53] coala-bot opened #73 "the bullets on li's seem a bit far on the left"
Opened via [gitter](https://gitter.im/coala/coala/?at=587fc7c4074f7be763e980e4) by @sils

[2017-01-18 20:35] hemangsk opened #75 "Add deployment instruction in README"

[2017-01-18 20:36] #8 closed

[2017-01-18 20:42] Makman2 opened #76 "Extend Linter Integration: Project description not really up-to-date"
It's too unspecific and `Lint` doesn't exist any more.

What I can think of is GlobalBear integration, though NiklasMM is currently working on it.

[2017-01-18 22:11] #75 closed

[2017-01-18 23:06] sils opened #81 "Flesh out descriptions"
Generally the descriptions of the projects in here aren't well enough and could be more verbose. The ideas need to be fleshed out.

[2017-01-18 23:06] sils commented on #81
CC @sims1253 the ideas page is vital, this is highly relevant and also this is based on feedback from the PSF to our current projects

[2017-01-18 23:07] sils opened #82 "Add link to Jenkins at the Jenkins project"

[2017-01-18 23:07] sils commented on #19
ok not happening for now

[2017-01-18 23:08] #19 closed

[2017-01-18 23:38] coala-bot opened #83 "Add arrows to the project details view"
So I can quickly go through all projects, especially the google people will need that.

Opened via [gitter](https://gitter.im/coala/coala/?at=587ffc6811e7a7f61db43a18) by @sils

[2017-01-18 23:42] coala-bot opened #84 "Add filter for projects"
Would be cool to be able to filter for difficlty, areas and stuff

Opened via [gitter](https://gitter.im/coala/coala/?at=587ffd53cbcb281770896f4f) by @sims1253

[2017-01-19 08:26] hemangsk commented on #51
Can we close this one. This is resolved by #59

[2017-01-19 08:33] sils commented on #51
yes

[2017-01-19 08:33] #51 closed

[2017-01-19 13:14] dracarys09 opened #85 "change "The blog is has sections" to "The blog has sections" in Improve coala website & supporting tools project"

[2017-01-19 15:51] #85 closed

[2017-01-19 16:33] hemangsk opened #87 "Add json field for suborg"

[2017-01-19 17:06] coala-bot opened #90 "FAQ Markdown not rendered correctly"
Opened via [gitter](https://gitter.im/coala/coala/?at=5880f21e519afee26b8879d4) by @sils

[2017-01-19 17:13] sils opened #91 "Use CSS title case on headings"

[2017-01-20 08:01] hemangsk opened #94 "Add markdown in requirements"

[2017-01-20 08:55] #38 closed

[2017-01-20 08:55] #91 closed

[2017-01-20 09:39] sils commented on #87
Please name and label it more like `Collaborating project` or so, try not to do a hierarchy (sub)

[2017-01-20 09:57] sils opened #96 "I need to be able to get a link to a project"

[2017-01-20 09:57] #94 closed

[2017-01-20 10:23] #87 closed

[2017-01-20 10:42] hemangsk commented on #96
What'll be the better way to have project links,

- Full project name with spaces replaced by underscore, will open the project details view
Eg: http://projects.coala.io/improve_diff_handling

or  Searching requested text in search box
http://projects.coala.io/search=improve_diff_handling

[2017-01-20 10:51] sils commented on #96
both, the full name is more important and should give the details view, the search should open the page with the search query

[2017-01-20 11:19] sils opened #98 "Generate static page (with jekyll? Possible?) for non JS users"
That was a compliant on the GSoC mentors list.

[2017-01-20 11:42] hemangsk commented on #98
A static page with all projects listed with their details?

[2017-01-20 11:48] sils commented on #98
yep someting simple will do, it's likely only a small amount of people who
will see it

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala.io/ - http://viperdev.io/ - http://gitmate.com/

On 20 January 2017 at 12:42, Hemang Kumar <notifications@github.com> wrote:

[2017-01-20 11:59] hemangsk commented on #98
We can do something like converting the projects.js from json to yaml.
Jekyll already loves yaml format, and angular will also be able to read it using [yaml to js](http://nodeca.github.io/js-yaml/),
 trying to generate a proof of concept.

[2017-01-20 15:26] coala-bot opened #101 "Add admins to mentors page"
Below the mentors let's add the admins. Just make a json list where we put in the github nicks of our admins (fneu, sils, jayvdb, sims1253) and show a "Dedicated Admin" note for those admins who are not mentors at the same time to show that they are the best go to point because they got more time than the others :)

Opened via [gitter](https://gitter.im/coala/coala/?at=58822c17519afee26b8ef7c5) by

[2017-01-20 15:27] sils commented on #83
when you have the project URLs implemented those arrows will be super simple I guess, right? Just a link to the next project.

[2017-01-20 15:27] sils commented on #83
(though you don't get a fancy sliding animation :P)

[2017-01-20 15:46] sils commented on #64
@jayvdb is trying around on this one

[2017-01-20 15:46] sils commented on #37
yeah proper page URLs, @hemangsk I'd do this before doing the search queries and the project URLs!

[2017-01-20 15:47] sils commented on #82
solved

[2017-01-20 15:47] #82 closed

[2017-01-20 15:47] sils opened #104 "Show initiative and orgs in overview"

[2017-01-20 15:49] sils opened #106 "Add project status"
We probably want projects like "pending" "in progress" and "done" and show them in that order (?) on the page with some headings in between.

[2017-01-20 15:53] sils opened #107 "Mentor names on their cards aren't centered"

[2017-01-20 17:38] sils commented on #76
@Makman2 can you do that?

[2017-01-20 17:39] sils commented on #76
POssibly @NiklasMM would be interested in helping and mentoring?

[2017-01-20 20:42] dracarys09 opened #110 "Fix spelling mistake"
The proposal has to provide a convincing strategy for ```testin``` should be The proposal has to provide a convincing strategy for ```testing```

[2017-01-20 21:03] dracarys09 opened #112 "Change difficulty label from "hard" to "high" to follow standard in Implement Aspects Support project"

[2017-01-21 09:33] #76 closed

[2017-01-21 10:48] #112 closed

[2017-01-21 10:48] #110 closed

[2017-01-21 11:40] #73 closed

[2017-01-21 11:40] #90 closed

[2017-01-21 11:40] #101 closed

[2017-01-21 11:40] #104 closed

[2017-01-21 11:40] #107 closed

[2017-01-21 11:51] adtac opened #116 "Filter by tag"
Like when I click on a tag

[2017-01-21 11:51] sils commented on #10
done

[2017-01-21 11:51] #10 closed

[2017-01-21 11:51] sils commented on #84
closing in favour of #116

[2017-01-21 11:51] #84 closed

[2017-01-21 11:52] sils commented on #68
done

[2017-01-21 11:52] sils commented on #68
(I think)

[2017-01-21 11:53] adtac commented on #68
Don't think so - the title is still "coala" for me

[2017-01-21 11:53] sils commented on #29
this is done, right?

[2017-01-21 11:53] #29 closed

[2017-01-21 11:54] sils commented on #28
doesn't seem to apply anymore, reopen if you refind it

[2017-01-21 11:54] #28 closed

[2017-01-21 11:54] adtac opened #117 "Open mentor profile in a new tab"
when I click from the projects page

[2017-01-21 11:55] adtac commented on #117
and other places

[2017-01-21 12:03] hemangsk commented on #39
Fixed in https://github.com/coala/projects/pull/92

[2017-01-21 12:08] #39 closed

[2017-01-21 12:23] hemangsk commented on #68
Any ideas for title,
[code]

[2017-01-21 12:35] sils commented on #68
just `coala Projects`?

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala.io/ - http://viperdev.io/ - http://gitmate.com/

On 21 January 2017 at 13:23, Hemang Kumar <notifications@github.com> wrote:

[2017-01-21 12:42] hemangsk commented on #68
sounds better 🎉

[2017-01-21 15:35] sils opened #119 ""Coding starts" milestone isn't clear"
this is the end of community bonding and we should clarify that

difficulty newcomer would be good if someone picks that up soon

[2017-01-21 16:13] arnab1896 commented on #119
@sils , i think it would be easier to clarify the fact that community bonding period ends if we also include tentative dates. What say you?

[2017-01-21 16:39] sils commented on #119
Just name it community bonding?

On Jan 21, 2017 5:13 PM, "arnab1896" <notifications@github.com> wrote:

@sils <https://github.com/sils> , i think it would be easier to clarify the
fact that community bonding period ends if we also include tentative dates.
What say you?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/coala/p

[2017-01-21 18:31] hemangsk opened #120 "idea: A link to docs and release after title"
For eg sth like
![screen shot 2017-01-21 at 11 59 29 pm](https://cloud.githubusercontent.com/assets/13018570/22176686/d52bb0dc-e035-11e6-97cc-a8b2f49c07d1.png)

[2017-01-21 19:14] naveentata commented on #54
Can any one elaborate this a little bit more?

[2017-01-21 19:24] sils commented on #54
sometimes things in the code are manually upper cased, CSS should do that

[2017-01-21 20:07] yash10p opened #122 "FAQ: Add important question"
This question was not addressed in the FAQs.
'What happens if someone steals my unique idea for solving a project?

[2017-01-21 23:10] Mixih opened #124 "Idea: Split projects to different files to prevent conflicts"

[2017-01-22 05:28] Vamshi99 commented on #54
Hi, I am beginner to coala bug fixing. Can anyone tell me what should I do to fix this bug?

[2017-01-22 07:02] arnab1896 commented on #119
1.
![screenshot from 2017-01-22 12-26-02](https://cloud.githubusercontent.com/assets/25241297/22180725/91ce0ede-e09e-11e6-9f13-ce0b64de6abf.png)

2.
![screenshot from 2017-01-22 12-29-57](https://cloud.githubusercontent.com/assets/25241297/22180729/a303cac2-e09e-11e6-91a7-9668b4750046.png)

@sils ; any comments?
1 OR 2, which one should i go for?

[2017-01-22 08:05] arnab1896 opened #125 "Add a new question to the FAQ section"
The question is this --->  "What happens if someone steals my unique idea for solving a project?"

[2017-01-22 08:06] #125 closed

[2017-01-22 09:46] sils commented on #54
please take another bug if you're not sure what to do here

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala.io/ - http://viperdev.io/ - http://gitmate.com/

On 22 January 2017 at 06:28, Vamshi99 <notifications@github.com> wrote:

[2017-01-22 09:55] hemangsk commented on #120
Closing as this was for coala.io, reopened in [landing-frontend repo](https://github.com/coala/landing-frontend)

[2017-01-22 09:56] #120 closed

[2017-01-22 14:51] #116 closed

[2017-01-22 14:51] #117 closed

[2017-01-22 14:51] #60 closed

[2017-01-22 18:58] Vamshi99 commented on #54
Can anyone explain what is to be done?
Should  we make changes to names of tabs in index.html[1]?
[1](https://github.com/coala/projects/blob/acedc83e7287b65c4b865b49e73b67884c72b10c/index.html#L41-L43)

[2017-01-22 20:09] coala-bot opened #127 "Add local deployment instructions."
To start a HTTP server in the project directory

Opened via [gitter](https://gitter.im/coala/coala/?at=5885116211e7a7f61dce56f7) by @hemangsk

[2017-01-22 20:11] hemangsk commented on #127
Closing as solved in #78

[2017-01-22 20:11] #127 closed

[2017-01-23 08:01] sils commented on #96
@hemangsk unassigning you for now since this approach isn't the right one and you're on other things right now.

We probably want:

- `/mentors` and `/projects` and `/faqs` for the pages
- `?project=...` or `?q=...` for search queries and the project view

[2017-01-23 12:01] Udayan12167 opened #131 "Mentor names spilling out of container when they are too long for it."
See container for "improve installation of coala and coala-bears"

[2017-01-23 12:02] Udayan12167 commented on #131
This could potentially be a problem for other fields too maybe.

[2017-01-24 02:32] gaocegege commented on #131
<img width="450" alt="2017-01-24 10 32 20" src="https://cloud.githubusercontent.com/assets/5100735/22231780/6c0b3ce8-e220-11e6-8a44-494428833550.png">

[2017-01-24 06:56] dracarys09 opened #134 "mentor names not rendered properly in Improve installation of coala and coala-bears project"
![screenshot from 2017-01-24 12-25-37](https://cloud.githubusercontent.com/assets/7283326/22237202/4c30f088-e230-11e6-8b2a-52d872b8d4fe.png)

[2017-01-24 07:00] coala-bot opened #135 "mentor name not rendering properly."
CC @dracarys09

Opened via [gitter](https://gitter.im/coala/cobot-test/?at=5886fb72c19662f153806162) by @nemaniarjun

[2017-01-24 07:08] nemaniarjun commented on #135
Dupe. We should close this.

[2017-01-24 08:39] hemangsk commented on #134
This is same as #131

[2017-01-24 08:40] hemangsk commented on #135
This is same as #131

[2017-01-24 08:56] chamathpali opened #137 "Serve the template url's from the current directory not root"
I came across running on my existing MAMP server. The template paths were from the root of the disk.

[2017-01-24 08:59] dracarys09 commented on #134
@hemangsk closing this

[2017-01-24 08:59] #134 closed

[2017-01-24 11:18] chamathpali commented on #63
And how about adding the Google Analytics code and also the org name, footer text, title.. all can be take out to the config

[2017-01-24 21:16] #68 closed

[2017-01-25 10:06] adtac opened #142 "Mention projects.coala.io somewhere in the README"

[2017-01-25 12:57] Vamshi99 commented on #47
This is same as https://github.com/coala/projects/issues/131

[2017-01-25 19:43] #131 closed

[2017-01-25 19:46] hemangsk commented on #135
Closing as fixed in https://github.com/coala/projects/pull/136

[2017-01-25 19:46] #135 closed

[2017-01-25 19:47] hemangsk commented on #47
Closing as this is solved in https://github.com/coala/projects/pull/136

[2017-01-25 19:47] #47 closed

[2017-01-25 19:50] hemangsk opened #144 "Markdown not rendering properly in project's short description in cards"
We're now using "desc" field for a one/two line summary of the project, therefore filter (filter_desc) is not required on description. This filter splits the sentence on first full stop, which is corrupting the markdown.

[2017-01-26 14:46] sils commented on #144
just remove the filter :+1:

[2017-01-27 11:15] #144 closed

[2017-01-27 13:27] #37 closed

[2017-01-27 13:27] #96 closed

[2017-01-27 15:38] hemangsk opened #150 "Project detail view doesn't work with special characters in project name"
Example It fails on: Improve coala website & supporting tools, because of *&*

[2017-01-28 00:03] gaocegege commented on #142
how about to put the link in the description
<img width="1176" alt="2017-01-28 8 01 25" src="https://cloud.githubusercontent.com/assets/5100735/22392009/0d8830f0-e530-11e6-83af-ecd19bb6fc7a.png">

[2017-01-28 02:09] jayvdb commented on #106
We should include already completed projects from previous gsoc rounds, for completeness, and as guides of what a project should look like through the various phases.
This gets a bit sticky with projects which went sour. Hopefully there are none, and wont be any, but thatis false hope. There will be one, and it will be messy if there is any information retained. Think EU data retention laws and si

[2017-01-28 10:58] hemangsk commented on #69
Hey @yash10p 😃 , just wanted to confirm whether you're still working on this?

[2017-01-28 12:18] meetmangukiya opened #154 "Include reference to bearsh and bearship in the Debug and profile bears GSoC project"
:point_up: [January 28, 2017 5:45 PM](https://gitter.im/coala/coala?at=588c8b54c0f28dd86252d4ad) and above

[2017-01-29 00:53] jayvdb opened #155 "Integrate improvements at http://openastronomy.org"
:point_up: [January 29, 2017 7:48 AM](https://gitter.im/coala/coala/gsoc?at=588d3bd21e4d4bd962a6935b)

[2017-01-29 00:54] jayvdb commented on #155
cc: @dpshelio

[2017-01-29 08:40] damngamerz commented on #44
I would like to work on this issue!!

[2017-01-29 16:00] dpshelio commented on #155
So finally it is working! (at least for the [2017]( http://openastronomy.org/gsoc/gsoc2017/) and future years). Now it needs the content.

Let me know how I can contribute back, if it's wanted at all. At the moment I'm using jekyll for our site, and only a single file per project, where the yaml front matter block is used to generate the content for the `projects` variable.

[2017-01-29 18:19] #83 closed

[2017-01-29 18:19] #150 closed

[2017-01-29 18:19] gkrishnan724 opened #158 "Make project modals change without animation"
The revealing of modal each time on pressing next arrow is disturbing.
#151

[2017-01-29 18:42] #158 closed

[2017-01-29 19:40] sils commented on #155
@dpshelio we're very happy to create upstream contributions!

[2017-01-29 19:40] sils commented on #155
(and I'm sure we'll take a look at your changes and see what we can sneak out ;))

[2017-01-29 20:01] sils opened #160 "URLs dont change if I navigate projects left/right"

[2017-01-30 11:28] coala-bot opened #164 "Add some kind of "copy command" thing to code samples"
Related to #41

Opened via [gitter](https://gitter.im/coala/coala/maintainers/?at=588f23632ff29dec06540eeb) by @sils

[2017-01-30 11:41] sils commented on #164
oops wrong repo

[2017-01-30 11:41] #164 closed

[2017-01-30 13:39] gkrishnan724 commented on #160
@sils  While doing this change: coala/projects@7ebfe13. I and @hemangsk  did notice this, however we thought that there was no need for the URL to change. Also, I would like to know your views on removing the animation on navigation?

[2017-01-30 13:40] gkrishnan724 commented on #160
Sorry about this, I just realised that it might create page refresh problems I'll work on this  :+1:

[2017-01-31 21:45] #119 closed

[2017-01-31 22:35] #44 closed

[2017-01-31 22:58] sims1253 commented on #124
this is long done

[2017-01-31 22:58] #124 closed

[2017-01-31 23:00] sims1253 commented on #30
I guess it's the same as https://github.com/coala/projects/issues/24

I'd like to have this before the deadline as it would increase readability a lot I feel

[2017-01-31 23:01] sims1253 commented on #24
duplicate of https://github.com/coala/projects/issues/30

[2017-01-31 23:01] #24 closed

[2017-02-01 14:27] impmihai commented on #160
You can simply add `$location.url('?project=' + mval)` on line 55 in app.js in order to update the address.

[2017-02-01 15:47] gkrishnan724 commented on #160
@impmihai `$location.url('?project=' + mval)` was not included for a reason. `$location.url()` refreshes the page  again which causes modal animation to appear everytime you navigate left/right(which is disturbing).  Right now, you can observe there is no animation on navigating left/right (which is good) however the page url does not change on navigating to different projects. So, what currently

[2017-02-01 16:40] impmihai commented on #160
[code]
Maybe this helps? I added the reloadOnSearch:false. I tested it on my localhost and it is working well. But i am not sure if this would break any other functionality.

[2017-02-01 20:13] arnab1896 opened #168 "README.md needs to be changed"
Although this issue was closed ---> https://github.com/coala/projects/issues/119
We have forgotten to make the necessary changes in README.md

[2017-02-03 09:15] #168 closed

[2017-02-03 10:42] #54 closed

[2017-02-03 15:25] Techievena opened #171 "Clicking any key is causing to move to the next project"
Quite annoying!!! Needs a quick fix :smiley:

[2017-02-03 15:29] coala-bot opened #172 "Fix link to issue in projects details view"
It needs to have cursor:pointer as well

Opened via [gitter](https://gitter.im/coala/coala/gsoc/?at=5894a1bfe836bf7010c87f89) by @hemangsk

[2017-02-04 08:55] #160 closed

[2017-02-04 09:12] hemangsk opened #175 "Project navigation arrows should disappear on modal close"

[2017-02-04 09:27] #175 closed

[2017-02-04 10:59] #172 closed

[2017-02-05 13:12] aalind0 opened #179 "Tabs don't change while going back, though the page changes."
If we switch tabs(like projects, mentors, FAQ) on http://projects.coala.io/#/projects and then try to go back, the black highlighter stays on the latest page only and doesn't move while the page changes.

Like as shown in the image although we are on the projects page but mentors tab is highlighted.

![ment](https://cloud.githubusercontent.com/assets/13695616/22626415/d33427b6-ebd2-11e6-8135-f3ab9

[2017-02-05 15:55] coala-bot opened #180 "Use staticman to allow users submitting projects"
https://staticman.net/

Opened via [gitter](https://gitter.im/coala/coala/?at=58974aedf045df0a220bb869) by @sils

[2017-02-05 16:02] #171 closed

[2017-02-05 16:21] adtac commented on #180
Obviously there has to be a review process to prevent spam, right? Does staticman support that?

[2017-02-05 16:34] sils commented on #180
Yes

On Feb 5, 2017 5:21 PM, "Adhityaa Chandrasekar" <notifications@github.com>
wrote:

[2017-02-05 19:02] #142 closed

[2017-02-05 21:12] arnab1896 opened #181 "Add question to FAQ about mentors"
Is it necessary to have a mentor assigned for a GSOC project in order to write a proposal.

[2017-02-06 03:24] Mariatta opened #184 "Perhaps there should be a footer"
I'm thinking that this site should have a footer, similar to the main coala.io website.

[2017-02-06 08:18] yash10p commented on #69
@hemangsk: tried a lot. but couldn't find a suitable fix.

[2017-02-06 17:37] aalind0 commented on #184
Somewhat like this ?

![new](https://cloud.githubusercontent.com/assets/13695616/22658677/f1695366-ecc0-11e6-9d15-a10e7a9c6fdf.JPG)

[2017-02-06 17:59] Mariatta commented on #184
Now, I'm just not sure what kind of agreement we have with the sponsors.
Perhaps other maintainers can comment of whether the sponsors logo should be kept here or not.

[2017-02-06 18:06] sims1253 commented on #184
@sils has made those arrangements iirc but afaik there is no "you must do this" thing. Also I'm kind of against sponsors on our projects page.

[2017-02-06 18:10] Mariatta commented on #184
Thanks for your input, @sims1253

@aalind0 Let's do the footer but without any of the sponsors logo.

[2017-02-06 18:13] aalind0 commented on #184
Okay! No partners as well ?

[2017-02-06 18:15] sims1253 commented on #184
could be interesting to add the colab projects there but that might get crowded fast

[2017-02-06 18:17] Mariatta commented on #184
No sponsors & no partners :)

[2017-02-06 18:48] ashwini0529 opened #194 "Project view modal should have two different vertical scrollbars"
<img width="1280" alt="screen shot 2017-02-07 at 12 15 10 am" src="https://cloud.githubusercontent.com/assets/8419333/22661275/cf5250c0-ecca-11e6-9b7c-0cb09921905d.png">

The left section and right section should have different scrollbars.

[2017-02-06 18:51] ashwini0529 commented on #184
We can have a line width footer. Like github has.
<img width="1280" alt="screen shot 2017-02-07 at 12 20 47 am" src="https://cloud.githubusercontent.com/assets/8419333/22661411/4d2c96ea-eccb-11e6-89b4-3bcb7ea9ae15.png">

[2017-02-06 18:57] aalind0 commented on #184
@ashwini0529 As in the footer we would have to include the list items links such as newcomer docs, code of conduct, etc plus we have to give the twitter and the gitter link. Specifying all of them in a single line would look much crowdy plus would not look much good also.
I recommend modifying the existing footer only. Plus that would be consistent with coala's main site as well.

[2017-02-06 19:02] Mariatta commented on #184
Let's keep the original design that matches coala.io.
Thanks

[2017-02-06 20:23] Mariatta commented on #184
So the BDL wants to keep this page relevant to GSoC only, and not be too cluttered.

I got these clear instructions from him 😉
- Remove sponsors & partner logo from this page
- Chat on gitter should link to https://gitter.im/coala/coala/gsoc
- Keep the links to Documentation, CoC, Newcomer Guide, Blog
- Keep the twitter link
- Remove Donate link

Thanks!

[2017-02-06 21:11] #181 closed

[2017-02-07 02:51] meetmangukiya commented on #194
I think it is just about separating the `div`s, labelling low, if it is not feel free to change @hemangsk

[2017-02-08 15:49] arnab1896 opened #206 "font size of 'MILESTONES' in generic_bears.md not consistent with other files"

[2017-02-08 15:58] arnab1896 opened #208 "small typo in implement_aspects.md"
change 'unnecessary' to 'unnecessarily'

[2017-02-08 15:59] arnab1896 commented on #208
@sims1253 ; could you please mark this as a newcomer issue.

Cheers! :tada:

[2017-02-08 16:09] #30 closed

[2017-02-08 17:02] #206 closed

[2017-02-08 17:56] raj-maurya commented on #208
@arnab1896
I am up for this issue.

[2017-02-08 18:42] coala-bot opened #211 "Typo in debug and profile bears"
Under milestones -> participation/bonding -> The applicant is has gone through the pdb docuemntation.
Remove the  `is`

Opened via [gitter](https://gitter.im/coala/coala/?at=589b6694de50490822a2a03e) by @meetmangukiya

[2017-02-08 20:19] ashwini0529 commented on #180
I want to take it up. Please guide me about where to create the form?

[2017-02-08 20:21] sils commented on #180
Read the docs if staticmsn, we don't know either

On Feb 8, 2017 9:19 PM, "Ashwini Purohit" <notifications@github.com> wrote:

[2017-02-08 20:24] #211 closed

[2017-02-08 20:44] ashwini0529 commented on #180
I've gone through the docs and now can work upon staticman.
We need to create a form to submit the projects.
So I'll create a form and integrate staticman into it.

[2017-02-08 20:45] sils commented on #180
yeah we probably want an own page somewhere, let @hemangsk design how it
looks like and where it should go?

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala.io/ - http://viperdev.io/ - http://gitmate.com/

On 8 February 2017 at 21:44, Ashwini Purohit <notifications@github.com>
wrote:

[2017-02-08 20:46] ashwini0529 commented on #180
I can design if you want! 😄

[2017-02-08 21:02] sims1253 commented on #81
@myint could you come up with a nice description for the gsoc project ([see current version here](http://projects.coala.io/#/projects?project=improve_sphinx_support_in_rstcheck)
We (or rather google) would like to have a motivation for for why this project is needed and what problem it solves and a goal it wants to reach for each project. Any help would be appreciated.
File is here: https://github

[2017-02-08 21:03] sils commented on #180
or that ;)

[2017-02-08 21:08] hemangsk commented on #180
While setting up angular routing for forms, think it can go inside
[code]
- Partials directory - as it will go inside <div ng-view></div> in index.html, when the route is clicked
- forms folder -  to have the option to integrate other forms in future (?)
- projects.html - as this form deals forthrightly with adding new projects, we can call it projects.html

[2017-02-08 21:14] ashwini0529 commented on #180
@hemangsk Alright!

[2017-02-08 21:23] hemangsk commented on #180
@ashwini0529 That was just a suggestion 😃

[2017-02-08 22:16] #122 closed

[2017-02-09 09:05] yash-nisar commented on #194
@etotientz , Our deadline is within a few hours. Please try to incorporate the changes as soon as possible. Thanks ! :smile:

[2017-02-09 09:32] #208 closed

[2017-02-09 13:23] etotientz commented on #194
I am trying.But if it is urgent, you can reassign someone else.

[2017-02-09 17:02] etotientz opened #219 "Edit command to run website on local machine for Python3"
The SimpleHTTPServer module has been merged into http.server in Python 3.
So the command changes as <python3 -m http.server>  (only for python3)
Check http://stackoverflow.com/questions/7943751/what-is-the-python-3-equivalent-of-python-m-simplehttpserver for more info.

[2017-02-09 17:03] sils commented on #194
I disagree, why two scrollbars?

[2017-02-09 17:03] sils commented on #194
Just make things complicated for the user

[2017-02-09 17:05] etotientz commented on #194
yeah,it was looking a bit untidy..A single scroll is better.

[2017-02-09 17:25] sils commented on #194
@ashwini0529 can we close this as wontfix or do you disagree?

[2017-02-09 18:08] ashwini0529 commented on #194
@sils just one issue that the left part is about the project and it still gets scrolled down even if we want to. Is there any other way of solving this?

[2017-02-09 18:13] sils commented on #194
not sure what you mean, complicated scrolling behaviour is... well
complicated. And we should avoid that unless there's a bigger benefit IMO
or use a library for that. Do not start to brew an own solution please.

[2017-02-09 18:15] yash-nisar commented on #194
Everything is pretty neat, I don't think we need 2 scrollbars. 😄

[2017-02-09 18:16] sils commented on #194
enough discussion. This wastes time. Please open an issue with proper reasoning if anyone things there is an issue to solve here.

[2017-02-09 18:16] #194 closed

[2017-02-09 18:16] sils commented on #194
(that sounded meaner than intended :D)

[2017-02-09 22:50] Cadair opened #220 "Allow direct linking to a project"
Thanks for the awesome project site, I just thought it would be useful to be able to have a link directly to a project.

[2017-02-10 03:31] meetmangukiya commented on #220
Click on the project, you will find the specific link of the project in the address bar

[2017-02-10 09:22] Cadair commented on #220
ok, it seems we have broken that on openastronmy.org. Sorry for the noise.

[2017-02-10 09:22] #220 closed

[2017-02-10 14:51] myint commented on #81
I'll try expanding it this weekend.

[2017-02-11 23:31] ashwini0529 commented on #180
Do we still need this?
I don't think it supports `markdowns` -> https://staticman.net/docs/configuration#format

[2017-02-12 20:36] yash-nisar opened #221 "Broken link for 'existing bear proposal'"
Link : http://projects.coala.io/#/projects?project=integrate_pyflakes-enhanced_ast_into_coala_
difficulty/newcomer

[2017-02-13 10:44] srisankethu commented on #221
@yash-nisar Hmmm....Try opening the link in a new tab -> [link](http://projects.coala.io/#/projects?project=integrate_pyflakes-enhanced_ast_into_coala_)

[2017-02-13 12:47] yash-nisar commented on #221
I meant in the Project "Integrate pyflakes-enhanced AST into coala", under the "Requirements" section, there is a broken link for `existing bear proposal`. @srisankethu

[2017-02-13 16:13] coala-bot opened #223 "Typo in One click linting for online projects in the browser"
`Coala` should be `coala`.

Opened via [gitter](https://gitter.im/coala/cobot-test/?at=58a1db41de50490822c1d8fb) by @nemaniarjun

[2017-02-15 11:30] coala-bot opened #224 "Broken link and typo in Gitmate for GitLab"
The goals for the project `Implement GitLab and Bitbucket Support for GitMate`
has a few typos and a broken link.
Difficulty/Newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=58a43bd8aa800ee52c9adcba) by @nemaniarjun

[2017-02-15 12:38] Razoic commented on #224
I would like to be assigned this task

[2017-02-15 19:06] Razoic commented on #224
Verified checklist items, it can be merged, awaiting review.

[2017-02-15 19:14] hemangsk commented on #224
Hey @Razoic 😃
You'll have to create a Pull request, check out the newcomer guide [Guide](http://api.coala.io/en/latest/Developers/Newcomers_Guide.html#step-6-creating-a-pull-request), it has instructions on how to create a PR.

[2017-02-25 17:25] arnab1896 opened #228 "Clicking on a tab should open up in new tab"
If a tab is clicked ... let's say projects or mentors or FAQ
while holding CTRL button; then it must open up in a
new tab on the browser.
difficulty/low

[2017-02-25 17:30] #228 closed

[2017-02-25 17:31] arnab1896 opened #229 "Clicking on a tab should open up in new tab"
If a tab is clicked ... let's say projects or mentors or FAQ
while holding CTRL button; then it must open up in a
new tab on the browser
enhancement
difficulty/low

[2017-02-27 18:24] coala-bot opened #230 "Add selection criteria in the faq"
Opened via [gitter](https://gitter.im/coala/coala/gsoc/?at=58b46ed81465c46a56c023c6) by @sims1253

[2017-02-27 18:24] coala-bot opened #231 "Add "We know nothing until we know it" to the faq"
Opened via [gitter](https://gitter.im/coala/coala/gsoc/?at=58b46ef37ceae5376a484fa3) by @sims1253

[2017-03-02 06:34] #229 closed

[2017-03-02 19:47] Anirudh5 commented on #221
@yash-nisar , I want to take up this issue.

[2017-03-03 06:28] yash-nisar commented on #221
Sure, you can assign yourself by using `cobot assign full-issue-url` on our gitter channel. Please don't work on issues without assignment as that can lead to conflicts (ie. multiple people working on a single issue)

[2017-03-03 08:17] Techievena opened #234 "writing_great_proposal.md: Line not showing up on website"
Last line of `writing_great_proposal.md` not showing up properly on the website. The link is missing.

[2017-03-03 08:24] Techievena opened #235 "application_template.md: Typo error"
In https://github.com/coala/projects/blame/master/data/faq/application_template.md#L57 replace `to` with `do`.

[2017-03-03 12:31] Anirudh5 commented on #221
I used that command but I am not able to assign myself the same.

[2017-03-03 14:02] coala-bot opened #236 "typo in template"
Spot: `What parts of coala to you have to work with in order to complete
  this project? What else are you planning on using?` in the project template and change `to you have to` to `do you have to`
difficulty/newcomer

Opened via [gitter](https://gitter.im/coala/coala/offtopic/?at=58b97786872fc8ce62af4fa4) by @meetmangukiya

[2017-03-03 21:52] Anirudh5 commented on #221
@yash-nisar I have done all the required changes and made up a pull request please look forward to it.

[2017-03-04 05:18] yash-nisar commented on #221
You have close the PR. There is no need of closing the PR if you make a mistake. You can change your commit by `git commit --amend` and the `git push -f remote branchname`.

[2017-03-04 11:10] satwikkansal opened #238 "FAQ: Incomplete line"
![image](https://cloud.githubusercontent.com/assets/10217535/23578281/2faaa34a-00f9-11e7-8174-3833970ef2c2.png)

^ The last line needs to be completed with appropriate link.

DIfficluty/newcomer

[2017-03-04 11:16] satwikkansal opened #239 "FAQ: Add anchor to the application template"
![image](https://cloud.githubusercontent.com/assets/10217535/23578295/c74a4eb2-00f9-11e7-99d5-a5d5c1464186.png)

The **`aplication template `** should be link that navigates the user to :

![image](https://cloud.githubusercontent.com/assets/10217535/23578301/e9fc9a96-00f9-11e7-929b-b09a0bd4e7c7.png)

difficulty/newcomer

[2017-03-04 11:20] satwikkansal opened #240 "Typo in the "thesis" faq"
![image](https://cloud.githubusercontent.com/assets/10217535/23578343/879898ae-00fa-11e7-93d8-349c2abd7b8b.png)

difficulty/newcomer

[2017-03-04 11:21] satwikkansal commented on #238
Also
![image](https://cloud.githubusercontent.com/assets/10217535/23578359/d39e697c-00fa-11e7-8c07-fd8e51559a94.png)

[2017-03-04 11:42] Techievena commented on #238
I have already created an issue for it @satwikkansal https://github.com/coala/projects/issues/234

[2017-03-04 11:44] Techievena commented on #236
I have already created an issue for it @meetmangukiya

[2017-03-04 12:47] #236 closed

[2017-03-04 13:05] satwikkansal commented on #238
Oh, my bad :worried: Should've checked first. Closing it then!

[2017-03-04 13:05] #238 closed

[2017-03-04 13:50] Yashwanthv21 commented on #239
In which code base is this? can you be more elaborate ?

[2017-03-04 13:55] satwikkansal commented on #239
@Yashwanthv21 In the FAQ page http://projects.coala.io/#/faq . You'll find relevant code in this repository only ;)

[2017-03-04 16:19] samanyougarg commented on #239
Can you assign it to me?

[2017-03-04 16:22] satwikkansal commented on #239
I don't have the rights to do so :) You can use cobot in our gitter channel
to assign yourself.

On Sat, Mar 4, 2017 at 9:49 PM, Samanyou Garg <notifications@github.com>
wrote:

[2017-03-04 16:30] samanyougarg commented on #239
I did that but it doesn't say assigned here.

[2017-03-05 11:29] ShirinShahanaKV commented on #239
can i know what is the issue in detail?

[2017-03-05 12:31] satwikkansal commented on #239
Basically, when you click **`application template`**  in "writing the proposal", it should scroll down to "Do you have an application template" FAQ, where the application template actually is.

[2017-03-06 17:27] shrawnz opened #248 "Missing link in "Writing a proposal" faq"
Under the FAQ section "How do I work out a great proposal?", there is a missing link on finding further information about GSOC.
![image](https://cloud.githubusercontent.com/assets/16079854/23621293/1045daec-02c0-11e7-803e-6da658030477.png)

[2017-03-06 18:25] Vamshi99 opened #249 "Missing Link in "write a thesis with coala""
Change the code accordingly in "thesis.md", to display link at the end of "write a thesis with coala" in FAQ page.

[2017-03-06 18:35] #248 closed

[2017-03-08 13:24] yash-nisar opened #253 "debug_profile.md: Fix typo"
`docuemntation` should be changed to `documentation`. :)
difficulty/newcomer

[2017-03-08 18:32] patilpushkarp commented on #249
Can you please explain in detail what needs to be done?

[2017-03-10 04:49] jayvdb commented on #248
Note this is a dup of https://github.com/coala/projects/issues/234

[2017-03-10 05:08] #234 closed

[2017-03-10 06:58] Vamshi99 commented on #249
See http://projects.coala.io/#/faq, a link is missing at the end of "I want to write a thesis with coala!"
![misssinglink](https://cloud.githubusercontent.com/assets/20969586/23785288/020f7a26-058d-11e7-9f0f-a167f18e5e36.PNG)

[2017-03-10 14:34] #235 closed

[2017-03-13 14:09] #249 closed

[2017-03-14 12:17] impmihai opened #258 "coala-html as a proper gui"
Hello! I would like to debate with you the idea of evolving the coala-html project into a true GUI for coala. At the moment, we use coala-html only to see the result of running coala on a directory and that's all. We could do so much better than that.

My idea is to combine all other projects in a nice and simple interface, one could start using right away. My first experience with coala was quite

[2017-03-14 12:27] Adrianzatreanu commented on #258
I feel like this sounds quite complicated and hard to achieve, considering some parts of coala are not that stable (we dont even treat bear requirements right).
But supposing we'd have what youre aiming for: a nice GUI, which would integrate quickstart, coala and even installation of bears, would be a dream and probably make it a top tier choice.
However, I find it hard to achieve and it would pro

[2017-03-14 12:35] sils commented on #258
@impmihai gorgeous, I think we're on the same page. The important bit here is that coala-html evolves and we don't make a new project because that would loose focus and there'd be a higher chance of either coala-html or the new project or both being unmaintained in the end.

From a technical POV: I think we should modularize this properly. I.e. there should be a module that just shows the results

[2017-03-14 12:37] sils commented on #258
See also https://discuss.atom.io/t/how-to-run-electron-desktop-app-in-web-browser-without-downloading/30495

[2017-03-14 12:44] sims1253 commented on #258
One concern is that we (or at least I) got a lot of feedback during conferences that people liked the html output we have right now. Just some kind of "status page" they can look at.
We'd want an option to keep that. Besides that, I dislike building stuff on top of browsers buuuut they sadly are the only "simple" option for unified UIs

[2017-03-14 12:48] impmihai commented on #258
@sils, a commend from the link you gave me:`You misunderstand what Electron is. Electron is just Node14, packaged up with part of Chromium so that it can display HTML and compile JavaScript. If you want a web app that does exactly the same things, just write a web app with Node.`

We could share the same core between the electron app and the website. The idea about the site is that we would have t

[2017-03-14 12:50] sils commented on #258
Yep love it! :)

[2017-03-14 12:55] impmihai commented on #258
@sims1253 Evolving does not mean removing features :D At the moment, what i see in the coala-html project is that it runs coala and then opens a web-server that has the results. The way I see this is having a button to execute coala and after it is executed, the output appears, showing the same way it is right now. I think that we could still keep the interactive type we have in the CLI would be p

[2017-03-14 12:57] sims1253 commented on #258
I totally like the idea of some form of gui for coala. Makes it much more approachable for a wide audience that doesn't use the terminal.
Just wanted to add that the simple thing we have at the moment actually gives value by being as simple.
Couldn't we even write html files and offer them instead of spawning a server?

[2017-03-14 13:00] impmihai commented on #258
Well, this is the way electron works. It gives you the ability to serve html files and make them dynamic using javascript while also having access to the computer's functionality like the file system or executing processes through node.

[2017-03-14 13:01] sims1253 commented on #258
and that totally feels bloated for just displaying results. But I have no experience with web dev stuff so my opinion shouldn't hold much weight :D

[2017-03-14 13:03] impmihai commented on #258
Well, have you ever used the atom text editor? It is built using electron :D You can see on their webpage some of the projects that use electron, on the bottom of the page: https://electron.atom.io/

[2017-03-14 14:12] sims1253 commented on #258
I did and it felt slow as hell compared to sublime, hogged my ram and so I left it :D

[2017-03-14 14:27] impmihai commented on #258
https://github.com/electron/electron/issues/5672 you can find here more about it's performance. It feels slow because it is actually opened in a browser. This would be the best option for portability. This or PyQt, but it is not as flexible as electron.

[2017-03-14 14:45] sils commented on #258
browser performance is totally ok for running coala, making a native app
would be a total waste, we kind of agreed on that earlier so let's not open
pandoras box again.

Sincerely,

Lasse Schuirmann

lasse@schuirmann.net
http://coala.io/ - http://viperdev.io/ - http://gitmate.com/

On 14 March 2017 at 15:27, Mihai Ionut <notifications@github.com> wrote:

[2017-03-14 14:54] hemangsk commented on #258
Agree entirely, and if we want a native app feel, we can open a completely new 'browser window' everytime coala-html is fired up.

So if you think about it, Atom opening in an electron wrapper and Atom opening in a browser window is not entirely different apart from the fact that,  we get a url bar and reasonably good performance when its opened in browser.

[2017-03-14 16:06] coala-bot opened #259 "Create coafile"
difficulty/low

Opened via [gitter](https://gitter.im/coala/coala/?at=58c814f57ceae5376ab9d627) by @sils

[2017-03-14 16:29] vimcoffee commented on #259
@sils what bears should describe the .coafile?

[2017-03-14 17:24] hemangsk commented on #259
Hello @vimcoffee,  Checkout coala-quickstart, it creates a coafile for your project 😃  and see coala.io/languages to search for bears.

[2017-03-14 17:56] coala-bot opened #261 "projects.js: Change enhancing_coala_quickstart.md to enhance_coala_quickstart.md"
Opened via [gitter](https://gitter.im/coala/coala/gsoc/?at=58c82eb4de504908228dface) by @adtac

[2017-03-14 18:40] coala-bot opened #263 "Typo in Integrate ANTLR project description - `Succesful` -> `Successful`."
Opened via [gitter](https://gitter.im/coala/coala/gsoc/?at=58c8391d00c00c3d4f08cf1d) by @aptrishu

[2017-03-15 01:21] impmihai commented on #258
http://projects.coala.io/#/projects?project=improve_coala_website_%26_supporting_tools I just read a little more carefully this and I see that there is some pretty high involvement around coala-html too. How would this project affect what is written here? Can I write a proposal for that project with the ideas I have written here?

[2017-03-15 08:39] sils commented on #258
We'll sort that out with you during the application phase, just make sure
to submit your application as soon as possible so we can give you feedback
for potentially needed adjustments.

[2017-03-15 10:07] impmihai commented on #258
Okay!😀

[2017-03-15 13:56] vimcoffee commented on #253
Should be good to go right now (:

[2017-03-15 13:56] vimcoffee commented on #259
Thanks @hemangsk (:

[2017-03-16 12:11] sils commented on #259
No an empty coafile is useless, we really want a useful coafile here ;)

On Mar 15, 2017 10:59 PM, "Alex Tooru Parker" <notifications@github.com>
wrote:

[2017-03-16 15:22] #253 closed

[2017-03-16 23:05] Nosferatul opened #268 "change "and to you have any preference for a particular mentor?" -> "and do you....""
In application_template.md

[2017-03-21 08:24] coala-bot opened #271 "Clarify coala is source of all messages in real-time communication bridge"
The text talks about 'CI' and 'an error' and 'validations'.  Clarify all of these are referring to coala running.
difficulty/low

Opened via [gitter](https://gitter.im/coala/coala/gsoc/?at=58d0e347590d72c864ecd655) by @jayvdb

[2017-03-21 08:30] nemaniarjun commented on #271
@jayvdb Can you clarify this asap,
We have to modify our applications accordingly.

I and @ashwini0529 both are confused about the project.

[2017-03-21 08:33] ashwini0529 commented on #271
Does it have any relation with CI logs? I thought this is regarding the CI build fails and PRs. 😕

[2017-03-21 08:35] nemaniarjun commented on #271
How can coala messages/output/faliure be changed without a PR?

[2017-03-21 17:22] jayvdb commented on #271
Real time team communication bridge is a bot that bridges coala to a chatroom.

[2017-03-21 17:30] ashwini0529 commented on #271
Then what is the use of CI in this?

[2017-03-21 21:28] nemaniarjun commented on #271
Copying comment from gitter for tracking purposes:

@ashwini0529 @jayvdb I think I have got the project understood properly

This means that coala is not run in the CI when you are developing the project
But only when you have betas and release candidates.
This would mean that the master will fail as soon as you activate coala on it.
To communicate these errors we will use the bot.

[2017-03-22 13:22] impmihai commented on #258
If I already have coala-html running in an electron window, should I make a PR with this, to prove my capabilities of finishing this?

[2017-03-22 14:16] coala-bot opened #272 "extend_linter_integration.md: Remove mention of "adding global linter support""
Since project wide support ie. global linter bear support has been added (See https://github.com/coala/coala/pull/3652), we need to remove `adding project wide linter support to the @linter decorator` from http://projects.coala.io/#/projects?project=extend_linter_integration project.
difficulty/newcomer

Opened via [gitter](https://gitter.im/coala/cobot-test/?at=58d2872e5917e26076c0cc4e) by @yash-

[2017-03-22 14:17] yash-nisar commented on #272
difficulty/newcomer

[2017-03-22 18:50] ZeyanaAM commented on #272
Hi, could I be assigned to this?

[2017-03-22 18:52] hemangsk commented on #272
Hey, @ZeyanaAM You can do ```cobot assign <issue-url>``` on the gitter channel to assign yourself to issues.

[2017-03-23 14:25] Flap-Py opened #273 "link for issues are not clickable."
http://projects.coala.io/#/projects?project=documentation_extraction_and_parsing

The issues mentioned in coding phase 3 are super imposed by the arrows (link for next and previous project).
![image](https://cloud.githubusercontent.com/assets/11754275/24252133/9233a3b4-1002-11e7-8aef-b7c164c48fc2.png)
difficulty/newcomer

[2017-03-27 00:40] jayvdb opened #276 "Audit other gsoc ideas lists and incorporate missing features"
E.g. https://github.com/fossasia/labs.fossasia.org/

Ideally a few other gsoc projects adopt this project tool by next gsoc.

[2017-03-28 06:02] NiklasMM commented on #259
@vimcoffee I'm unassigning you since you have abandoned your PR.

[2017-03-28 07:34] impmihai commented on #258
Ok, so by looking deeper in the project, I found 3 possible solutions to this.

My first approach is to port everything to javascript from python. This would be the most elegant solution, as it cleans up the project and makes it easier to understand. Also the instalation will be easier for beginners. coala will be called with process spawning and the output  will be saved as a json in the analyzed

[2017-03-28 08:50] jayvdb commented on #259
fwiw, we now have a basic `.coafile`.  I forgot to mention this issue. https://github.com/coala/projects/pull/277

There are still lots of bears yet to be enabled, but they probably all need quite a few changes and non-trivial configuration.

[2017-03-28 08:50] #259 closed

[2017-03-28 15:22] shreab373 commented on #263
can i take this?

[2017-03-28 15:34] hemangsk commented on #263
Hey, @shreab373  welcome to this project! 😃  To get started, goto the [gitter](http://coala.io/chat) and say hello to everyone there. The maintainers will add you to the org, and after that you can assign this issue to yourself with on gitter using ```cobot assign <issue-url>```.

[2017-03-28 15:36] shreab373 commented on #263
ah, great thanks!

[2017-03-29 14:41] #263 closed

[2017-03-30 13:41] coala-bot opened #279 "style.css: Have minimal usage of !important"
Opened via [gitter](https://gitter.im/coala/coala/?at=58dd0b04ad849bcf423481e5) by @hemangsk

[2017-03-30 15:10] coala-bot opened #280 "Diff project: fix spelling mistake 'desireable'"
difficulty/newcomer

Opened via [gitter](https://gitter.im/coala/coala/gsoc/?at=58dd1fcbf22385553df0ea99) by @jayvdb

[2017-03-30 17:49] SanketDG commented on #224
@Razoic still on this?

[2017-03-31 11:19] sushilm2011 commented on #280
I want to be assigned this issue

[2017-03-31 11:26] hemangsk commented on #280
Hey, @sushilm2011 welcome to this project! 😃 To get started, goto the gitter and say hello to everyone there. The maintainers will add you to the org, and after that you can assign this issue to yourself using cobot assign <issue-url>.

[2017-03-31 11:33] sushilm2011 commented on #280
gitter.im/coala/coala is this the link?

[2017-03-31 11:52] hemangsk commented on #280
yeah :+1:

[2017-03-31 12:54] hemangsk commented on #280
@sushilm2011, I've assigned this issue to you 😄  👍

[2017-03-31 14:22] sushilm2011 commented on #280
Thank You!! :)

[2017-04-02 01:18] jayvdb commented on #276
http://101.opensuse.org/gsoc/ is nice

[2017-04-08 07:31] RohanVB opened #284 "Create tab for all the google forms"
Just an idea - since most of the forms are posted on gitter and get lost with messages within a day, why not have a tab with an **archive of all of the important forms**? Most recently - a recent one that comes to mind - `the europython talks proposal`.
Maybe we could have a separate page for this.

[2017-05-12 18:30] satwikkansal opened #291 "Remove High involvement tags from projects"
These were probably intended for GSoC application phase.

difficulty/newcomer

[2017-05-16 00:29] hemanthsavasere commented on #291
Hello @satwikkansal,
I am a newcomer and I want to work on this issue.Can you please guide me.

[2017-05-16 05:10] satwikkansal commented on #291
Hey, the aim is basically to remove high involvement tags from projects at
projects.coala.io
You can assign yourself to the issue using cobot on our gitter channel, in
case you need further help... Please feel free to ask in our gitter channel

On May 16, 2017 5:59 AM, "Hemanth Savasere" <notifications@github.com>
wrote:

[2017-05-20 12:06] RJ722 opened #294 "Horizontal scrolling not working"
I added an image to show up in the project details which was big enough to require horizontal scrolling. The scroll bar did show up but it wasn't working.

Screenshot:
![snapshot1](https://cloud.githubusercontent.com/assets/15556382/26275622/c70c51f0-3d82-11e7-9538-349d4a404c12.png)

[2017-05-20 18:37] satwikkansal opened #295 "Add milestones field in the projects.js and display it in the project description."
Currently, all the GSoC projects contain a lot of issues being displayed. IMO, it would be better to just add the Gitlab milestones instead of all the issues because some issues may be closed or more issues may be created over the time.

[2017-05-23 18:18] jayvdb commented on #81
Student slots filled.
Any additional improvements to the descriptions can be addressed with separate issues.

[2017-05-23 18:18] #81 closed

[2017-05-23 18:45] nkprince007 opened #298 "Differentiate color-wise for closed, merged and open issues on project description popup"
The popups for projects shows issues on the left side, but does not differentiate them as merged, closed or open. It'd be better if we had a real-time differentiation for the issues.

Using gitlab and github api to find details about issues would solve the issue.

[2017-05-23 18:46] nkprince007 commented on #298
CC @hemangsk

[2017-05-23 18:49] jayvdb opened #299 "Prepare for GCI 2017"
Migrating https://github.com/coala/coala/issues/3217 here, coala intends to participate in GCI again in December 2017-January 2018

- [ ] Move all GSOC specific content (not projects) under a GSOC information area
- [ ] Add a GCI information area
- [ ] Add GCI tasks
- [ ] Add functionality to show task/project dependencies, so GCI participants can see the next tasks they can do after completing a

[2017-05-26 15:39] satwikkansal opened #301 "Tracking progress of projects"
There can be a way to depict the progress and current status of the project. Example, marking "*" in front of the project tasks/milestones which are done, and another character for marking those in progress.
^^ Idea by @Adrianzatreanu

status/needs discussion

[2017-05-26 17:52] jayvdb commented on #106
We now have "In progress", but I cant see any way to sort them. cc @hemangsk

It would also be good to include the developer assigned to the in progress projects.

[2017-05-31 08:39] meetmangukiya opened #306 "Listed items are not rendered correctly"
see the source for the same and the rendered part here :
http://projects.coala.io/#/projects?project=cobot_enhancement,_testing_and_porting

maybe the markdown renderer isn't working well?
/cc @hemangsk ?

[2017-05-31 09:06] hemangsk commented on #306
Solved via https://github.com/coala/coalaCSS/pull/4

[2017-05-31 10:15] hemangsk commented on #306
Sorry I misunderstood the issue, its related to rendering of ordered lists and not unordered lists.  Fix
 on the way 👍

[2017-05-31 10:32] hemangsk commented on #306
@meetmangukiya fixed 🚀

[2017-05-31 10:32] #306 closed

[2017-05-31 10:39] meetmangukiya commented on #306
Works, thanks!

[2017-06-01 07:34] coala-bot opened #308 "cobot_enhancement.md: URLs are not encoded correctly"
The links are not links, and as a result `_` in the URLs are rendered as italics.
cc @meetmangukiya
difficulty/newcomer

Opened via [gitter](https://gitter.im/coala/coala/offtopic/?at=592fc39a631b8e4e6132cd7e) by @jayvdb

[2017-06-01 11:50] satwikkansal opened #310 "Add a field for "developers-involved" for projects labeled "In Progress""
difficulty/newcomer

[2017-06-06 07:05] AnishHota commented on #308
Hey, i am a newbie. Haven't yet contributed to open source project. I will like to take this issue. But all the links on the cobot_enhancement.md works fine. Could you please leaborate the issue so that i can contribute. Thank you.

[2017-06-10 15:46] arkadeepta commented on #308
All the links in cobot_enhancement.md works fine. The _ in URLs is rendered as italics because that is the format of how it should appear in a text editor if we want to add an inline link in a markdown file. Example: [text to display](the actual link). The difference is not noticed in other links of the file because there are only two inline link in the whole markdown file in the format given abov

[2017-06-18 00:36] coala-bot opened #313 "Check repository for .yml files using YAMLLintBear"
Add YAMLLintBear in .coafile and fix .yml file issues raised by coala. See https://github.com/coala/coala-bears/pull/1799 for reference.
difficulty/newcomer

Opened via [gitter](https://gitter.im/coala/coala/?at=5945cb02f31c8ced0c47a015) by @Monal5031

[2017-06-19 04:26] coala-bot opened #314 "Create gci task about LicenseBear using https://tldrlegal.com"
Opened via [gitter](https://gitter.im/coala/coala/offtopic/?at=59475275f31c8ced0c4cc3c3) by @jayvdb

[2017-06-27 23:12] jayvdb opened #315 "Create GCI task to create wheels"
https://github.com/coala/coala/issues/3753
https://github.com/coala/coala-bears/issues/1436

Need to document the rough process.

This is a process where we want to create many tasks from a pre-set list, and allocate each one to a different student.

[2017-06-30 18:15] #273 closed

[2017-07-04 00:56] Arsfiqball opened #318 "Use cursor pointer when mouse hover over navbar tabs"
Cursor type must be "pointer" when hover over tabs in the header to tell quickly that it is clickable.
difficulty/low

[2017-07-04 01:02] Arsfiqball opened #319 "Font size in searchbar becomes very small in small screen"
Why it does not use ordinary size unit like pt instead of vw?
difficulty/low

[2017-07-04 02:29] jayvdb commented on #318
Is this difficulty newcomer, or difficulty low?
Always add the difficulty to the initial issue description.

[2017-07-04 02:29] jayvdb commented on #319
Is this difficulty newcomer, or difficulty low?
Always add the difficulty to the initial issue description.

[2017-07-06 08:11] khanchi97 commented on #319
I want to work on it.Can you please give me some more details about this.

[2017-07-08 10:12] jayvdb opened #321 "Add coala-quickstart repository to CI1 project"
The projects.js file has a list of repositories for each project.

The project "use_coala_ci_on_a_popular_github_repository" should also list the coala-quickstart repository.

[2017-07-08 11:10] jayvdb commented on #180
https://github.com/eduardoboucas/staticman/issues/30 added markdown 'post' support, which seems to be a bit broken atm, but should do what we want.

[2017-07-09 04:01] jayvdb opened #322 "Import 2016 GSOC projects"
As part of https://github.com/coala/projects/issues/106 , we should have some 2016 GSOC projects imported, and they can be marked as completed right now, so we can develop that functionality now.

See https://gitlab.com/coala/GSoC2016/issues/89 for a list of the project.

All 2015 & 2016 GSOC projects were completed successfully, so there are no mess situations to worry about.

I am not sure where

[2017-07-09 09:24] jayvdb commented on #301
related to https://github.com/coala/projects/issues/295

[2017-07-09 09:44] shivakrishna9 commented on #308
As the '_' is causing the above behavior, I want to change the _ to a '-' . @meetmangukiya Is this a right approach?

[2017-07-09 10:52] jayvdb commented on #308
@shivakrishna9 , you want to rename the files?  are there other cases of `_` which would also need renames?

[2017-07-09 13:19] shivakrishna9 commented on #308
@jayvdb Yes. I hope no new problems will arise with the change. Many orgs are using this convention.

Yes. Some files in other folders are also named with '_'s. They may cause the same behaviour later on. Can I go ahead and change the filenames and refactor the code accordingly.

[2017-07-11 00:48] jayvdb opened #323 "Language selector broken in FAQ on Chrome"
Go to http://projects.coala.io/#/faq in Chrome

Change language to Bahasa.

It changes back to English.

[2017-07-11 00:49] jayvdb opened #324 "Finish Indonesian translation of FAQ"
Translate files in https://github.com/coala/projects/tree/master/data/faq to https://github.com/coala/projects/tree/master/data/locale/id/faq

- [ ] application_template.md
- [x] contact_mentor.md
- [ ] gsoc_requirements.md
- [ ] i_want_to_do_a_gsoc.md
- [ ] is_mentor_necessary.md
- [ ] mentor_obligations.md
- [ ] own_project_idea.md
- [ ] project_participation.md
- [ ] steal_project_idea.md
- [ ]

[2017-07-11 01:19] jayvdb opened #325 "Translate Indonesian translation of FAQ titles"
Translate the rest of https://github.com/coala/projects/blob/master/data/faq.js to https://github.com/coala/projects/blob/master/data/locale/id/faq.json

[2017-07-11 03:10] Arsfiqball commented on #323
hmm... we need to add some logic in javascript to control the language selector.
Move in-document javascript into proper javascript file.
Lookup for ``lang`` variable in ``localStorage`` and $location.search().lang to decide which language currently used.

[2017-07-11 11:58] #325 closed

[2017-07-12 03:20] shivakrishna9 commented on #308
@jayvdb @meetarora29 Ping ;)

[2017-07-12 09:13] jayvdb opened #327 "Add Hindi translation of FAQ menu"
Translate https://github.com/coala/projects/blob/master/data/faq.js to new file https://github.com/coala/projects/blob/master/data/locale/hi/faq.json

See https://github.com/coala/projects/blob/master/data/locale/id/faq.json for required syntax.

[2017-07-12 09:19] jayvdb commented on #319
@khanchi97 , only if you understand the problem, and you want to work on it, use the bot to assign yourself to continue on your 'newcomer' path http://coala.io/newcomer

[2017-07-12 09:33] khanchi97 commented on #319
Okk @jayvdb  if i find i can do that then i'll use bot assign to get assigned to this.But for 2-3 days i'm busy in registration in my university.

[2017-07-13 05:05] Tecbeast-com commented on #321
Hello, I am a newbie and haven't contributed to any project before.
Do we have to add the 'coala-quickstart' repository in the requirements tag of the projects.js file?

[2017-07-13 14:20] ashwini0529 commented on #327
Cool. I'll send a PR soon. 😄

[2017-07-13 14:50] jayvdb commented on #321
@Tecbeast-com, before you can work on an issue, you need to accept the invitation to join the coala organisation.  See https://coala.io/newcomer

Once you've done that, we can assign this task to you.

This task requires adding `coala-quickstart` to the `collaborating_projects`.

[2017-07-13 15:19] sidharthskumar commented on #321
@Tecbeast-com hey,welcome to coala, like @jayvdb  said you have to accept the invitation that has been sent to your github linked mail-id . please accept that and  give a message in gitter ## corobo assign <issue-link> .
@jayvdb hey, i think we really have to mention this in the welcome message. i have already suggested this to meet mangukiya also . i feel it would be helpful for the newcomers :)

[2017-07-14 07:35] Tecbeast-com commented on #321
Thank you for your help. I sorted out the invitation problem. Actually, my email was not properly linked to GitHub.

[2017-07-17 14:30] hemangsk commented on #323
Will be fixed by https://github.com/coala/projects/pull/328

[2017-07-18 16:11] #63 closed

[2017-07-21 12:58] gkrishnan724 commented on #319
If anyone is working on this, this is the issue screenshot:

![issue](https://user-images.githubusercontent.com/21004514/28464366-70b78252-6e42-11e7-8008-9c409604f44a.png)

[2017-07-22 17:12] Arsfiqball commented on #323
This was already fixed in https://github.com/coala/projects/pull/328
@jayvdb please close the issue :)

[2017-07-22 21:02] #323 closed

[2017-07-22 21:33] hemangsk commented on #310
Closed via https://github.com/coala/projects/pull/312/commits/682a17e29f03585abcdd2cf4c70ee3d57fa7f015

[2017-07-22 21:33] #310 closed

[2017-07-22 21:34] hemangsk commented on #279
Since coalaCSS is now being used, so this is not relevant anymore.

[2017-07-22 21:34] #279 closed

[2017-07-24 14:24] #319 closed

[2017-07-25 12:27] #327 closed

[2017-07-25 12:52] Nosferatul opened #335 "Add Romanian translation of FAQ menu"
Translate https://github.com/coala/projects/blob/master/data/faq.js to new file https://github.com/coala/projects/blob/master/data/locale/ro/faq.json

[2017-07-31 06:06] hemangsk opened #337 "GSoC : Final Submission Page"
GSoC students have to submit a URL to their work for final evaluation to Google. Keeping in mind [Work Submission Guidelines](https://developers.google.com/open-source/gsoc/help/work-product) we could get projects.coala.io to generate a personalised webpage for every student on a link such as https://projects.coala.io/GSoC2017/ < student - name > / .

It could have
-  metadata about student in the

[2017-07-31 09:36] meetmangukiya commented on #337
I like the idea, it can serve as an archive :+1:

[2017-07-31 15:46] #335 closed

[2017-08-09 23:33] alexwaibel commented on #291
I'd like to be assigned to this issue. I've posted in chat for corbo to assign it to me

[2017-08-12 21:31] #291 closed

[2017-08-13 07:17] kashyap2108 commented on #321
@jayvdb Where is the CI1 project?

[2017-08-16 16:21] co-robo opened #341 "project specific links don't work anymore"
http://projects.coala.io/#/projects?project=newcomer_metrics_and_gamification&lang=en doesnt popup the project any more as @jayvdb found out

CC @hemangsk probably something simple
Opened by @sils at [gitter/coala/community](https://gitter.im/coala/community?at=599470ff9acddb240798422c)

[2017-08-23 19:39] satwikkansal opened #342 "Remove completed projects or "Completed" tags for projects?"
After GSoC many projects will be completed, we need to decide what to do with them.

[2017-08-23 22:59] Makman2 commented on #342
They shall at least not appear as active any more. If we want to "archive" them, a completed tag would be nice, together with moving those project descriptions to a separate section or even page for completed projects.

[2017-08-26 17:39] #341 closed

[2017-08-27 20:07] co-robo opened #348 "Add example.md to reports folder"
It should contain a boilerplate md file that could be copied and quickly turned into a report
Opened by @meetmangukiya at [gitter/coala/community](https://gitter.im/coala/community?at=59a3267619147ac3231600ae)

[2017-08-27 20:11] Nosferatul opened #349 "Add Alex's statusreport for gsoc 2017"

[2017-08-28 08:33] #349 closed

[2017-08-28 18:12] co-robo opened #354 "reports: Make emails clickable, i.e. use `mailto`"
Opened by @meetmangukiya at [gitter/coala/community](https://gitter.im/coala/community?at=59a45d2381cd9a5d7e9d1df2)

[2017-08-28 18:36] Nosferatul opened #355 "Change Alex's bio"

[2017-08-28 18:59] #355 closed

[2017-08-29 07:19] gabru-md commented on #231
Can someone explain that what exactly should be added into the solution for this ?
Faq(s) have questions as well as answers,
So what should be an answer to this? Just a briefing on this issue will also do.

Thanks !

[2017-08-29 13:37] hemangsk opened #359 "reports: Make a report list page"
Task Description :

1. A proper webpage must be in place using which we can show the list of work submission urls / profiles of GCI and GSOC students.

2. An overview of webpage structure

- Links of work submission of GSoC Students, sorted yearwise
- Links of work submission / profile of GCI students, sorted yearwise

Steps :

1. Create  a new layout (.md file) in _layouts directory, and use Jeky

[2017-08-29 13:37] hemangsk commented on #337
This is done

[2017-08-29 13:37] #337 closed

[2017-08-29 13:38] hemangsk commented on #337
via https://github.com/coala/projects/commit/661d3a41b7fe1da6b2bab3c217e515b58b27f12d

[2017-08-29 13:39] hemangsk commented on #348
Done via https://github.com/coala/projects/commit/8448e3332891a9608577aeeb5467438457277473

[2017-08-29 13:39] #348 closed

[2017-08-29 13:44] hemangsk commented on #359
List For Reference  :

https://projects.coala.io/GSoC/2017/StatusReport/adhikasp
https://projects.coala.io/GSoC/2017/StatusReport/AlexMaxim
https://projects.coala.io/GSoC/2017/StatusReport/HemangKumar
https://projects.coala.io/GSoC/2017/StatusReport/NaveenKumarSangi
https://projects.coala.io/GSoC/2017/StatusReport/RahulJha

cc @sims1253

[2017-08-29 13:46] hemangsk opened #360 "Custom 404 page"
Enhancement suggested  by @nkprince007 on gitter

[2017-08-29 14:03] Makman2 commented on #360
@sils and me wanted a pacman-game running for a 404, I actually started once to work a bit on it, however I can't find it right now ;) Let me look again...

[2017-08-29 14:20] Makman2 commented on #360
Hmm it's kinda gone :/ Should have been on the old gitmate repo^^

[2017-08-31 16:15] #360 closed

[2017-08-31 17:08] co-robo opened #363 "Misplaced drop-down for switching languages?"
The drop down seems to have absolute/fixed to lower left corner, but it overlaps with the project cards, hence isn't clickable
Opened by @meetmangukiya at [gitter/coala/coala/offtopic](https://gitter.im/coala/coala/offtopic?at=59a8429619147ac32316343b)

[2017-09-01 04:49] gabru-md commented on #363
the drop-down must be on bottom left of the page.
I would like to work on this issue.

[2017-09-01 04:58] meetmangukiya commented on #363
@gabru-md go through http://coala.io/newcomer

[2017-09-04 08:51] gabru-md commented on #363
I want to work on it. But it seems that i cannot assign myself to this issue.
I believe that this issue is easy. If you could add a difficulty/low tag to it, the maybe i can have it assigned to me.
Thanks.

[2017-09-11 13:37] atultherajput commented on #313
Please review this PR https://github.com/coala/projects/pull/368

[2017-09-11 22:08] #313 closed

[2017-09-12 16:14] co-robo opened #369 "write up gci task to create asciiart of a koala/bear like done each releasr"
Opened by @jayvdb at [gitter/coala/gci](https://gitter.im/coala/gci?at=59b807f2bac826f054ab83a7)

[2017-09-12 16:16] co-robo opened #370 "write up 'create your own personal logo' gci task"
Opened by @jayvdb at [gitter/coala/gci](https://gitter.im/coala/gci?at=59b80842cfeed2eb65fe2aba)

[2017-09-12 16:19] jayvdb commented on #370
This is a fun beginner task to replace default avatar with a personal logo.

In Besut Kode we have a fairly good task description using behance.net for the 'raw', but deviantart allows more raw file types, and requiring setting up gravatar. And we have automated rules for checking the task is complete, and the logo is creative / not 'stolen'.

[2017-09-12 16:25] co-robo opened #371 "write up 'create accounts' beginner gci task"
Opened by @jayvdb at [gitter/coala/gci](https://gitter.im/coala/gci?at=59b80a95177fb9fe7eb0a0ab)

[2017-09-12 16:27] jayvdb commented on #371
From BK, but we dont have a good task description. We do have a little experience with it.
There are some corobo issues which are related.

[2017-09-12 16:31] jayvdb commented on #370
Here is the bahasa task, and the first batch of acceptable results. https://m.facebook.com/story.php?story_fbid=116068895749542&id=111696816186750

The one which is a photo is a bit iffy.

[2017-09-12 17:26] jayvdb commented on #370
Would be helpful if they added a consistent 'gci'-style overlay in one corner, so everone can differentiate gci participants from other contributors

[2017-10-02 14:56] jayvdb commented on #371
https://github.com/BesutKode/sma2017-tugas/blob/master/tugas/design-1.md

[2017-10-02 14:58] jayvdb commented on #370
The bahasa task is published as https://github.com/BesutKode/sma2017-tugas/blob/master/tugas/design-1.md

Possibly this should be merged with https://github.com/coala/projects/issues/371

[2017-10-07 09:53] vVv-AA commented on #221
Seems to be fixed already.

[2017-10-08 01:04] Makman2 commented on #221
@yash-nisar says this seems to be still an issue :)

[2017-10-24 05:10] gabru-md commented on #318
Hi! I would like to do this one. Can you please confirm that the headers are `PROJECTS`  , `MENTORS` and `FAQ` where you want clickable pointers?
Thanks!

[2017-10-24 06:08] gabru-md commented on #318
@jayvdb can this issue be assigned to me ?
I've created a PR for the same.

[2017-10-25 16:16] co-robo opened #374 "Add ISSUE_TEMPALTE.md"
Add a file named `ISSUE_TEMPLATE.md` which includes general information and guidelines for issue reporter, you can see ISSUE_TEMPLATE.md of `coala`for reference.
label: initiatives/gci
Opened by @Monal5031 at [gitter//Monal5031](https://gitter.im//Monal5031?at=59f0b8d332e080696e244904)

[2017-10-27 14:27] blazeu opened #375 "Project name in modal is not perfectly centered"
See [this](https://projects.coala.io/#/projects?project=improve_coala_website_%26_supporting_tools&lang=en) for clear example

Currently it's missing `padding-left`
![screenshot from 2017-10-27 21-23-18](https://user-images.githubusercontent.com/1438859/32108893-4084753c-bb5d-11e7-9946-4c15e026daf8.png)

Adding `padding-left: .5em` and adjusting `padding-right: .5em` will provide a nicer look
![sc

[2017-10-28 09:16] adtac commented on #318
Unassigned @fragm3 due to inactivity for 4 months.

[2017-10-29 12:03] hemangsk commented on #363
Weird space issue at projects.coala.io , not like the screenshot in PR, cc @gabru-md
![screen shot 2017-10-29 at 5 30 02 pm](https://user-images.githubusercontent.com/13018570/32143438-05a270c2-bccf-11e7-9a52-3189d09b7765.png)

[2017-10-30 10:22] co-robo opened #379 "Typo in add_repo_license.md file"
Fix typo : `many` on line 132 is misspelled as `may` in file add_repo_license.md.
label: difficulty/newcomer
Opened by @Monal5031 at [Gitter](https://gitter.im/coala/coala?at=59f6fd74614889d47519dbff)

[2017-10-30 10:51] co-robo opened #380 "Add https://github.com/remy/mit-license to license task"
Opened by @jayvdb at [Gitter](https://gitter.im/coala/gci?at=59f7044ae44c43700a95911f)

[2017-10-30 12:40] co-robo opened #383 "Replace space with _ in Step 3 URL of license task"
The spaces in `<your username>/<repository name>` make the rendered version appear strange.
difficulty/newcomer
Opened by @jayvdb at [Gitter](https://gitter.im/coala/gci?at=59f71dce97cedeb0482b45ae)

[2017-10-31 01:24] #379 closed

[2017-10-31 08:13] aashutoshrathi commented on #363
@hemangsk is someone working on it? I'm interested

[2017-10-31 09:40] #383 closed

[2017-10-31 11:28] anshumanv commented on #375
I'd like to do this.

[2017-10-31 14:25] aashutoshrathi commented on #369
Shouldn't the PR title have `coala/bear`

[2017-11-01 02:19] #363 closed

[2017-11-01 05:48] jayvdb opened #386 "Fix trailing whitespace in YAML front-matter of Markdown files"
There is a lot of trailing spaces in the YAML front-matter of Markdown files
This is causing the files to not be readable by gitbook , due to https://github.com/jxson/front-matter/issues/53, needed for https://github.com/coala/projects/issues/64

[2017-11-01 07:01] jayvdb commented on #386
Still many other trailing whitespace.

[2017-11-01 08:37] co-robo opened #388 "Add .editorconfig file"
Our style follows the example given on http://editorconfig.org/ for Python and YAML
label: difficulty/low initiatives/gci
Opened by @mohitkyadav at [Gitter](https://gitter.im//mohitkyadav?at=59f987d2976e63937e11f3cf)

[2017-11-01 09:30] jayvdb commented on #98
This was done.

[2017-11-01 09:30] #98 closed

[2017-11-01 09:32] jayvdb opened #390 "The build does not fail if the YAML front matter is broken"
`jekyll build` does not return a non-zero exit status even if it is reporting an Error:.

e.g. https://travis-ci.org/coala/projects/builds/295633828

[2017-11-01 13:18] jayvdb opened #391 "Project proposal: lint rst single vs double backticks"
There isnt any clear guidance on single vs double backticks in RST, especially when RST is not embedded within Python, however a rule of thumb is that single backticks should be implicit references to something.

https://stackoverflow.com/questions/22256995/restructuredtext-in-sphinx-and-docstrings-single-vs-double-back-quotes-or-back
https://mail.zope.org/pipermail/grok-dev/2008-December/006823.h

[2017-11-01 14:57] #64 closed

[2017-11-01 15:12] jayvdb opened #393 "Relicense text"
AGPL is not ideal for large chunks of text.

I suggest that we use CC-BY-SA 4.0

[2017-11-01 15:19] jayvdb commented on #240
Unassigned due to inactivity

[2017-11-01 15:20] jayvdb commented on #280
Unassigned due to inactivity

[2017-11-01 15:22] jayvdb commented on #268
Unassigned due to inactivity

[2017-11-01 15:45] jayvdb opened #394 "Project proposal: Improve the projects website for use by other GSoC orgs"
https://projects.coala.io/ should be easily usable by other GSoC orgs, and potentially other GCI orgs by the end of this GCI.

However, the needs of other orgs hasnt been taken into account when build it.

A reasonable project proposal was put together in 2017, at https://github.com/coala/projects/pull/226 , but has been closed as the project hadnt finished being defined.  As this type of project

[2017-11-01 17:11] co-robo opened #395 "Remove _faq/thesis.md link to projects.js"
projects.js doesnt exist.  There isnt a good target for that link, the entire website is projects.
newcomer
Opened by @jayvdb at [Gitter](https://gitter.im/coala/coala?at=59fa005e51915d962afb5e23)

[2017-11-01 17:12] jayvdb commented on #395
Also linked on _faq/own_project_idea.md

[2017-11-01 23:44] jayvdb commented on #314
This was partially done.

[2017-11-01 23:47] jayvdb commented on #13
This was done ages ago, but then it was deactivated.

[2017-11-02 01:21] jayvdb opened #398 "Image on GitBook is broken"
See broken image on https://www.gitbook.com/book/coala/projects/details

The source is https://github.com/coala/projects/blob/master/README.md

The solution needs to render correctly on https://www.gitbook.com/book/coala/projects/details and https://github.com/coala/projects/blob/master/README.md

[2017-11-02 01:24] jayvdb commented on #398
Something like https://stackoverflow.com/questions/22627458/how-to-add-class-in-image-markdown-in-ghost might work to keep the centering , while using markdown syntax

[2017-11-02 03:43] jayvdb opened #399 "GitBook English edit support"
After https://github.com/coala/projects/issues/64, the GitBook is readable

https://coala.gitbooks.io/projects/content/

The English README.md and SUMMARY.md are editable, and the bahasa is editable.

However the English pages are not editable, due to https://github.com/GitbookIO/gitbook/issues/1906 / https://github.com/GitbookIO/gitbook/issues/1905 .  I have a few other ideas for how to get aroun

[2017-11-02 05:02] jayvdb commented on #64
Note using forked gitbooks approach is sort of similar to https://github.com/GitbookIO/gitbook/issues/1583#issuecomment-274433447

[2017-11-02 05:04] jayvdb commented on #64
The other outstanding problem is https://github.com/GitbookIO/gitbook/issues/1907 .  If that doesnt get resolved soon, we'll need to pin down exactly when these CI triggering events are occurring , and add a rule to our .travis.yml to prevent the builds from starting.

[2017-11-02 15:01] neelanshsahai commented on #395
@jayvdb so should I remove the link or replace it with https://github.com/coala, as here are the list of projects we have.

[2017-11-03 09:07] #280 closed

[2017-11-05 16:03] jayvdb commented on #221
The link it is not broken; the text is broken. Instead of "existing bear proposal", the link target should be "existing bear issues".

[2017-11-07 06:38] RaiVaibhav commented on #179
I want to work on this

[2017-11-07 09:22] aashutoshrathi commented on #318
@jayvdb you removed the linked PR https://github.com/coala/projects/pull/373 from review queue, Can I work on this issue and fix it, as this is an urgent issue, as projects page will get a lot of traffic as GCI and GSoC come closer?

[2017-11-07 10:06] co-robo opened #408 "Create Issue Templates task for gci"
Create outline for repeatable gci task : Create `ISSUE_TEMPLATE.md`
Opened by @Monal5031 at [Gitter](https://gitter.im/coala/coala?at=5a0185b7df09362e67d9d362)

[2017-11-07 11:36] RaiVaibhav commented on #137
@chamathpali ping

[2017-11-07 17:41] co-robo opened #411 "Fix typo in thesis.md"
There is typo in file `_faq/thesis.md`, `recommend` is misspelled as `recoment`
label: difficulty/newcomer
Opened by @Monal5031 at [Gitter](https://gitter.im/coala/coala-bears?at=5a01f04ee44c43700acb6e9d)

[2017-11-08 04:15] prnvdixit commented on #411
Duplicate of https://github.com/coala/projects/issues/240.
@Monal5031 Please, use github-search before creating an issue to check if it is an already existing issue or not. 👍
@Lucifer24 There is already an assignee at original issue. Though, he hasn't submitted a PR yet 😄.

[2017-11-08 04:43] Monal5031 commented on #411
@prnvdixit Sorry my bad don't know how I missed that issue 😓

[2017-11-09 18:36] #411 closed

[2017-11-11 05:40] Lucifer24 commented on #184
@Mariatta Can I work on this?

[2017-11-12 07:05] RaiVaibhav commented on #240
IMO it should mark only `difficulty/newcomer`

[2017-11-13 09:46] blazeu opened #416 "Cannot scroll to the very bottom in modal"
When viewing project inside the modal in a wide sized browser window (1920px in my case) the modal can't be scrolled to the bottom-most.

Try viewing https://projects.coala.io/#/projects?project=integrate_antlr_v4_into_coala&lang=en
you cant see the mentor list.

difficulty/low importance/high

[2017-11-13 12:16] blazeu opened #417 "Use cursor: pointer on clickable chips / tag"
It is clickable so the cursor should be `pointer` when hovering over those.
![image](https://user-images.githubusercontent.com/1438859/32725239-e3f39b16-c8a6-11e7-9fa2-04e51e6fd8ff.png)

difficulty/newcomer

[2017-11-13 13:06] blazeu commented on #399
Would copying the content from `data/locale/en` to `_projects` and `_faq` before running jekyll a viable solution?

[2017-11-13 16:31] tkhurana96 commented on #417
Hi @blazeu, I would like to take this issue, if you don't mind

[2017-11-13 22:04] blazeu commented on #417
Sure, anyone is free to take it.
See coala.io/newcomer first.

[2017-11-14 00:39] co-robo opened #418 "Thesis.md: Correct typo"
line 6 of _faq/thesis.md has a typo in recommend
difficulty/newcomer
Opened by @Mixih at [Gitter](https://gitter.im/coala/coala?at=5a0a3b4871ad3f8736de9c1e)

[2017-11-14 04:17] supergr35 opened #419 "use_coala.md: typo"
https://github.com/coala/projects/blame/master/_projects/use_coala.md#L74
`met` -> `meet`
difficulty/newcomer

[2017-11-14 04:55] tkhurana96 commented on #417
@blazeu if you don't mind me asking, where in the code does the changes for this needs to be made, that is, in which files to add my code for making these chips clickable ?

[2017-11-14 05:14] blazeu commented on #417
It's "hoverable", the chips is already "clickable".

Use inspect element on your browsers to see which css to modify.

If you can't do that, then you're not fitted for solving this issue.

[2017-11-14 05:35] #318 closed

[2017-11-14 06:06] tkhurana96 commented on #417
@blazeu, I found where to add what code, when I asked you for help, I was confused as to where were these chips being displayed because I hadn't seen them on coala site, but then I found out that it was the `projects` repo under `coala`, so then I figured it out, that I need to update this:
`.chip {
  display: inline-block;
  height: 32px;
  font-size: 13px;
  font-weight: 500;
  color: rgba(0, 0,

[2017-11-14 06:39] tkhurana96 commented on #417
#421 Here is the PR, please have a look :smile:

[2017-11-14 11:55] gureks commented on #418
This is a duplicate of #411 and was closed in #412

[2017-11-14 13:05] #418 closed

[2017-11-14 13:54] prnvdixit commented on #240
Though https://github.com/coala/projects/issues/411 was duplicate of this one, but someone submitted a PR to that duplicate issue - This should be closed now.

[2017-11-14 15:05] co-robo opened #423 "Add FAQ entry to say coala will apply to GSOC 2018"
And add a link in FAQ to https://developers.google.com/open-source/gsoc/timeline
Opened by @jayvdb at [Gitter](https://gitter.im/coala/coala/gsoc?at=5a0b062ecc1d527f6b6c6ca7)

[2017-11-14 15:08] amitsin6h commented on #423
am working on this as my first contribution. @jayvdb  Thanks

[2017-11-14 15:28] co-robo opened #424 "Add FAQ that applicants should try to apply to two orgs"
Most applicants to coala will be unsuccessful, due to high demand.  For best results, applicants should also apply at a second org.
Opened by @jayvdb at [Gitter](https://gitter.im/coala/coala/gsoc?at=5a0b0bb5f257ad91099384a8)

[2017-11-14 15:47] prnvdixit commented on #423
@amitsin6h It is recommended to work on a difficulty/newcomer issue first. You can find them at https://coala.io/newcomer. Also, head to https://coala.io/chat and say "Hello World" if you haven't joined the organization yet. Welcome!!

[2017-11-14 15:50] prnvdixit commented on #424
This FAQ is for GSoC ^^ (I guess)....

[2017-11-14 15:51] amitsin6h commented on #423
@prnvdixit I have been assigned this in gitter chat

[2017-11-14 15:55] prnvdixit commented on #423
That's great.... This issue is also of difficulty/newcomer IMO (probably), maybe you can submit a PR for this right away... Though, it's still recommended to do a newcomer issue first before attempting any higher difficulty issue 😄

[2017-11-14 20:35] #419 closed

[2017-11-15 23:38] #240 closed

[2017-11-16 11:19] jayvdb commented on #423
As this is very high importance, if you dont finish it within 24 hours, we'll close your PRs and let someone else do it.

[2017-11-16 11:21] amitsin6h commented on #423
@jayvdb am gonna do it.

[2017-11-16 11:29] yashovardhanagrawal commented on #424
@amitsin6h get this issue assigned via corobo

[2017-11-16 11:30] yashovardhanagrawal commented on #424
oh sorry, first let it get a label first

[2017-11-16 13:34] #13 closed

[2017-11-16 15:51] prashant0598 commented on #179
@aalind0 i think this bug has been solved as i did not face this issue so close this issue.

[2017-11-16 16:05] RaiVaibhav commented on #179
No its not solved can you recheck @prashant0598

[2017-11-17 19:37] amitsin6h commented on #424
@yashovardhanagrawal please review and merge it.

[2017-11-18 12:13] yashovardhanagrawal commented on #423
@amitsin6h are you going to complete it?

[2017-11-18 12:20] ihsraham commented on #423
If he's not working on it I would like to 😄

@jayvdb you might assign this to me in that case

[2017-11-18 18:16] jayvdb commented on #423
Reassigned.

[2017-11-18 18:38] ihsraham commented on #423
@yashovardhanagrawal @jayvdb I have added a PR

[2017-11-18 19:59] prashant0598 commented on #424
@amitsin6h are u working on the issue? or @jayvdb u can assign it to me :wink:

[2017-11-19 06:23] yashovardhanagrawal commented on #314
@jayvdb is this issue still there?

[2017-11-19 13:39] yashovardhanagrawal commented on #423
@jayvdb
I think this PR will not work here then

I would like to work on it

[2017-11-19 13:41] #423 closed

[2017-11-19 13:42] jayvdb commented on #423
I merged this manually.

@yashovardhanagrawal , you have issues to work on.

[2017-11-19 18:40] yashovardhanagrawal commented on #424
@amitsin6h are you working on this issue?
if not please then tell us

I will like to work on it then

[2017-11-20 00:26] amitsin6h commented on #424
I will work. I am just confused how do I write description

On Nov 20, 2017 12:10 AM, "Yashovardhan Agrawal" <notifications@github.com>
wrote:

@amitsin6h <https://github.com/amitsin6h> are you working on this issue?
if not please then tell us

I will like to work on it then

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub
<https://github.com/co

[2017-11-20 04:05] yashovardhanagrawal commented on #424
`git commit -m "Title" -m "Description .........."`

another way can be write
`git commit`

it will open the vim editor

you can edit it there
refer to  [Stack Overflow](https://stackoverflow.com/questions/16122234/how-to-commit-a-change-with-both-message-and-description-from-the-command-li) for more details 😉

[2017-11-20 09:42] #386 closed

[2017-11-23 12:55] ashwini0529 opened #429 "Data doesn't load in Chrome"
It works perfectly on Safari etc, but it doesn't load data in Chrome.

![screencapture-projects-coala-io-1511441651349](https://user-images.githubusercontent.com/8419333/33173806-7fbee326-d07b-11e7-9777-c2d7b7c411df.png)

**Chrome Version: Version 61.0.3163.100 (Official Build) (64-bit)**
**OS: Mac Os High Sierra 10.13**

Console log for the same: http://paste.ubuntu.com/26027469/

[2017-11-23 13:55] xferra commented on #429
Just FYI, works as expected at
**Chome: Version 62.0.3202.94 (Official Build) (64-bit)
OS: macOS Sierra 10.12.6**

[2017-11-23 15:47] prakashdanish commented on #429
working for me too, maybe some bad extension? try updating your browser but anyways, we need someone with the same config as yours to test it to confirm.

[2017-11-24 06:42] mamat-rahmat commented on #322
I will start from here :

GSOC 2016 Final Report
- Redrigdge - [Writing bears with different programming languages](http://blog.redridge.me/gsoc-2016-final-report/)
- adtac - [Automatic settings guessing](https://hypothesist.github.io/2016/08/15/gsoc-final-post.html/) (missing)
- mr-karan - [Extend linter integration](https://medium.com/@mrkaran/coala-gsoc-2016-summary-9512f4ad8b0)
- tushar-rishav

[2017-11-27 06:17] jayvdb commented on #359
I think this should be only about the GSOC reports.

We'll figure out what to do with GCI later. ;-)

[2017-11-27 06:22] jayvdb commented on #223
This has been fixed.

[2017-11-27 06:22] #223 closed

[2017-11-27 06:25] jayvdb commented on #219
This was about https://github.com/coala/projects/blob/ed3518837995ac8c277a2c882ed83b9259bb8210/README.md

Fixed when switching to jekyll .

[2017-11-27 06:25] #219 closed

[2017-11-27 10:40] Vamshi99 commented on #429
![coala](https://user-images.githubusercontent.com/20969586/33262300-da2e31c8-d38b-11e7-84d4-39b62ed0fb39.PNG)
It doesn't load data on my chrome browser also.
**Chrome Version: Version 62.0.3202.94 (Official Build) (64-bit)**
**OS: Windows 10 Home**

[2017-11-29 19:28] #354 closed

[2017-12-04 06:04] SanketDG commented on #429
Please disable your extensions and try again, also see if there's any strange output in the console

[2017-12-04 07:36] Vamshi99 commented on #429
Tried disabling all extensions, still same blank page. I get some errors in console https://gist.github.com/Vamshi99/9d3844aa0656d99d924dc8f24f9c91ef

[2017-12-04 10:32] ashwini0529 commented on #429
Almost same errors here as well. 😕

[2017-12-10 04:46] blazeu commented on #416
Fixed in https://github.com/coala/coalaCSS/pull/27

[2017-12-10 04:46] #416 closed

[2017-12-18 14:45] jayvdb opened #431 "URL not visible"
In the answer to https://projects.coala.io/#/faq question "Will coala apply for Google Summer of Code 2018?" , there is a link to the GSOC timeline.

There is no visual indication that a link exists.

[2017-12-18 14:47] k4ni5h commented on #431
can i work on this issue?

[2017-12-19 00:47] nkprince007 commented on #431
@jayvdb. More precisely no link on the page has any visual indication.

[2017-12-19 15:50] abhishekr700 commented on #431
I don't think we need any visual indication there. Ultimately the person , if interested in the question hovers mouse over the required question , where the mouse icon auto changes to notify that there is a link there.

[2017-12-20 06:48] k4ni5h commented on #431
Actually, it is necessary from a user point of view. We have to make right CSS order as its CSS is already defined. I think it is for GCI students as we have to just change the CSS.

[2017-12-22 18:15] jayvdb opened #433 "Update CI tasks year"
Update the CI1, CI2 , & CI3 tasks to refer to 2017 , and links to point to the 2017 instance

- CI1: https://codein.withgoogle.com/dashboard/tasks/4705163153506304/
- CI2: https://codein.withgoogle.com/dashboard/tasks/5179714090041344/
- CI3: https://codein.withgoogle.com/dashboard/tasks/6236781315883008/

[2017-12-22 22:47] namantw commented on #433
Hello! I am a newcomer, can I work on this issue?

[2017-12-25 13:11] namantw commented on #433
@Makman2 I would like to work on this, please assign me.

[2018-01-08 13:32] sils opened #437 "Sort projects by status"
Completed projects shouldn't be shown on top of the page.

[2018-01-08 13:33] sils commented on #106
opened https://github.com/coala/projects/issues/437 because this issue is actually done except the ordering part and the title is misleading

[2018-01-08 13:33] #106 closed

[2018-01-09 09:13] namantw commented on #433
@jayvdb please merge the pull request https://github.com/coala/projects/pull/435, if there are no issues(it is already reviewed)

[2018-01-11 12:53] sils commented on #69
clearing assignee since nothing has happened for almost a year

[2018-01-15 21:29] #431 closed

[2018-01-18 17:34] mrsaicharan1 commented on #393
Can I take this issue up?

[2018-02-09 19:32] abhaychawla commented on #69
@sils Can I work on this issue?

[2018-02-12 05:45] jayvdb opened #441 "FAQ: Wrong year on application template"
http://projects.coala.io/#/faq says "coala 2017 Application Template"

The dates of the coding period are also wrong.

[2018-02-12 05:46] jayvdb opened #442 "FAQ: Broken link in application template"
Link to https://github.com/coala/projects/blob/master/data/projects.js is broken

[2018-02-12 16:41] suryaprak4sh commented on #441
Hi! I am a newcomer. I read the newcomer's guide. Can you assign me on this issue?

[2018-02-12 18:21] suryaprak4sh commented on #441
Hi! I am a newcomer. Can you assign me on this issue?

[2018-02-12 18:52] suryaprak4sh commented on #442
Hi! Should it refer to the coala website projects?

[2018-02-12 21:17] llshwetall commented on #442
hey!
how do I know what the correct link is?

[2018-02-13 13:25] palash25 opened #445 "Re-label Handling Nested Languages to Difficutly: High"
On recent discussions with @NiklasMM on gitter we discovered that [this project](https://github.com/coala/projects/blob/master/_projects/nested_languages.md) is harder than it seems and has a lot of complications and thus it should be re-labelled to **difficulty: high**

[2018-02-13 14:05] NiklasMM commented on #445
Jup, I agree. This project is easily underestimated. People who are working on it should know what they are getting into.

[2018-02-13 16:44] Makman2 opened #446 "nokogiri has a known critical severity (reported by GitHub)"
GitHub suggest to update to 1.8.1

[2018-02-13 16:46] Makman2 commented on #445
I'm actually not really sure if this is even GSoC scope. The nextgen-core enables many new features and brings improvements in the dependency-system we can exploit, but still there are many many unanswered questions how this can be done nicely.

[2018-02-14 06:46] NiklasMM commented on #445
Agreed. But labeling it as "hard" is enought for the moment. It is an interesting problem to think about and people might come up with partial solutions at least, e.g. for one combination of specific languages

[2018-02-14 07:12] palash25 commented on #445
I don't think that this problem can have a feasible generic solution which can be applied to all possible combinations of languages. It should rather be broken up into different issues for a particular set of languages for which we can have different solutions.

[2018-02-14 11:13] jayvdb commented on #446
As a static site, without any XML files, the surface area of this advisory means this project is not impacted at all.
But still useful to remove reliance on old unsupported versions.

[2018-02-14 11:20] jayvdb opened #447 "Disable OpenRoberta project"
OpenRoberta is its own org in GSoC 2018.

The project should be disabled, or at least discouraged, unless @maweki is still keen to mentor this project under coala.

There isnt any mechanism for disabling projects yet, but that should be easy to add.

Disabled projects should be greyed out, and mention they are not available.
Ideally add a link to https://summerofcode.withgoogle.com/organizations/6

[2018-02-14 11:41] jayvdb opened #448 "Disable Jenkins project"
Like #447 , Jenkins is their [own org in 2018](https://summerofcode.withgoogle.com/organizations/5572716199936000/).  They were also an [org in 2016](https://summerofcode.withgoogle.com/archive/2016/organizations/4879888423059456/).

The Jenkins project should be disabled, or at least discouraged, unless @uhafner is still keen to mentor this project under coala.

It should definitely link to the J

[2018-02-14 12:00] Makman2 commented on #445
I think there is, but it might wrap up our system again ;)

[2018-02-14 12:20] jayvdb opened #449 "Create project for About-Code wrapper project"
https://gitter.im/coala/aboutcode?at=5a84211a5cc187264539b970

The initial concept doesnt need to be very detailed, as others can add more details until applications close.

[2018-02-14 12:27] jayvdb opened #450 "Add coala/community to Newcomer metrics project prereq"
https://github.com/coala/community/ is a new project, and PRs to that repo are suitable pre-requisites for the Newcomer metrics project

[2018-02-14 12:43] palash25 commented on #445
@Makman2 what do you have in mind?

[2018-02-14 13:42] jayvdb opened #451 "Create Checker Framework wrapper project description"

[2018-02-14 13:43] jayvdb opened #452 "Create CheckStyle project"

[2018-02-15 05:08] abhaychawla commented on #437
@sils Can I take up this issue?

[2018-02-15 08:48] pombredanne commented on #449
@jayvdb I can and will help on the mentoring side.

- What would be your initial brain dump on this? a bear? on licenses? copyrights? packages?
- What would be the "failure"/linting conditions or the fixes that could be applied?

 - FWIW, I had started some work on this https://github.com/nexB/scancode-toolkit/blob/c27627d1e76d4dc33efe05bfb51302a3f40a4585/src/scancode/plugin_espedexify.py This cou

[2018-02-15 09:51] #69 closed

[2018-02-15 09:57] sils commented on #437
@abhaychawla there you go

[2018-02-15 21:11] yashovardhanagrawal commented on #442
The correct link is
https://github.com/coala/projects/blob/master/data/projects.liquid
if you're a newcomer, go through the newcomers' guide and go ahead with this issue!

[2018-02-15 21:11] abhaychawla commented on #437
Thanks. Working on it!

[2018-02-16 13:54] #437 closed

[2018-02-17 14:36] maweki commented on #447
I think you can just remove this. I won't be working at our local roberta partner project from April, so I won't have time to mentor anyways.

[2018-02-17 17:22] himanshu1603 commented on #450
@jayvdb  Can I take up this issue?
Do I have to add this in _faq file " coala/community as repo suitable for newcomers"?
please explain what is to be done on this issue.
Thanks!

[2018-02-17 19:02] abhaychawla commented on #359
@hemangsk @jayvdb Can I work on this issue?

[2018-02-18 19:38] Shivank98 commented on #442
Hey i am new to coala
@jayvdb @yashovardhanagrawal There is no file in [](https://github.com/coala/projects/tree/master/data)
named project.js .

[2018-02-18 20:29] yashovardhanagrawal commented on #442
read the commit on the file projects.liquid

projects.js is converted to -> projects.liquid

[2018-02-18 20:39] Shivank98 commented on #442
@yagyanshbhatia  ohh i see

[2018-02-20 16:00] manu-chroma opened #456 "Use arrow keys to browse through different project description modals"
We have buttons(onclick) to browse through different project description modals.

It will be convenient to browse them using arrow keys.

[2018-02-20 16:04] manu-chroma commented on #456
ok, this feature is actually there. don't know why it didn't work for me for the first time.

closing.

[2018-02-20 16:04] #456 closed

[2018-02-24 12:28] LenaAn commented on #446
I would like to work on this.

[2018-02-24 12:59] Makman2 commented on #446
Please accept the invite, then you can be assigned ;)

[2018-02-24 13:05] LenaAn commented on #446
done

[2018-02-25 08:49] arnab1896 opened #457 "Add link to troubleshooting page of Jekyll"
Jekyll installation and usage of its gems like bundler can cause some difficulties for newcomers.

So, we can add the link :-   [https://jekyllrb.com/docs/troubleshooting/](url)

So, we can add it in README.md just after we have explained the steps to install jekyll and run the site locally.

[2018-02-25 10:12] LenaAn commented on #446
Can you please take a look at pr https://github.com/coala/projects/pull/459 ? I believe that
1) gitmate-bot complains about files I didn't edit
2) I try to upgrade nokogiri to 1.8.2 and html-proofer to 3.8.0 so dependencies in Travis CI should be updated as well

[2018-02-25 20:26] Bhola-B2C commented on #457
I would like to work on this issue.

[2018-02-25 20:27] Bhola-B2C commented on #457
I need to add this hyperlink in README.md ?? Isn't?

[2018-02-26 18:51] Bhola-B2C commented on #457
@coala/coala-maintainers plz assign me this issue.

[2018-02-27 09:11] tanhengyeow commented on #445
I would like to be assigned this issue :)

[2018-02-27 14:32] #446 closed

[2018-02-27 14:33] #457 closed

[2018-02-27 14:33] #450 closed

[2018-02-27 17:12] virresh opened #463 "Add GitCommitBear to the Projects repository"
Add a GitCommitBear to the .coafile so that commit messages can be checked by coala locally

[2018-02-28 16:20] #445 closed

[2018-03-02 09:00] nj2237 commented on #463
Hi coala community! Can someone assign this newcomer issue to me? Corobo is refusing to assign :|

[2018-03-02 13:35] abhaychawla commented on #359
@Makman2 @hemangsk I got confused a little bit so just wanted to confirm. In this issue, we need to create a new reports tab where in all the links for the projects are to be displayed right? I have worked on angularjs but not enough on jekyll so can you guide me a little bit on what is expected?

[2018-03-03 07:34] nj2237 commented on #463
@Makman2 Hi there! Could you assign this to me please?

[2018-03-04 15:21] RaiVaibhav opened #465 "Fix typo"
Fix [typo in line 52 ](https://github.com/coala/projects/blob/0c2f8a0ff4bf4781ed70162293c0274345eb33e5/_projects/bear_updates.md)

Difficulty/newcomer

[2018-03-05 18:22] mittalshravika commented on #442
@jayvdb @yashovardhanagrawal can I work on this starter issue?

[2018-03-05 18:28] mittalshravika commented on #465
@RaiVaibhav @Makman2 Could this issue be assigned to me?
I am a newcomer into this.
The fix would be to change "indetified" -> "identified"

[2018-03-05 19:33] yashovardhanagrawal commented on #442
@mittalshravika ask a maintainer on the gitter channel to get assigned to this issue, you can work on it then

[2018-03-05 20:08] RaiVaibhav commented on #465
It seems you didn't join coala on `gitter`, please say `hello world` on gitter for further instruction :grinning:

[2018-03-05 20:12] mittalshravika commented on #465
I just joined gitter some minutes ago and I have asked if this issue could be assigned to me.
Thanks!!

[2018-03-09 04:33] #433 closed

[2018-03-09 04:56] jayvdb commented on #465
Assigned.  Be sure to follow https://coala.io/commit

[2018-03-09 05:05] jayvdb commented on #449
@pombredanne , we prefer to use command line options , which are filled from a config file `.coafile` which includes all rules for all linters.

This usually only covers the basic functionality of the linter.  The goal is to make it easy for a project to start using a linter .  When they want more advanced functionality, they will then need to use a linter specific config, and possibly run the lin

[2018-03-09 05:11] jayvdb commented on #441
@suryaprak4sh , we have a PR by @saraansh1999 ; if they dont fix it quickly, we can re-assign this to you or someone else who will complete the task.

[2018-03-09 10:58] mittalshravika commented on #465
I have added a PR for this issue. Waiting for reviews.
Thanks!!

[2018-03-09 11:06] RaiVaibhav commented on #465
@mittalshravika reviewed

[2018-03-09 16:35] jayvdb opened #468 "Create a project about language-check"
Partially due to https://github.com/coala/coala-bears/issues/1865 .

This linter is a complex dependency which needs a large chunk of effort to simplify.

Ideally the goal is to have it packaged as a wheel and as debian/fedora/etc package.

[2018-03-10 02:59] jayvdb commented on #374
The coala issue template isnt ideal for this repo

[2018-03-10 03:02] jayvdb opened #469 "Add upstream commits to application template"
This year we will be giving higher consideration to applicants who have commits in upstream repositories, such as our linters, and libraries that coala depends on, either the software or our systems.

Please add an element to the application template to collect this information.

[2018-03-10 05:50] hemangsk opened #470 "Add support for multiple status labels on a project card"
Proposed by @sims1253 on https://github.com/coala/projects/pull/285

For example a card can have "High Involvement" as well as "In Progress" as status.

[2018-03-10 05:54] #465 closed

[2018-03-11 16:11] BaffledBadger commented on #442
Can I please be assigned to this issue?
P.S: The broken link is also mentioned in the "I have an own project idea!" section.

[2018-03-11 16:15] Makman2 commented on #442
Oh @mittalshravika you already had a `difficulty/newcomer` issue, please pick a `difficulty/low` one ;)

[2018-03-11 17:46] ghost opened #472 "FAQ: Broken link in "own project idea""
Link should be changed from https://github.com/coala/projects/blob/master/data/projects.js to https://github.com/coala/projects/blob/master/data/projects.liquid in [this file](https://github.com/coala/projects/blob/master/_faq/own_project_idea.md).

[2018-03-11 18:30] #442 closed

[2018-03-11 21:52] sangamcse opened #473 "FAQ: Make GSoC template as per 2018 timeline"
Template is still showing 2017 and 2017 timeline-dates.

difficulty/newcomer
importance/high

[2018-03-13 06:51] jayvdb commented on #473
Duplicate of https://github.com/coala/projects/issues/441

[2018-03-13 06:51] #473 closed

[2018-03-14 10:28] ishanSrt opened #474 "Application Template typo"
and ~~to~~ you have any preference for a particular mentor? --> and **do** you have any preference for a particular mentor?

[2018-03-18 04:19] sbeesm commented on #474
Hi! New comer here. Can i fix this?

[2018-03-18 06:12] sbeesm commented on #474
Hello! New comer here. I would like to work on this, so please assign this issue to me.

[2018-03-18 06:14] ishanSrt commented on #474
@sbeesm put a comment for assignment over here https://gitter.im/coala/coala too and start working!

[2018-03-18 13:17] #474 closed

[2018-03-18 13:20] jayvdb commented on #474
Duplicate of https://github.com/coala/projects/issues/268

[2018-03-18 13:20] jayvdb commented on #268
Fixed in duplicate https://github.com/coala/projects/issues/474

[2018-03-18 13:34] #268 closed

[2018-03-18 13:36] jayvdb opened #477 "README.md: Dont suggest sudo"
The README shouldnt require sudo.  Use give instructions on using rbenv instead, if their native ruby isnt correct.

[2018-03-18 13:48] jayvdb commented on #359
I dont think a new tab is required.

The generated report pages can be linked from the relevant completed projects, e.g. on http://projects.coala.io/#/projects?project=cobot_enhancement,_testing_and_porting , link to https://projects.coala.io/GSoC/2017/StatusReport/MeetMangukiya

and there should be a page at https://projects.coala.io/GSoC/ , which includes links to the 2017 reports

[2018-03-18 13:52] jayvdb commented on #393
Unassigned due to inactivity.

Also, this change of license needs to clarify that old .md pages are AGPL, while new changes would be CC-BY-SA .  Probably needs a note in the readme.

Alternatively, we could add a `license:` to each markdown file, and add a checker to require that a license: is specified.

[2018-03-18 13:56] jayvdb commented on #477
@Bhola-B2C , you might like to tackle this one.

[2018-03-18 14:26] jayvdb commented on #137
No longer relevant after the switch to jekyll.

[2018-03-18 14:26] #137 closed

[2018-03-18 14:27] jayvdb commented on #408
This was done

[2018-03-18 14:27] #408 closed

[2018-03-18 14:28] jayvdb commented on #375
ping @anshumanv

[2018-03-18 14:30] jayvdb commented on #322
Note we have a [reports directory](https://github.com/coala/projects/tree/master/reports) with a .md frontmatter format there.

Please get started soon, or a bot will unassign you.

[2018-03-18 14:33] jayvdb commented on #308
@shivakrishna9 , yes, you can rename them.  Even better, add a rule to .coafile to prevent `_` being used in markdown filenames.

[2018-03-18 14:43] jayvdb commented on #180
Ping @ashwini0529 .  We need this real soon now.

[2018-03-18 14:45] Bhola-B2C commented on #477
Okay I'll tackle this question

[2018-03-18 14:47] jayvdb commented on #299
It is finished.

[2018-03-18 14:47] #299 closed

[2018-03-18 14:49] jayvdb opened #479 "Disable all GCI tasks"
The GCI tasks at the top of the projects page is distracting and also is confusing a few people.

Mark them as completed, or add a new status, but they need to not prominent.

[2018-03-18 14:50] jayvdb commented on #477
Nice, thanks.

[2018-03-18 14:55] jayvdb commented on #395
probably best to replace with 'projects repository' with a link to this repo, where the README says how to add a project.

[2018-03-18 15:03] Naveenaidu commented on #469
@jayvdb Can i please be assigned to this issue

[2018-03-18 15:05] Naveenaidu commented on #469
Am i supposed to add `upstream commits` inside the Project Info section of Application Template?

[2018-03-18 15:07] Naveenaidu commented on #441
@jayvdb can i please be assigned to this.

[2018-03-18 15:39] jayvdb opened #480 "Meta-review project"
An important aspect of newcomer gamification and the undefined developer->maintainer process is good feedback on their reviews.

Any 'points' should be held in waiting until the PRs have been merged, and a developer or maintainer has given feedback on review comments which were given by the newcomer or developer.

A more complete write up is at https://github.com/coala/coala/issues/3615

[2018-03-18 15:51] jayvdb commented on #480
Note that https://github.com/coala/projects/blob/master/_projects/newcomer_metrics.md would focus on the newcomers *process*, with only a little consideration given for meta-reviewing.

This project would be about creating a good system for getting developers & maintainers to do meta-reviews.  Probably this is more of a UI project, maybe with a GitHub app which makes meta-review of merged PRs easy

[2018-03-18 16:02] jayvdb commented on #480
Some interesting thoughts by @sks444 relevant to both projects at https://gitter.im/coala/community?at=5a9cd82753c1dbb743a4b790

[2018-03-18 17:59] anshumanv commented on #375
Thanks for the ping, on it.

[2018-03-18 18:21] anshumanv commented on #375
I'm having running issues setting up locally(gems just won't install and can't seem to debug why), you can pass on this issue to others willing to take this up. Thanks :smile:

[2018-03-19 01:20] jayvdb commented on #375
btw, we deploy PRs to https://netlify.com, so you can make the change and check that it works on Netlify, without setting up jekyll and verifying it works locally.

[2018-03-19 01:23] jayvdb opened #484 "Move example project to _projects/example.md"
Currently the README.md includes an example markdown file.  Lets move that to be a real markdown file, ideally in `_projects` , and have jekyll skip it (maybe using `_config.yml` `exclude:` ?)

Alternatively put it somewhere else, where it might be easier to exclude.

[2018-03-19 09:28] jayvdb opened #487 "gitmate YAML configuration"
gitmate configuration is stored in the webapp, not in the repository.

This has zero transparency and reduces the ability for newcomers to learn the system.

This is a medium complexity project, as all existing gitmate plugin configuration needs to be supported, and it needs to be extensible to support new plugins as well.

[2018-03-19 09:32] jayvdb opened #488 "gitmate plugins"
coala uses http://gitmate.io to automate our systems.

While it works very well, there are a number of plugins which need extra complexity to better suit coala, and there are new plugin ideas we have all the time, but never get around to building.  As these are coala-centric enhancements, they often fall off the gitmate priority list.  The extensible framework is there; we need to utilise it bette

[2018-03-19 09:33] refactormyself commented on #463
@jayvdb can I work on this, please assign it to me

[2018-03-19 09:35] jayvdb commented on #487
A stretch goal for this would be specifying custom plugins in the YAML, which might be loaded from the repository or some other source.  The gitmate service would need a whitelist or similar to prevent loading in malicious plugins.

[2018-03-19 09:35] jayvdb commented on #487
c.f. https://github.com/coala/projects/issues/488

[2018-03-19 09:48] jayvdb commented on #488
We have rebase and ff plugins, but a lot of maintainer time can be saved by integrating both of those into an auto-merger.

GitLab has a 'merge when pipelines pass' feature, which GitHub doesnt have.
It would be possible to build GitHub support into the IGitt layer, and needs to be combined with a mechanism for checking it succeeded or failed.

However that is still only operating on a single MR.

[2018-03-19 10:04] jayvdb commented on #488
Pull Requests from master should be automatically rejected, with instructions on how to fix their branch, fix their master, and resubmit a PR.

[2018-03-19 10:47] jayvdb opened #490 "Revise sample project in README.md"
The sample project in README.md is from the 2016 GSOC, which only had two evaluations.  In 2017 and 2018, there are three coding periods.

[2018-03-19 10:49] jayvdb commented on #484
See also https://github.com/coala/projects/issues/490

[2018-03-19 10:49] jayvdb opened #491 "Mentor list should not include mentors on completed projects"
The mentor list currently includes everyone.
It should be filtered to exclude completed projects.

[2018-03-19 11:01] jayvdb commented on #488
https://github.com/coala/coala/issues/5155 - Fixes vs Closes automated checking

[2018-03-19 11:03] jayvdb commented on #488
Note that https://github.com/coala/projects/pull/489 is a separate project covering enhancements to GitCommitBear especially.

[2018-03-19 11:55] jayvdb commented on #488
Another plugin requested is automatically marking WIP if gitmate's coala plugin finds defects.

[2018-03-19 12:08] jayvdb commented on #488
A squash command would be useful, to automagically fix a PR with lots of messy commits, so we can merge it - helpful to newcomers only , instead of them creating a new PR.

Actually it would be interesting to see how `rebase` handles a GitHub rebase from master...

Maybe call it something like 'unbork' , so there is a bit of a negative connotation to it, so it isnt used instead of following normal

[2018-03-19 12:21] #375 closed

[2018-03-19 12:26] jayvdb commented on #488
You'll need to ask the gitmate devs, almost all of which are also coala developers.  Their source is at https://gitlab.com/gitmate/open-source

[2018-03-19 14:32] abhaychawla commented on #359
Okay will try to complete this as soon as possible!

[2018-03-19 15:02] jayvdb opened #492 "coala Language Server"
https://github.com/coala/coala-vs-code is effectively a Language Server, but with a reduced scope as it is targeted only at vs-code.

It needs to be completed and polished so it can be added to https://langserver.org/

[2018-03-19 15:04] jayvdb commented on #492
One component would be docker-ising it, possibly with several dockers for different language sets which include the relevant linters for that language.

e.g. the Python LS at https://github.com/palantir/python-language-server#feature-providers , which uses various tools, and we would use coala for the linting functionality

[2018-03-19 15:18] jayvdb commented on #492
https://github.com/coala/coala-vs-code/issues/4 is a possible part of this project, but a 'daemon mode' for coala-core is probably a separate project in itself. @Makman2 , how flexible is the internals of coala to being driven (files pushed onto the queue to be processed) from an external source?

[2018-03-19 16:14] jayvdb opened #493 "Update pyflakes AST project"
More analysis of the project has been done, and corrections are needed.

Also, and interesting approach might be the rewrite pyntch using the pyflakes AST.  It had some innovative algorithms which I dont believe are implemented anywhere else, and pyntch is long dead.

http://www.unixuser.org/~euske/python/pyntch/index.html

There is a little bit of life over at https://github.com/euske/pyntch/comm

[2018-03-19 16:43] MacBox7 commented on #493
I believe if pyflakes is modified to store the `possible` data type which pyntch does, this could be possible. Since then we can get data type from the scope bindings and might be able to provide the various functionalities as an individual plugin. But still, this requires some research and can be created as a project on its own.

[2018-03-19 17:55] Makman2 commented on #488
I would like to see advanced configuration management, what I currently have in mind is to manage a set of configurations that can be applied quickly to multiple projects at once or are automatically synced if a repo uses that configuration.
Changing a single setting inside a repo in an organization and making it reflect in all other repos is a pain for 5+ repos.

[2018-03-19 18:51] Bhola-B2C commented on #477
Install rbenv
$ rbenv install 2.2.3
$ rbenv global 2.2.3
$ gem install jekyll bundler
$ git clone https://github.com/coala/projects.git
$ cd projects
$ bundle install
$ bundle exec jekyll serve

Is it ok??

[2018-03-20 03:02] gaocegege commented on #492
I will write a description soon.

[2018-03-20 08:56] jayvdb opened #497 "Create Repology project"
See https://gitlab.com/coala/package_manager/issues/159 and https://github.com/coala/coala/issues/4605

[2018-03-20 09:28] jayvdb opened #498 "Create corobo project"

[2018-03-20 10:09] gaocegege commented on #492
https://github.com/coala/projects/pull/495

PTAL

[2018-03-20 12:20] riouwa commented on #417
Can I continue this one?

[2018-03-20 12:37] jayvdb commented on #441
@Naveenaidu , please hurry up; this is urgent.

[2018-03-20 12:38] jayvdb commented on #449
ping @RajuKoushik

[2018-03-20 13:10] Naveenaidu commented on #441
@jayvdb Made the Changes. Please have a look.

[2018-03-20 17:24] jayvdb opened #501 "GSOC application template should include username check link"
We should ensure applicants have a sensible username which they mostly have control over on various important sites.

https://github.com/manu-chroma/username-availability-checker has been built (by coala, especially GCI students) for that purpose ;)

[2018-03-20 17:39] jayvdb opened #502 "Jekyll source validation"
[html-proofer](https://github.com/gjtorikian/html-proofer) is the most commonly used validator of jekyll sites, and it operates on the rendered version of the site.

By combining various existing coala plugins, and improving the YAML bears, coala could do equivalent validation on the source version of the site.

An important aspect of the YAML validation is ensuring that it can be round-tripped.

[2018-03-20 17:42] jayvdb commented on #502
https://github.com/18F/jekyll_frontmatter_tests is another jekyll plugin that is prior art.

[2018-03-20 17:47] jayvdb opened #503 "FAQ about mentoring"
It should explain the two main roles, 'primary' and 'secondary' mentors, where the former is responsible for the administrative tasks of the project, and the secondary has little to no responsibility, but provides backup and code review for aspects of the project which are relevant to their expertise.

And people interested in mentoring should contact one of the GSoC admin list in the mentors sect

[2018-03-20 17:50] #491 closed

[2018-03-20 18:05] jayvdb commented on #487
An important aspect of this project is that when combined with `moban`, it will allow all coala repos to have similar settings.  c.f. https://github.com/coala/coala/pull/4897

[2018-03-20 18:19] jayvdb opened #504 "Aspectify quickstart"
@satwikkansal had the idea that we might combined aspects and [coala-quickstart](https://github.com/coala/coala-quickstart/) to create a project that achieves a definite goal without needing to first rewrite everything to be aspectified.

I suspect it would be a solid project to convert https://github.com/coala/coala-quickstart/blob/master/coala_quickstart/Constants.py to using aspects, as it woul

[2018-03-20 18:55] jayvdb commented on #487
See https://gitlab.com/gitmate/GitMate-2-ideas/issues/31 and https://gitlab.com/gitmate/open-source/gitmate-2/issues/363

[2018-03-21 01:38] pombredanne commented on #502
@jayvdb FWIW, https://github.com/nexB/saneyaml that I maintain does not make any serious attempt at roundtripping. Instead it focuses on trying to get readable YAML out and avoid falling into too many YAML traps in ... which in some cases could amount to rountripping. https://pypi.python.org/pypi/ruamel.yaml seems a better solution if you want to go strict.

[2018-03-21 02:32] jayvdb commented on #502
`ruamel.yaml` is only good at a subset.  It would be interesting what subset of syntax `saneyaml` can roundtrip.  That isnt something that we need to determine now.

I think the application phase & community bonding phase of this project should be about assessing the available yaml libraries to select the best roundripper for the most suitable set of yaml needed for typical front matter.

I would

[2018-03-21 02:39] jayvdb commented on #502
The yaml 1/3 of this project should be the first third IMO , as building a well defined subset of yaml which can be roundtripped will assist https://github.com/coala/projects/issues/502 , so that the yaml schema chosen is able to be roundtripped, which will be necessary as gitmate has a web-editor of the settings which needs to serialize changes back into YAML.

[2018-03-21 02:51] jayvdb commented on #501
The template is at https://github.com/coala/projects/blob/master/_faq/application_template.md

[2018-03-21 03:38] jayvdb commented on #502
Probably also want to include https://github.com/adrienverge/yamllint in the scope of this project.

[2018-03-21 09:34] jayvdb opened #506 "Quickstart green mode"
coala-quickstart generates a `.coafile`.

It loads existing meta files, like `.editorconfig` to find rules which are already defined by the repository authors.

Currently it asks the user a lot of questions, and usually generates a `.coafile` which causes `coala-ci` to generate errors.

It could, given more processing time, find most detailed `.coafile` which generates no errors.

i.e. find which

[2018-03-21 11:57] satwikkansal commented on #504
I feel like, if well thought out this can be mixed with https://github.com/coala/projects/pull/464. Coming up with the right approach and design might be tricky since the student would be required to familiarise him/herself with coala bears, aspects and quickstart.

[2018-03-21 12:05] satwikkansal commented on #506
This might be relevant https://github.com/coala/coala-quickstart/issues/129

[2018-03-21 12:09] satwikkansal commented on #506
i.e. find which set of bears and rules most closely align with the existing source code.

This mode would run coala many times in order to answer questions itself, altering bear settings each time to find the set of settings which produces the least amount of errors, and where necessary adds ignore for the remaining files.

Not sure if I clearly understand what does "error" here mean, is it the ac

[2018-03-21 14:47] jayvdb commented on #506
@satwikkansal, maximum number of errors assumes, usually incorrectly, that coala-quickstart & bears is smarter than the repo maintainers.  In reality coala bears are usually not very good.  Worst case is it would recommend tabs for every spaces project, and inverse.  Logic alone forces us to accept that coala is worse than the repos maintainers individually configuring each linter, because coala i

[2018-03-21 15:48] satwikkansal commented on #506
Ah, I get it now. So we assume that the project is rightly developed, try to learn its style, and adapt `.coafile` accordingly? The style learning can be done with the help of

- Meta information found from project (if any)
- Iteratively trying different versions of `.coafile`, and selecting the one which is the most compatible to the project (i.e produces min error)

[2018-03-22 04:10] nemaniarjun commented on #498
[Following]

[2018-03-22 07:36] #441 closed

[2018-03-22 07:41] jayvdb commented on #498
@nemaniarjun , you have some ideas?

We have a general problem with the bot in that it needs security hardening, esp. ensuring that only people in certain teams can run various commands (and that needs to be tested and verifiable, which is a bit of a problem in @errbot) .  See high priority list of issues in the repo.

Many of these hardening enhancements also require IGitt enhancements, as it doe

[2018-03-22 07:43] jayvdb commented on #504
It would be a steep learning curve, and quite a bit of work, but this concept provides a really clear objective for the project, and sometimes that is the key ingredient to a successful project.

[2018-03-22 07:44] #501 closed

[2018-03-22 10:45] rohanrk opened #508 "Duplicate question in application template"
There is a duplicate geographical boundary question.

- Which country will you reside in during the project?
- Which city (or other geographical boundary you feel comfortable sharing)?

[2018-03-22 11:38] MacBox7 commented on #493
Is @srisankethu mentoring this year also?

[2018-03-22 11:52] kriti21 opened #510 "Add FunctionComplexityCheck bear"
This project is about adding a new bear that checks whether any function/method in the given file is too large/complex and give suggestion to split it into smaller functions.

[2018-03-22 13:01] jckw commented on #395
@jayvdb can I be assigned this issue? I'll fix the PR with a correctly formatted commit message.

[2018-03-22 14:40] sangamcse opened #511 "Add fork-me ribbon"

[2018-03-23 01:43] jayvdb commented on #508
Dont work on issues without being assigned.  This helps to ensure undesirable changes are not done.

We require country.

We do not require city.

Perhaps the template could be more clear?

[2018-03-23 02:19] rohanrk commented on #508
Oh I was a line off when I copy pasted

- Which city, region or other geographical boundary?
  (if you feel comfortable sharing this):
- Which city (or other geographical boundary you feel comfortable sharing)?

These are the duplicated questions.

[2018-03-23 07:29] adhikasp commented on #504
Great idea! @satwikkansal what is your integration goal in coala-quickstart? Something like the default generated .coafile is using aspect setting?

[2018-03-23 07:35] #417 closed

[2018-03-23 07:50] jayvdb commented on #492
Closed with https://github.com/coala/projects/pull/495

[2018-03-23 07:50] #492 closed

[2018-03-23 08:17] adhikasp commented on #504
Anyway, the aspect part shouldn't be too complicated, because they doesn't need to know the underlying system. Only how to migrate bear and how to write new aspect. So I think a combined project to quickstart isn't too complicated.

[2018-03-23 10:40] jayvdb commented on #504
@adhikasp what do you think about aspectifying https://github.com/coala/coala-quickstart/blob/master/coala_quickstart/Constants.py

[2018-03-23 13:55] satwikkansal commented on #504
Yes, something on the lines of:
- quickstart generates an aspect style quickstart in addition to the conventional one it already generates. We might deprecate the conventional one in future.
- The aspect based `.coafile` generated is equally (if not more) effective than the conventional type `.coafile`.
- And few ways to automatically discover the aspects from the meta-data that we collect in the

[2018-03-23 15:45] jayvdb opened #516 "Mark Improve Lint Bear Quality as crowded"
We have too many proposals for this project.

It needs to be marked crowded to prevent more applicants.

[2018-03-23 15:46] virresh commented on #516
Can I take this up ?

[2018-03-23 17:20] virresh opened #518 "Links to gitmate docs not being resolved"
http://code.gitmate.io is down due to which builds are failing on the projects repo.

See https://github.com/coala/projects/pull/513
or any recent PR in projects repo

Possible fix: replace the links with actual path
e.g
http://docs.gitmate.io/Developers/Writing_Plugin/ -> https://gitlab.com/gitmate/documentation/blob/master/docs/Developers/Writing_Plugin.md

[2018-03-23 17:46] jayvdb commented on #510
Which existing bears already provide this functionality?

[2018-03-23 17:47] jayvdb commented on #487
https://github.com/rtfd/readthedocs.org/milestone/28 is a similar GSoC for readthedocs.

[2018-03-23 18:17] jayvdb opened #519 "Automated developer docs generation based on test cassettes for interconnected components/systems"
@coala and @gitmateIO Python repos have a specific structure for their tests, and 100% test coverage.

Typically automated docs are generated from the source code as the entry point into the system.

When there is a high percentage of test coverage, using the tests as the starting point for documentation will allow all important parts of the API and its source code to be reached.

The unit and int

[2018-03-23 18:33] jayvdb commented on #519
Some possibly interesting reading

https://summerofcode.withgoogle.com/archive/2017/projects/4630773877440512/
https://github.com/thisch/pytest-sphinx
http://www.sphinx-doc.org/en/stable/ext/doctest.html

[2018-03-23 18:37] jayvdb commented on #519
Maybe can generate swagger and similar documents from the test cassettes, documenting the API as it is used by tests residing outside that API's component, rather than documenting the entire component API including elements never used in tests by other components.

https://summerofcode.withgoogle.com/archive/2017/projects/4787965653942272/

[2018-03-23 18:40] jschwarzwalder commented on #519
Are you proposing using sphinx to build the docs?

[2018-03-23 18:47] jayvdb commented on #519
sphinx is a logical choice, but I think we should be open to other options.

Any non-Python processor is going to be unlikely, as the unit tests and source docstrings are written in Python, but some crazy individual might use some bridge to read the AST.

In the idea phase, we need to decide what we want as the deliverable.

In most of our repos, tests are very well maintained, and we are happy to

[2018-03-23 19:01] kriti21 commented on #510
None @jayvdb

[2018-03-23 19:02] jayvdb commented on #488
@Makman2 , @nkprince007 , see  https://github.com/coala/projects/issues/487 for configuration of gitmate from YAML inside a repo (and we would do the syncing between repos in another tool; likely moban)

[2018-03-23 19:17] jayvdb commented on #508
ah, re-reviewing...

[2018-03-23 19:41] jayvdb commented on #519
["test-driven documentation"](https://www.google.com/search?q=%22test-driven+documentation%22&ie=utf-8&oe=utf-8&client=firefox-b) seems to be a thing.  Might have some relevant prior art.

[2018-03-23 20:39] jayvdb commented on #519
https://github.com/spyder-ide/docrepr might be worth looking into for the source code docs generation

[2018-03-24 00:19] jayvdb commented on #510
Would your bear emit a message recommending to split the function, or would it provide an actual diff object as a suggestion of how to split the function?

[2018-03-24 03:46] kriti21 commented on #510
Well that actually depends like for a function that consists of many for / while loops one after the other, or it consists of more than one nested loops or if we could somehow find out the one-half of a function finds out something (a variable value maybe) and the other half actually uses it. For such cases, the bear could suggest where to split the function. But for a really long and complex code

[2018-03-24 08:05] MacBox7 commented on #510
By complexity if you mean cyclomatic complexity then we already have some bears for that(RadonBear, ClangComplexityBear, etc). However, if you meant time complexity, then I don't think you can actually find the time complexity of an arbitrary code automatically refer [here](https://stackoverflow.com/questions/9958299/a-tool-for-calculating-the-big-o-time-complexity-of-java-code). Plus providing su

[2018-03-24 10:30] jayvdb commented on #518
http://code.gitmate.io is now up, but the links are now 404

[2018-03-24 10:32] jayvdb commented on #518
@virresh & @nkprince007 , if the problem isnt fixed in a few hours, please add ignore rules to this repos `.coafile` to get past this problem.

[2018-03-24 13:42] jayvdb commented on #510
We also have complexity bears for JS I believe, and checkstyle does the same for java iirc.

[2018-03-24 13:53] jayvdb commented on #510
Project idea is not developed enough for this year, with only a few days to go

Detecting complexity is old hat stuff. Already done.

Fixing complexity is harder, and could be a project, but requires a round trip-able syntax tree.

We only have the Clang AST, but fixing complexity of C/C++ languages is too crazy . Use go or rust instead.

We have two AST project ideas this year.

So if those proje

[2018-03-24 17:10] virresh commented on #518
@jayvdb
The 404 errors haven't been resolved yet, should we wait more or add ignore rules ?

[2018-03-24 22:03] himanshu1603 commented on #484
Please assign me this issue!

[2018-03-24 23:03] nkprince007 commented on #518
Resolved now. Please proceed. I'm closing this issue now.

[2018-03-25 01:38] #516 closed

[2018-03-25 01:45] #508 closed

[2018-03-25 01:45] #518 closed

[2018-03-25 01:47] jayvdb opened #521 "Add link to Proposal issues on project page"
Add link to https://github.com/coala/projects/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc+label%3A%22Project+Proposal%22

so potential students can see more ideas not yet finished

[2018-03-25 02:02] jayvdb opened #522 "Mark project ideas as crowded"
The following projects are now crowded

* Commit content checks
* Debug and profile bears
* ANTLRv4
* Improve installation of coala and coala-bears

[2018-03-25 02:03] jayvdb commented on #522
c.f. https://github.com/coala/projects/issues/516

[2018-03-25 02:26] rohanrk commented on #447
I'd like to finish this and https://github.com/coala/projects/issues/448 since they require the same process on two different projects.

[2018-03-25 03:56] #511 closed

[2018-03-25 04:40] virresh commented on #522
I would like to work on this :)

[2018-03-25 04:40] manankalra commented on #522
On it.

[2018-03-25 04:41] manankalra commented on #522
@virresh okay :laughing:

[2018-03-25 05:03] #522 closed

[2018-03-25 05:12] virresh commented on #521
Should this be added as a new tab in the landing page ?

[2018-03-25 06:09] jayvdb commented on #521
Maybe a new tab (but it might be rather empty?), or somewhere moderately visible on the Projects tab.

[2018-03-25 06:12] jayvdb opened #525 "Add FAQ about status high involvement"
It doesnt have an exact meaning, but it is a suggestion that people shouldnt submit new applications to this project unless they are freaking awesome.

The rough rule I am using is 2+ good proposals, or 3+ reasonable proposals.

[2018-03-25 06:28] virresh commented on #521
A tab entry, which redirects to the above link is what I had in mind

[2018-03-25 06:37] jayvdb commented on #521
eww, no redirect pls.  confusing.

[2018-03-25 06:52] virresh commented on #521
Uh
okay
Something like this
https://hopeful-thompson-0e3259.netlify.com/#/projects

[2018-03-25 06:58] jayvdb commented on #521
No ... a tab has to have content.  no redirect. no offsite link (hidden on mobile).

[2018-03-25 07:05] virresh commented on #521
Ah
I understand now
So the offsite link be added as a baner on the projects page below/above the search box ?

[2018-03-25 07:49] jayvdb commented on #521
Ya, something like that.  but not too prominent.  "For more project ideas, see ...."

[2018-03-25 07:58] ShivamSinghania commented on #525
Ok, can you assign this to me ?

[2018-03-25 08:17] virresh commented on #521
Something like this
https://hopeful-thompson-0e3259.netlify.com/#/projects ?

[2018-03-25 08:19] jayvdb commented on #521
good enough

[2018-03-25 08:20] virresh commented on #521
okay
I will add a patch then :)

[2018-03-25 08:37] #395 closed

[2018-03-25 09:00] #521 closed

[2018-03-25 09:01] jayvdb commented on #525
@ShivamSinghania, pick another one ;)

[2018-03-25 10:31] #479 closed

[2018-03-25 11:43] adhikasp commented on #504
I think its okay. But some of the bears is more tricky to migrate, like https://github.com/coala/coala-bears/blob/master/bears/c_languages/CPPCheckBear.py, because it doesn't directly implement `run` method. They will need to mess a bit deeper to aspect code/create new helper function for integrating aspect to those bear. Or maybe expanding `@linter` annotation would works.

[2018-03-25 11:48] jayvdb opened #529 "Add .md to whitespace consistency rule"
Whaaa

~~https://github.com/coala/projects/blob/master/.coafile#L30~~

https://github.com/coala/projects/blob/ec5c428/.coafile#L35

[2018-03-25 11:52] jayvdb commented on #504
@adhikasp , ok, so those bears should be left to be a stretch goal for this project.

IMO any bear which cant be aspectified easily should be dropped off the important bear list anyway, as aspect-chosen bears (and settings) will lead to better results.

Anyone who thinks those bears are important can add aspects support ;-)

[2018-03-25 12:19] jayvdb opened #530 "Mark more projects as High involvement"
- Newcomer metrics and gamification
- coala Language Server

[2018-03-25 12:29] jayvdb commented on #480
A very nice place to implement this is inside https://github.com/coala/gh-board , which already has a browser cache of all the issues and PR.  Meta-reviewing issue creation would be a good coding phase 1 deliverable.

gh-board could be expanded to also load the comments and actions to check if there are any comments/actions which need meta-reviewing, and the developer can do meta-review them by op

[2018-03-25 15:45] #469 closed

[2018-03-25 17:27] #447 closed

[2018-03-25 17:27] #448 closed

[2018-03-25 21:46] li-boxuan commented on #530
If no newcomer wants to solve it, I am willing to do it.

[2018-03-26 02:45] jayvdb commented on #498
IMO any GSoC proposal for corobo needs to include a decent amount of improvements to errbot, especially around security.

[2018-03-26 03:28] meetmangukiya commented on #498
More ideas:

1. Better tests and test infrastructure.
2. Look through the plugin proposals and implement them based on the needs.
3. Improving labhub and security.
4. Better configurability.

### Better tests and testing infrastructure

Currently we have really hacky tests. We are not using the TestCase provided by the errbot itself in some complex plugins like labhub, and labhub is one really imp

[2018-03-26 06:09] jayvdb opened #532 "Gitmate auto assign on commit mention"
When a commit mentions an issue , a link is created on the issue.
This can be used to auto assign unassigned issues, or at least create a queue for maintainers to review and manually assign.

This avoid problem of inviting people to be members before they have shown an interest or aptitute.

[2018-03-26 11:30] jayvdb commented on #532
This should get merged into the Gitmate plugins project

[2018-03-26 15:40] #530 closed

[2018-03-26 20:14] palash25 commented on #506
**This is a very rudimentary version of the project that I could come up with**
What if we store certain minimal template .coafiles along with quickstart and add the capability of generating a default but custom .coafile for each project depending upon its metadata (the simplest I can think of are the file extensions) which is inspired from this https://github.com/coala/coala/issues/568
Once quick

[2018-03-27 03:45] yzgyyang commented on #272
May I get assigned to this one please?

[2018-03-27 04:03] #497 closed

[2018-03-27 04:13] #498 closed

[2018-03-27 05:37] #525 closed

[2018-03-27 05:58] jayvdb commented on #180
Another option is netlify CMS, or netlify forms with https://gitlab.com/blazeu/gitlab-submission

[2018-03-27 06:02] jayvdb commented on #394
Probably also worth considering including making this repo better designed for GCI (https://github.com/coala/projects/issues/299)

[2018-03-27 11:29] mayokunthefirst commented on #529
@jayvdb can I be assigned to this project?

[2018-03-27 20:05] ShivamSinghania commented on #503
Do I add these details in the mentor_obligations.md file ?

[2018-03-28 03:15] jayvdb commented on #503
Yes, https://github.com/coala/projects/blob/master/_faq/mentor_obligations.md is very outdated, before we had a good concept of primary vs secondary mentors.

[2018-03-28 16:21] #503 closed

[2018-03-30 09:55] jayvdb commented on #506
We have applicants for this project, so we need it to be on our website.

[2018-03-30 09:55] jayvdb commented on #394
We have an applicant for this project, so it needs to be on the website.

[2018-03-30 12:04] ishanSrt opened #541 "add .DS_Store to .gitignore"

[2018-03-30 12:42] #541 closed

[2018-03-30 17:34] Makman2 commented on #463
You haven't accepted the invite yet via mail.

[2018-03-31 06:59] refactormyself commented on #463
@Makman2 that totally escape me. Now I have accepted the invite

[2018-04-01 10:46] himanshu1603 commented on #490
Please assign this issue to me.

[2018-04-07 02:09] jayvdb opened #546 "Create Windows support project"
- dependency management using Windows tools like Chocolatey
- a few annoying and rather complex bugs in coala/coala on Windows
- Almost all bears installed into Appveyor and passing the tests.

[2018-04-07 03:29] jayvdb opened #547 "Update nested language proposal"
The examples are confusing rather than helpful.

Php/HTML is a good example.

Another great example is reStructuredText, which allows specification of a language for a code block.  And Markdown now has a similar concept.  Our rstcheck bear already uses this and lints the code blocks.  Ideally this project would re-implement the rstcheck's linting of code blocks, so the splitting and spawning of li

[2018-04-07 08:02] nalinbhardwaj opened #548 "GitCommitBear: Support fixup and squash commits"
Add https://github.com/coala/coala-bears/issues/2409 to one of the projects.

[2018-04-07 13:06] jayvdb commented on #532
A possible enhancement to this is to only assign them when the checks have passed.  Otherwise they may not have a viable PR, and the issue should stay unassigned.

[2018-04-07 13:12] jayvdb commented on #532
The 'queue' approach could initially be implemented as a nightly job in the community repo, creating a list of potential assignments that maintainers should work on.

[2018-04-07 13:41] jayvdb opened #549 "Enhance augeas to be a reformatter"
This project would include creating a bear to do simple roundtrip checks, but then also use augeas more creatively to reformat a file using a consistent layout (but likely not configurable due to the way augeas works).

- https://github.com/coala/coala-bears/issues/2115
- https://github.com/hercules-team/augeas/issues/352

Semi-related is https://github.com/coala/coala-bears/issues/2062

[2018-04-08 11:29] #506 closed

[2018-04-08 13:38] jayvdb opened #550 "Add bear settings to green mode project"
The quickstart green project should also include adding/exposing/standarding bears defaults.

The green mode will go around in circles when it finds different bears have undeclared defaults.  We've done a lot of work tackling this problem with the tabs-vs-spaces and max-line-length for each bear, creating explicit settings with a default which shows how the linter works by default.

When these set

[2018-04-10 12:48] jayvdb opened #551 "autopep8"
Lots of opportunity to add fixes.

[2018-04-11 03:49] jayvdb commented on #480
A project needs to be written up for this, if it is to proceed.

[2018-04-11 22:35] virresh commented on #548
Probably https://projects.coala.io/#/projects?project=commit_content_inspection&lang=en

[2018-04-12 22:06] jayvdb commented on #548
c.f. https://github.com/jzaefferer/commitplease

[2018-04-13 12:47] jayvdb opened #552 "Disable jetbrains project"
@traff isnt mentoring atm; project needs to be disabled until he plans to be a mentor again.

[2018-04-14 02:52] jayvdb opened #554 "Add Haskell bear project"
A project to take http://github.com/coala/coalaHS and make it a viable way to write new bears.

See https://github.com/coala/coala/issues/3416#issuecomment-379438292

[2018-04-14 11:48] wisn commented on #554
Let's wait till GSoC announcement first. I would like to think about the project design so everyone could write new bears. I hope there will be a lot of Language modules available after this.

[2018-04-14 16:01] maweki commented on #554
A little problem is that the json-exchange format does not allow for patch suggestions while the native ones do.

[2018-04-15 14:04] wisn commented on #554
I see. That's mean I need to do some research.

[2018-04-17 11:07] jayvdb opened #555 "Result reporter tool"
The coala json format provides a stable output.

There are other formats which are useful for reporting tests and failures.

Most commonly used is JUnit format. (which isnt really a specified format; see https://blog.ilias.xyz/unit-test-output-formats-a-state-of-affairs-5734b4c8e577)

Converting the static analysis results into a test results format has been done a few times, such as early PEP8 pl

[2018-04-18 02:55] jayvdb commented on #324
I've invited @Geekcoder555 to join coala org.

[2018-04-18 02:57] jayvdb commented on #490
Re-assigning as @himanshu1603 cant git.

[2018-04-18 06:01] #463 closed

[2018-04-18 08:51] #490 closed

[2018-04-23 10:30] jayvdb commented on #484
The example project is visible in the website.

[2018-04-23 11:38] jayvdb opened #557 "Update GSoC 2017 project links"
https://gitlab.com/coala/GSoC-2017 has moved to https://gitlab.com/coala/GSoC/GSoC-2017

[2018-04-23 18:26] jayvdb commented on #510
This proposal cant be developed until after the other projects are completed, and those students will write up new projects which provide the next step forward for those projects.

[2018-04-23 18:26] #510 closed

[2018-04-23 18:28] jayvdb commented on #429
I am experiencing it as well.

[2018-04-23 18:33] Vamshi99 commented on #429
Actually, it doesn't happen always. It worked for me until today, I faced it again today after a long time, but it started working normal now. May be It is down due to traffic or something? Need to find the reason first.

[2018-04-23 18:46] Vamshi99 opened #559 "Add filters for searching projects"
Add filters to filter projects by collaborating projects, initiative, mentors, status, difficulty level, tags, etc . Also, have a separate tab for completed projects(maybe also for WIP projects).
label: difficulty/medium

[2018-04-23 21:35] himanshu1603 commented on #484
Can I work on this issue?

[2018-04-24 09:11] jayvdb commented on #484
ok, sure.

[2018-04-24 09:22] jayvdb opened #560 "Add posts / calendar app to projects website"
Basic gsoc timeline, with milestones events.

Needs ability for project members to publish periods of extended unavailability, if they want to, before and during gsoc.

Also can be used to record significant project related events / posts, such as software releases, survey result announcements, cEP merges which affect everyone (e.g. gsoc responsibilities changes, or CoC updates).

gci timeline wou

[2018-04-24 20:32] jayvdb opened #563 "Add second vulture project"

[2018-04-24 20:57] jayvdb opened #564 "Split repology project into two projects"
We have two different projects both utilising Repology for installation.

And there is only one repology project here: https://github.com/coala/projects/blob/master/_projects/automate_dependacy_repology.md

Also relevant is the [`cib`](https://github.com/coala/projects/blob/master/_projects/improve_installation.md) project, which will also be improving our dependency management, but it will be fix

[2018-04-24 20:58] jayvdb commented on #480
fwiw, @li-boxuan & @bekicot , we need two project pages in this repo, one for each of your projects, as they are quite different, and will have different mentors, etc.

[2018-04-24 23:05] #484 closed

[2018-04-26 08:43] li-boxuan commented on #480
@jayvdb Regarding https://github.com/coala/projects/issues/480#issuecomment-375966779

Could you elaborate on that?

[2018-04-26 12:57] yukiisbored commented on #564
I'm a bit confused with the following statement since you don't add packages directly to repology. Repology just tracks packages on different repositories/OSes, it doesn't actively add them or make a platform to add packages to them. The closest thing I can so for mere users to "edit" it is by Report.

[2018-04-26 13:14] yukiisbored commented on #564
I think the whole repology project have works on the following projects:

1. [coala/dependency_management](https://gitlab.com/coala/package_manager) implements the Repology aware stuff (do webcalls to repology API for checking versions, see if it's available in the user's setup, find the best way to solve the dependency, etc)
2. [coala/coala](https://github.com/coala/coala) / [coala/cib](https://g

[2018-04-26 13:45] yukiisbored commented on #564
Okay, I think the best to start this of is to simply share your final PDFs with each other and just read it. I'm not sure if it's okay for me to do it myself since it contains your personal information but I can just say both of them have the same goal but they have different routes/timeline to do it. I think it's a good idea to have you both know what similar ideas you have and discuss what's goo

[2018-04-26 19:45] anctartica commented on #564
I think the 2 repology projects would be dependent on my project which involves fixing the cib tool so, I would also have to plan my timeline accordingly.

[2018-04-26 23:07] nemaniarjun commented on #564
I dont mind sharing my proposal with @yzgyyang

[2018-04-27 01:08] xferra commented on #564
As far as I see proposals have the same goal but a little bit different ways to achieve it: "improve" and "change". I suggest that everyone will review both proposals and then chat somewhere in more interactive mode (gitter room?) or even to have a short call to discuss your vision and plans. What do you think?

[2018-04-27 02:50] yukiisbored commented on #564
Anyway, deleted my comments since it caused confusion and I didn't read the internal docs about this. Sorry guys^^

[2018-04-27 12:08] pareksha opened #566 "Typo in ``convert_bear_to_aspects`` project."
There's a typo in ``_projects -> convert_bear_to_aspects.md``.
Change ``completly -> completely``.

Any newcomer is welcome.

[2018-04-30 06:58] devshiva619 commented on #566
@pareksha hey I am a newbie, can I work on this?

[2018-04-30 07:01] palash25 commented on #566
@devshiva619 sure go ahead. Start working on your PR, a maintainer will assign you as soon as possible.

[2018-04-30 07:01] pareksha commented on #566
Hey @devshiva619 welcome to the coala community! Join https://gitter.im/coala/coala and ask a maintainer to assign you the issue.

[2018-04-30 07:28] devshiva619 commented on #566
@pareksha @palash25 thanks 👍

[2018-04-30 16:44] RonnanSouza commented on #552
Hey @jayvdb, I'm a newbie here, can you tell me more how can I do that? thanks

[2018-05-02 23:31] xferra commented on #564
Ping @neelanshsahai @yzgyyang

[2018-05-05 00:58] jayvdb commented on #529
See updated link in issue.  The extensions do not include .md files.

[2018-05-05 00:59] jayvdb commented on #529
Note that adding markdown to that rule will result in *lots* of errors.  Fix them on your machine before submitting a PR.

[2018-05-05 04:14] #548 closed

[2018-05-05 05:48] jayvdb commented on #547
Another example is IPython notebooks, which contain e.g. python code.

See our `PEP8NotebookBear` for example.

[2018-05-05 12:41] jayvdb commented on #551
@AbdealiJK , https://github.com/hhatto/autopep8/issues/227 gives me an idea that might be a good basis for a GSoC size project.

We can already tell `autopep8` which problems to fix using a combination of `--select` and `--line-range`.

Therefore, we could let pycodestyle do the error detection, with the usual 'coala ignore' processing and the PycodestyleBear settings, and then pass only the resul

[2018-05-05 21:39] nemaniarjun commented on #564
@yzgyyang Lets share our proposals with each other after removing any sensitive info.
This would allow us to get a better idea of our projects and help us in dividing it.

Also as @jayvdb said in the issue description, the first step is for you to create a new very basic proposal page for your project.

[2018-05-10 07:57] ksdme opened #569 "Improve project description of coala Language Server"
Include more details, new milestones etc.

[2018-05-10 07:59] ksdme commented on #569
Please assign this to me.

[2018-05-10 12:56] prashantxc commented on #557
I want to work on this.

[2018-05-10 13:38] jayvdb commented on #557
Invited you to the org, so you can follow http://coala.io/newcomer

[2018-05-10 14:29] #557 closed

[2018-05-12 05:51] jayvdb opened #573 "Remove trailing underscore in pyflakes URL"
The pyflakes project link is
http://projects.coala.io/#/projects?project=integrate_pyflakes-enhanced_ast_into_coala_

Without the underscore it doesnt work.

http://projects.coala.io/#/projects?project=integrate_pyflakes-enhanced_ast_into_coala

We need both to work, and the former redirect to the latter.

It might be possible to use Netlify `_redirects` to do the redirect.

[2018-05-12 11:22] jayvdb opened #574 "New Project: mobanise tool"
The process of converting a project to moban is similar to the coala-quickstart problem solved in the [GSoC 2017 quickstart project](https://github.com/coala/projects/blob/master/_projects/enhance_coala_quickstart.md)

A lot of information needs to be extracted from various existing files, converted to yaml, and then moban run to generate those same files, and various commands run to identify what

[2018-05-12 12:58] satwikkansal commented on #574
Yeah, we can move them to coalib or maybe a separate repository called `info-parsers`. Relevant: https://github.com/coala/coala-quickstart/issues/117

[2018-05-13 12:29] jayvdb commented on #550
Type annotations can be classes which can hold any information quickstart needs to improve its algorithms.

[2018-05-14 12:25] MacBox7 opened #576 "Improve coala online"
coala online doesn't works well all the time. The result thrown is empty sometimes and should be improved.
A good new feature would be to search for .coafile in the github repository provided by user and automatically run coala on it.

[2018-05-18 19:17] jayvdb commented on #504
Ah, I see the capabilties system comes from https://github.com/coala/cEPs/blob/master/cEP-0014.md .  So yea, this project would involve adapting cEP 14 to work with cEP 5

If I understand correctly, capabilties are disabled by default at the moment in `coala-quickstart` , as `--no-filter-by-capabilities` is `True`.

[2018-05-20 07:01] bekicot opened #580 "Broken Link https://bitbucket.org/jendrikseipp/vulture"
File Location: https://github.com/coala/projects/blob/master/_projects/vulture.md

[2018-05-20 14:00] jayvdb commented on #580
So fix it.

[2018-05-21 08:41] #580 closed

[2018-05-21 17:32] satwikkansal commented on #504
Yep, because for capabilities we have to ask the user to select that capabilities, and I feel that quickstart already asks too many questions. However, quickstart does drop bears with overlapping capabilities (something that can be re-used with aspects)

[2018-05-22 09:02] devshiva619 commented on #573
@jayvdb hey I would like to work on this

[2018-05-23 01:49] #569 closed

[2018-05-23 06:42] jayvdb commented on #573
Assigned.

[2018-05-23 08:27] jayvdb commented on #529
This is explained in our http://coala.io/newcomer guide.

[2018-05-23 08:28] jayvdb commented on #573
Wow, you have also been assigned to https://github.com/coala/projects/issues/529 for ages, and not done anything.
You'll be unassigned soon if you dont submit a PR.

[2018-05-23 08:40] devshiva619 commented on #573
u can unassign me from #529  👍

[2018-05-23 11:53] jayvdb opened #583 ".coafile: Set max line length for project pages"
Similar to https://github.com/coala/cEPs/issues/134 , the project pages (i.e. pages in https://github.com/coala/projects/tree/master/_projects) should have a reasonable line length to improve the ability to read & code review them.

c.f. https://github.com/coala/cEPs/pull/157

Try length 120 for existing files so it requires less disruptive changes to the existing files.

Then add another section

[2018-05-31 12:55] jayvdb opened #585 "Broken link causing failures"
http://summerofcode.github.io/gsoc-prep-tasks  moved to https://github.com/coala/git-task-list

[2018-06-01 03:31] li-boxuan opened #586 "Typo on title `automate_dependacy_repology.md`"
automate_dependacy_repology.md -> automate_dependency_repology.md

https://github.com/coala/projects/blob/e26976aa8da0379c39a4d294ee6cb6e213db1668/_projects/automate_dependacy_repology.md

[2018-06-02 18:18] amit2020cs commented on #586
'I want to work on this issue. Can I be assigned please.'

[2018-06-03 09:18] nemaniarjun commented on #586
Apologies, as I was the one who created the file in the first place :stuck_out_tongue:

[2018-06-03 15:24] jayvdb opened #589 "Rule based ignores"
Currently coala can ignore rules based on in-source comments.

That can get very messy when particular rules sgould always be ignored in common but well defined scenarios.

In those case it is better to define a rule *about* the relevant lines.

See flake8-putty, which uses regex to describe scenarios.
The solution for this project should be more generic that flake8-putty, possibly using bears to

[2018-06-03 18:14] #585 closed

[2018-06-04 09:55] jayvdb opened #590 "IGitt scm support"
IGitt is a library to support multiple hosters.

BitBucket (git) support is missing.
BitBucket (mecurial) should be added at the same time, making IGitt support scm other than git

Then add fossil and launchpad.

[2018-06-04 14:25] nemaniarjun opened #591 "Clarifying / Updating the Repology Automation Project"
So I have started adding Repology IDs to linter bears (there are a lot of them, around 80-90)
So for the first evaluation, I am trying to make sure that all the Gem bears' packages are on repology.
I would be adding them to Wikidata which is the fastest way of getting data onto repology.
My main concern is with the application of the usage of the data, so after a bears package is available on the

[2018-06-04 14:28] nemaniarjun commented on #591
This is basically because while finding the correct Repology ID of existing packages or entering data into new Wikidata Items, there are cases where decisions need to be made. I do not have a clear idea of the end goal and thus it becomes difficult for me to make these decisions.

[2018-06-05 12:40] palash25 opened #592 "Optimize Caching: Remove adtac and add Makman"
The current description of the optimize caching project mentions adtac as the primary mentor but currently Makman is mentoring me on that project this will be fixed as a separate commit in this PR https://github.com/coala/projects/pull/578

[2018-06-05 14:08] #586 closed

[2018-06-06 05:06] #592 closed

[2018-06-06 17:39] waldyrious commented on #591
Hi Arjun. Can you give an example or two of such decisions?

[2018-06-07 09:58] nemaniarjun commented on #591
For example for the ruby package `rubocop` both `ruby:rubocop` and `rubocop` exist as metapackage on Repology.

[2018-06-07 10:03] nemaniarjun commented on #591
So the final product of the project is supposed to access the API of Repology using the repology id, and get info if a specific version is available in the distro's package manager. We also need a way to access the language's specific package manager like, PyPi or NPM or RubyGems.org

[2018-06-07 14:03] waldyrious commented on #591
Hmm, IIUC those should be merged. But @AMDmi3 is the right person to provide an authoritative answer.

[2018-06-07 15:39] nemaniarjun commented on #591
Okay for more such things, I'll add rules the same way and make a PR.

[2018-06-07 16:20] AMDmi3 commented on #591
I don't think I fully understand what this is about, but regarding discrepant names like `rubocop` and `ruby:rubocop` there's no universal answer or solution. Some repositories tend to prefix modules for specific languages (python, perl, ruby, haskell) to prevent possible conflicts with other packages, some don't. Some behave differently based on whether the subject is more of an application than

[2018-06-07 17:16] #563 closed

[2018-06-12 01:06] jayvdb opened #594 "git-task-list 'issue 20'"
https://projects.coala.io/#/projects?project=git_task_list includes " (issues/20)"

It isnt clear in the UI what this refers to.
Probably https://github.com/coala/git-task-list/issues/20

[2018-06-13 02:03] #594 closed

[2018-06-18 09:53] JameerBabu commented on #583
Hello everyone, I would like to work on this issue. Please assign me to work on it. @jayvdb please give me a chance.

[2018-06-18 10:05] JameerBabu commented on #529
Hey , I would like to work on this issue. Can some one assign me this ??

[2018-06-19 12:09] jayvdb commented on #555
See also https://github.com/Lothiraldan/litf

[2018-07-02 06:44] jayvdb opened #597 "Windows bears"
There are many bears which are not being tested on Windows, and very likely some which do not work on Windows and we dont know about it.

This project would bring our bears CI to 100% coverage, fixing all bugs in bears that are related to Windows.

[2018-07-06 03:05] jayvdb commented on #590
The pre-requisites could be

- an enhancement to the coala VCS bears
- an enhancement to IGitt

[2018-07-06 03:06] jayvdb commented on #590
Perhaps `BitBucket (mecurial)` support might be moved to phase 3.

[2018-07-06 04:14] jayvdb commented on #452
https://github.com/coala/coala-bears/issues/116 is a good foundation for a project idea

[2018-07-07 07:27] joeytwiddle opened #598 "Coala Online is broken due to CORS"
https://coala.io/#/coalaonline does not work due to the SOP security restrictions in browsers. This is bad for Coala marketing and therefore adoption!

[code]

We can use CORS to get past these restrictions. ([MDN](https://developer.mozilla.org/en-US/docs/Web/HTTP/CORS), [Wikipedia](https://en.wikipedia.org/wiki/Cross-origin_resource_sharing))

To do that, we must add some HTTP headers to the resp

[2018-07-07 07:38] joeytwiddle commented on #598
Oops, I posted on the wrong repo.

I have moved the issue to https://github.com/coala/landing-frontend/issues/282

[2018-07-07 07:38] #598 closed

[2018-07-14 16:00] nikitavbv opened #601 "Newcomers_Guide.rst: fix link color in "Struggling with this? ..." message"
On Newcomers Guide page there is a block saying:

where "our Google Code In resources" is a link. However, it is underlined with dark color (on dark background) making it unnoticeable for reader. Maybe it would be a good idea to change border color to a lighter one.

I attach the screenshot of this block to make things more clear:
![screenshot from 2018-07-14 18-57-07](https://user-images.githubus

[2018-07-14 16:00] nikitavbv commented on #601
Sorry, wrong repo

[2018-07-14 16:00] #601 closed

[2018-07-19 08:48] Man-Jain commented on #583
@jayvdb Can you please guide me on how can I do this.
More specifically asking how can I exclude the existing files from the 80 cpl length.

[2018-07-20 10:46] jayvdb commented on #583
Please read the issue carefully, as it explains how to proceed, and look at the linked pages and understand them.

[2018-07-20 11:35] jayvdb commented on #583
You can list directories in the ignore. Dunno if that helps much.

[2018-07-22 15:43] ksdme commented on #583
It looks like 120 CPL isn't enough for old files, you should use the max length that passes all the current files and then ignore them in a new section with 80 CPL limit.

[2018-07-22 15:47] Man-Jain commented on #583
@ksdme Yes 120 was not enough so I changed all those lines that were over 120 characters by splitting them up. And I have created the new section which ignores the old files and sets 80 cpl limit to new files.

[2018-07-22 15:53] ksdme commented on #583
120 CPL limit for old files is flexible, changing so many files isn't. Change the limit to whatever is required to pass all the files without splitting all the files.

[2018-07-22 16:04] Man-Jain commented on #583
I don't think there is a cpl limit that can be applied for all the files as many files were in the range of 200 and 300 and even more than that in some.

[2018-07-22 16:09] ksdme commented on #583
Maybe have 300+ CPL, I think it is better than changing all files.

WDYT @jayvdb

[2018-07-22 16:15] Man-Jain commented on #583
Okay If the two of you agree. I will do it. :smile:

[2018-07-23 04:08] ishanSrt commented on #583
@ksdme that surely isn't better that changing files

[2018-07-23 06:32] jayvdb opened #603 "Proposal: Gitmate to submit patches when available from master builds"
If coala dependencies update, new fixes may be automatically available.

They may come from new versions of linter tools, new releases of bears, or new data used by old bears.

The most common case for coala is updates to our mobans repo which need to be rolled out to all repos.

For this we will need a MobanBear .

The mechanism for creating PRs is simple, but will require some improvements to IG

[2018-07-23 12:08] yukiisbored opened #604 "Move site to Netlify"
Currently, projects.coala.io results in a TLS certificate failure because GitHub pages doesn't give free certificates for sites outside of *. github.io.

In order to fix this, I suggest moving the site to Netlify where they issue Free Let's Encrypt TLS certificates.

Cc @sils

[2018-07-23 12:17] sils commented on #604
@yukiisbored you sure? GitHub should give certs for custom domains for now, I just did that for a page.

[2018-07-23 12:18] sils commented on #604
this is what GitHub shows for https for this repo:

[code]

[2018-07-26 15:48] virresh commented on #604
Functional again https://projects.coala.io/#/projects

[2018-07-27 15:09] #604 closed

[2018-07-30 17:20] ksdme commented on #552
https://github.com/coala/projects/pull/582/ Closes this issue.

[2018-08-01 10:01] jayvdb opened #605 "Vulture : use pyflakes as an initial parse basis"
Pyflakes does a lot of analysis which can be used by vulture.

pyflakes has long ago decided that it will not report dead code.

However it does need to report other problems caused by dead code, and this can be done by tracking dead code.

There is a POC at

https://github.com/jayvdb/pyflakes/tree/dead-code

vulture can use this base on which to do more sophisticated analysis which is beyond scop

[2018-08-01 10:06] jayvdb commented on #605
Maybe @RJ722 you can mentor this year, if @jendrikseipp agrees with the concept. cc @myint

[2018-08-01 13:37] jendrikseipp commented on #605
Interesting. Is this project about changing Pyflakes, Vulture, or both? I suppose the added functionality for pyflakes can be seen in the test cases you added in the POC. Could you please say how Vulture's functionality could be extended by this, maybe with a concrete example?

[2018-08-02 10:50] jayvdb commented on #605
Hi @jendrikseipp , I would view this as a potential pyflakes + vulture project.

The POC above would be merged to pyflakes before this GSoC project (perhaps a little bit revised, and maybe reduced).

That POC adds only limited use of the dead scopes it detects; limited intentially by the purpose of pyflakes.

One part of the project is enhancing vulture to use pyflakes to do the initial parse of f

[2018-08-02 11:44] jayvdb commented on #488
The project page should have been updated during bonding, but too late for that I guess.  See cEP for final project concepts.

[2018-08-02 11:44] #488 closed

[2018-08-02 11:47] jayvdb opened #606 "Gitmate: Contextually sensitive error comments on PRs"
Currently Gitmate adds a lot of noise to PRs.

It shouldnt repeat messages it has already put on PRs.

It could add a note to the existing message that the problem was seen again in the latest commit.

It should hide as 'Outdated' messages for errors which have been resolved.

etc

[2018-08-02 12:05] nkprince007 commented on #606
Sorry, but I don't think I have enough time to spare to work on this right now. If anyone is willing to take over the issue, please do. I can assist you guys in doing so.

[2018-08-02 15:24] Naveenaidu commented on #606
@jayvdb Can i be assigned to this issue, If i can come up with a proper proposal for it?

[2018-08-03 08:07] jayvdb commented on #606
@nkprince007 , I expect we would not try to get this project ready until long after GSoC.  It would need to be assigned to / monitored by someone familiar with GitMate to ensure it comes as a reasonable project concept.

@Naveenaidu , it isnt ready to come up with a proposal yet.  You contribute ideas here on the issue, and chat about it on coala or gitmate forums .  At this stage, it is necessary

[2018-08-03 08:24] jayvdb commented on #564
No longer necessary

[2018-08-03 08:24] #564 closed

[2018-08-03 08:26] jayvdb commented on #597
Duplicate of https://github.com/coala/projects/issues/546

[2018-08-03 08:26] #597 closed

[2018-08-03 08:32] jayvdb commented on #391
We would need to add lots of other checks to make this a full three month project.

Scope probably should be validation of docstring text markup in general, which is a subset of the nested language space (https://github.com/coala/projects/issues/547)

[2018-08-03 09:38] MacBox7 commented on #391
The phases of the project can be =>
- Enhance `rstcheck` to return column offset wherever possible.
- Implement the single vs double backticks check
- Modify RSTcheckBear to provide fixes logic for some solvable errors.

In the initial phase along with modification related to column offset, some side work could be done to provide errors in json format. With these changes the student would get a th

[2018-08-03 10:12] jayvdb opened #608 "Enhance report.md to support year"
_layouts/report.md currently emits "2017" all the time.

It should derive it from other information.

The 2017 ones all have a year in the URL, so that should be able to be used somehow

See https://github.com/coala/projects/issues/359

[2018-08-03 13:15] jayvdb commented on #606
Not sure if this has been fixed ..

cron jobs on travis trigger gitmate to relabel PRs.

This happens on our masters with cron jobs, and results in a gitter notification like `gitmate-bot unlabeled #2649`

Often the PR has no labelling change occur; it is just spurious notifications, probably because GitMate is adding the same label as already exists on the PR ('approved').

[2018-08-04 13:57] virresh commented on #608
I'd like to work on this
We can exploit the fact that the repo currently has only 2017 reports and make the heading look like:

[code]

And have an issue for someone to add years to the past reports

[2018-08-06 15:19] #583 closed

[2018-08-07 14:45] #608 closed

[2018-08-08 16:55] Utkarsh1308 commented on #470
Can I be assigned to this please

[2018-08-08 18:36] jendrikseipp commented on #605
I am quite reluctant about making Vulture depend on Pyflakes since external dependencies usually incur a lot of extra maintenance cost. This is even worse when depending on the internal Pyflakes code instead of its command line interface. I'd only consider depending on Pyflakes if we see that it would add a lot of value to Vulture. The `del` issues you mention above don't really convince me, since

[2018-08-09 15:19] jayvdb opened #615 "Update GSoC report template"
https://github.com/coala/projects/blob/master/reports/example.md needs an update

Add OpenHub profile link

[2018-08-09 15:24] jayvdb opened #616 "Activity yaml should be 1 based, not 0 based"
The yaml being submitted currently contains
[code]

It should be either 1 based, or be an array like

activity:
  - repo: name
    link: URL
    details: shortlog
  - repo: name2
    link: URL2
    details: shortlog2
[code]

[2018-08-10 04:59] jayvdb commented on #555
There is also the LSP diagnostics format, which has been worked on at

https://github.com/coala/coala-vs-code/blob/6648e76/coala_langserver/diagnostic.py

[2018-08-11 00:13] #480 closed

[2018-08-11 00:42] Utkarsh1308 opened #620 "Typo in commit_based_perftest.md"
Variable name for project should be changed from ```intiatives``` to ```initiatives``` to fix spelling and to align with projects.liquid.

Probably a good newcomer issue.

[2018-08-11 03:56] jayvdb opened #623 "reports/adhikasp.md: Split PRs into commits"
`reports/adhikasp.md` links only to the pull requests.

They are all merged.

It should link to the commits in those pull requests, which is often a few commits per pull request.

[2018-08-11 04:00] jayvdb opened #624 "reports/ : Use pull/123/commits/deadbeef"
For the GitHub links, I think it is more usefull to link to `repo/pull/123/commits/deadbeef` , as this gives the PR and the commit , and also shows big purple merged at the top.

Otherwise, if only linking to `repo/commit/deadbeef` , ir only shows "master" as the branch to verify that it is a merged commit.

[2018-08-11 04:08] jayvdb commented on #615
Also add `report_year:` added in https://github.com/coala/projects/pull/609 by @virresh

[2018-08-11 06:00] jayvdb commented on #615
Also properly format the yaml with two spaces.

the example should pass `yamllint` after the markdown section is removed.

[2018-08-11 06:03] jayvdb commented on #615
and activities should start at 1

( https://github.com/coala/projects/issues/616 will be the task to fix all the 2017 ones )

[2018-08-11 07:31] srivama commented on #620
Hey, can you please assign it to me?

[2018-08-11 12:25] jayvdb commented on #603
https://github.com/coala/coala-bears/issues/1307 is a dependency for this project.

[2018-08-11 13:09] jayvdb opened #627 "reports: Add tarball hash"
The reports should include a tarball hash , as a variable in the yaml and this should be displayed beside the tarball in the HTML.

Mentors should check that the hash is correct before approving work reports.

[2018-08-11 13:11] jayvdb commented on #627
It can be omitted for the 2017 reports ; we'll create another issue to record those

[2018-08-11 13:13] jayvdb opened #628 "Reports: add live contribution list links"
There are some fantastic websites for listing a GitHub usernames contributions.

One of them should be added by the template , using the GitHub username from `social:`

Also if possible we should find a decent GitLab one and do the same.

[2018-08-11 16:16] #620 closed

[2018-08-11 23:48] jayvdb commented on #615
the template should also include the hash from
https://github.com/coala/projects/issues/627

[2018-08-12 00:59] jayvdb commented on #628
Opt-in:

- https://ghuser.io/  ( https://github.com/AurelienLourot/ghuser.io )

No opt-in required:

- https://gitstalk.netlify.com/  ( https://github.com/littlewonder/gitstalk ) -- one month only?
- http://zmoazeni.github.com/gitspective/ ( https://github.com/zmoazeni/gitspective ) -- one month only?

Dead:

- https://meowni.ca/frankly/
- https://github.com/tenex/opensourcecontributors
- https://

[2018-08-12 05:25] jayvdb commented on #628
I havent found anything significant for GitLab yet.

I am mostly looking for a listing of issues & PRs, that can be set to the GSoC period of months as a way to online validate the activities section.

[2018-08-12 10:01] #615 closed

[2018-08-12 15:50] jayvdb commented on #529
@JameerBabu assigned

[2018-08-12 17:33] srivama commented on #573
How about we directly add the redirects in the netlify.toml file instead of creating a new _redirects file?

[2018-08-13 02:44] jayvdb opened #636 "Update status of 2018 GSoC projects"
The following are done:

1. https://projects.coala.io/#/projects?project=integrate_antlr_v4_into_coala
1. https://projects.coala.io/#/projects?project=automate_whitelist_creation_for_vulture
1. https://projects.coala.io/#/projects?project=coala_language_server
1. https://projects.coala.io/#/projects?project=commit_content_inspection
1. https://projects.coala.io/#/projects?project=convert_bears_to_

[2018-08-13 06:43] jayvdb commented on #573
As this is a Single Page App, the netlify redirect probably wont work.

Might need some voodoo in the angular JS

[2018-08-13 11:05] #470 closed

[2018-08-14 20:15] shikharvaish28 opened #642 "Update the GSoC information link in FAQ's"
The link for 'further information of GSoC' in the FAQ's section is now not supported and has been moved on to a new address. This link needs to be updated.

Link to the page referred: http://projects.coala.io/#/faq

[2018-08-15 03:44] nik1082 commented on #642
This seems fairly simple, I'll try my hand on this one!

[2018-08-16 06:14] kaushl1998 commented on #224
I would like to take this issue.

[2018-08-17 12:02] jayvdb commented on #224
@kaushl1998 , assigned ; sorry for the delay

[2018-08-17 15:13] nvzard opened #644 "Fix grammatical mistakes in _reposts/NitanshuVashistha.md"
This report got merged when time for completing GSoC final evaluation was running out. I messed up the language in the bio. Here are the changes that'd most probably correct the grammar of the .

[code]

difficulty/newcomer

[2018-08-20 02:04] #552 closed

[2018-08-20 14:36] jayvdb opened #648 "Create git-bug project"
https://github.com/MichaelMure/git-bug cc @MichaelMure who has agreed to mentor.

Initial concept is bidirectional sync to GitHub issues with support for bridge impersonating multiple users, e.g. so corobo could be used to create issues as the person who used the bot (or maybe gitmate)

Another idea is GitLab issues support.

Another is a meta-git-bug for handling lots of projects, e.g. super repo

[2018-08-20 14:37] jayvdb opened #649 "Create MargeBot project"

[2018-08-23 09:44] 123vivekr commented on #636
Can you please assign this issue to me?

[2018-08-23 16:46] hritikhks commented on #616
I want to work on this issue, Please assign this issue to me.

[2018-08-24 04:03] jayvdb opened #652 "Cohesive Editor Support: update related issues"
https://github.com/coala/coala-eclipse/issues/25 is closed.

https://github.com/coala/coala-eclipse/issues/51 should be mentioned instead

https://github.com/coala/coala-emacs/issues/11 is also closed, and should be simply removed.

The body of the project says

emacs should be removed as testing for it was implemented.

[2018-08-24 04:29] #359 closed

[2018-08-24 13:35] rahuldkjain commented on #652
Please assign this issue to me

[2018-08-26 07:44] Naveenaidu commented on #652
@rahuldkjain Please do not close the Pull Request. You are never supposed to do that. And please open only one PR for one issue.

In your case you could have just checked out to the branch `rahuldkjain-patch-1` and made the changes there instead of making a new branch. And just squashed the commit as @srivama mentioned out.

Please refer to the coala Newcomer guide.

[2018-08-26 22:57] Hax7 commented on #623
#656

[2018-08-26 23:02] Hax7 commented on #623
I've created a PR for this issue, I'm a beginner i hope i got it right #656

[2018-08-27 10:53] #636 closed

[2018-09-01 14:53] vapyc commented on #642
Can you assign this issue to me? But I am completely new so please guide me too.

[2018-09-01 15:06] jayvdb commented on #642
@nik1082 is working on this one.

@vapyc , browse through https://coala.io/new for one which you understand how to fix, so you dont need to ask for help on the code -- we will help you when you submit the PR and the bot doesnt like your PR (it is very stringent).

[2018-09-10 07:18] jayvdb commented on #221
Not worth fixing now the project is completed.

[2018-09-10 07:18] #221 closed

[2018-09-12 12:27] haeungun commented on #308
@jayvdb I am take a look in this issue ~!!

[2018-09-19 09:49] #308 closed

[2018-09-19 14:20] haeungun opened #660 "add-repo-license.md: Update a dead link"
When the PR https://github.com/coala/projects/pull/659 is merged
we noticed that the link(http://besutkode.org/elimination/2016/11/01/31-october-elimination-results/) is broken which is located in `add-repo-license.md`
we should update this link.

cc: @jayvdb @corona10

[2018-09-20 08:13] jayvdb commented on #660
@refeed , @yukiisbored , either of you know what happened here?

[2018-09-20 08:16] jayvdb commented on #616
Unassigned, as the assignee kept closing their PRs instead of fixing them.

[2018-09-20 23:55] #573 closed

[2018-09-22 05:35] refeed commented on #660
@jayvdb Sorry, I barely have any idea about what's going on there.

[code]
Perhaps there's a SSL issue with besutkode.org (?)

[2018-09-22 16:39] ananyaarun commented on #660
@haeungun can i work on this issue ?

[2018-09-22 17:28] ananyaarun commented on #388
is this issue still open ? can i work on it ?

[2018-09-30 06:27] kumar1202 commented on #642
Please assign this issue to me if no one is working on it.

[2018-09-30 16:54] shikharvaish28 commented on #642
@kumar1202

I think @nik1082 is working on this.

[2018-10-03 16:08] Ishaan28malik commented on #642
can u please assign #664

[2018-10-11 05:19] pandyamarut commented on #324
i_want_to_do_a_gsoc.md
Please assign this to me.

[2018-10-11 05:29] pandyamarut commented on #324
@jayvdb Translator will work ?

[2018-10-11 05:30] jayvdb commented on #324
No of course not.

[2018-10-11 14:49] #660 closed

[2018-10-13 01:50] #388 closed

[2018-10-20 14:29] jayvdb commented on #272
This was done when the project description was rewritten during the project.

[2018-10-20 14:29] #272 closed

[2018-10-20 14:34] jayvdb commented on #477
@Bhola-B2C , yup perfect, thanks and sorry for the delayed response

[2018-10-20 18:42] srivama opened #669 "Change default year to 2019 in report layout"
File :  projects/_layouts/report.md

Newcomer issue

[2018-10-20 18:45] srivama opened #670 "Make the reports browser ready for GSOC 2019"
https://github.com/coala/projects/blob/master/reports.html currently hard-codes a section for 2017 and 2018.

It should dynamically show sections for any year which has reports .

[2018-10-20 18:47] srivama opened #671 "Change GSoC application template year to be dynamic"
https://github.com/coala/projects/blob/master/_faq/application-template.md currently contains '2018' , which is now out of date.

It appears in the FAQ at https://projects.coala.io/#/faq

To help prepare for GSoC 2019, the year should be dynamic , always showing the current year.

[2018-10-20 18:50] srivama opened #672 "FAQ question "Will coala apply for Google Summer of Code" should not include year"
Currently the FAQ question is in a file called "coala-will-apply-for-gsoc-2018.md"

As coala has been doing GSoC for a few years, we will very likely apply every year. (*)

Having a year in the filename is not good, as the history of this file is "lost" each time it is renamed.

Rename it to "coala-will-apply-for-gsoc.md" , and use "next year" instead of a specific year.

( * Potential students wi

[2018-10-20 19:02] srivama commented on #324
@jayvdb  Please change the source link to https://github.com/coala/projects/tree/master/_faq.

[2018-10-20 23:03] jayvdb commented on #324
Edited/ thanks

[2018-10-21 00:45] #623 closed

[2018-10-21 10:48] angussidney commented on #669
I'm going to have a go at this issue, I expect to submit a PR in the near future.

[2018-10-21 11:30] AkshJain99 commented on #547
what actually i need to do in this issue

[2018-10-21 13:17] jayvdb commented on #547
"Update nested language proposal" - like the title says

[2018-10-21 13:19] AkshJain99 commented on #547
Yes but what type of language proposal i need to do, and what type type of updates i should do in the proposal???

[2018-10-21 13:58] AkshJain99 commented on #547
@jayvdb There can many examples for the combinations of nested language do i need to update all the combinations or is there any limit????

[2018-10-21 19:35] suhailsinghbains commented on #669
If you're busy, please do tell me. Would love to work on it.
Thanks

[2018-10-21 19:37] suhailsinghbains commented on #559
I think this has been done, I guess.
You can go ahead and close the issue.

[2018-10-21 19:38] suhailsinghbains commented on #529
Hi, as there's no activity for so long. I'll send a PR soon.
Thanks

[2018-10-22 03:10] jayvdb commented on #672
I've sent you an invite to join coala.  Please also read https://coala.io/newcomer

[2018-10-22 04:49] AkshJain99 commented on #547
@jayvdb can u tell me what kind of updates should I need to do in proposal

[2018-10-24 00:39] #672 closed

[2018-10-24 05:36] jayvdb commented on #669
@angussidney , please accept the invite to join @coala org, and submit the PR.

[2018-10-24 05:37] jayvdb commented on #529
Sorry @suhailsinghbains , this issue is reserved for Google Code-in

[2018-10-24 05:43] jayvdb commented on #547
@AkshJain99 , do you best effort!

[2018-10-24 05:46] jayvdb commented on #669
Also remove the (now) useless `report_year` from each of the .md files.

[2018-10-24 13:02] dewanshrawat15 commented on #239
cobot assign https://github.com/coala/projects/issues/239

[2018-10-24 14:31] suhailsinghbains commented on #529
Ohh, unlucky me. Sorry to disturb :)

[2018-10-24 14:34] suhailsinghbains commented on #616
Hi, can I please work on this issue as this doesn't have gci label ?

[2018-10-25 16:12] #529 closed

[2018-10-25 19:46] suhailsinghbains commented on #616
Can I please be assigned to work on this bug?
Thanks !

[2018-10-26 06:48] jayvdb commented on #616
@suhailsinghbains, please follow https://coala.io/newcomer which tells you how to find issues you are eligible for.  And come onto https://coala.io/chat if you want help to find a issue which is suitable for you.

[2018-10-26 08:33] suhailsinghbains commented on #616
Thanks a lot @jayvdb !

[2018-10-27 08:56] caxvis commented on #324
Yes, I live in Indonesia.
Yes, I putted Dimension C-137 as my location, but it's the dimension, not the country.

Also, I've added a translation for `own_project_idea.md` on https://github.com/coala/projects/pull/679

Waiting for a reply, thanks.

[2018-10-27 19:57] #670 closed

[2018-10-28 04:28] Vamshi99 commented on #559
@suhailsinghbains This isn't done, search is different from filter
Filters are based on a single criteria, such as the mentors
Search is based on all metadata.

[2018-10-28 04:55] li-boxuan opened #683 "Add link to previous GSoC student reports"
The link is here: http://projects.coala.io/reports
but it cannot be found on https://projects.coala.io

Can be `difficulty/newcomer` if simply put a link on the page, maybe put the link beside `For more project ideas`, or `difficulty/low` if a bit UI is involved.

[2018-10-28 05:10] suhailsinghbains commented on #559
Ohh, interesting!
Thanks for the clarification.

[2018-10-28 17:08] #671 closed

[2018-11-01 11:19] sks444 opened #684 "Add details about cEPs to faq"
we need a faq entry about what a cEP is and why it is so important to do analysis pre-gsoc, and design as early as possible, to be finalized in the cEP.

Issue ref: https://gitter.im/coala/coala/gsoc?at=5bda923bcd2a6b5bdc78cd2d

Have a look at https://github.com/coala/cEPs

[2018-11-03 07:56] KVGarg commented on #683
I would like to work upon this issue, can I ?

[2018-11-03 12:54] Kiy4h commented on #324
Can you please assign `coala-will-apply-for-gsoc.md` for me?

[2018-11-03 18:09] KVGarg commented on #683
I have simply put a link for past years project reports below the project ideas link, Should I create a PR with that change? or Should I work further on improving the UI of reports page ?

[2018-11-03 19:10] KVGarg commented on #683
I would have submit a PR, but when i tried to run command `coala--bears PEP8Bear,PyUnusedCodeBear` over my changes it raised some warning over the files which i haven't even changed.
What to do now Should I submit the PR ?

[2018-11-04 17:02] shashwatmishra76 opened #687 "Creation of Ansible roles for installing bears"
We can add roles for installing certain bears that require different installation instructions so that we can make the process of installing individual bears much easier.

[2018-11-05 03:03] #683 closed

[2018-11-06 13:35] jayvdb commented on #627
As the hashes are already done for 2018 data, please compute the hashes for the 2017 files.

the field name we used was sha256sum iirc

[2018-11-06 13:49] KVGarg commented on #627
Ok, I understood what actually is to be done.  I have to compute the hashes for 2017 files and display that computed hash on the webpage below the **download** link of the `patch` for all the reports (2018 and 2017)

[2018-11-06 13:50] jayvdb commented on #627
yup; so the downloader can verify they have the correct file, and the tarball (which isnt hosted on coala servers) hasnt been modified since the report was approved and merged.

[2018-11-07 10:06] KVGarg commented on #627
I managed to calculate the hash values for 2017 report files and display those hash values on webpage for all reports, but while displaying the hash value in the `Patch Tarball card-view`, it was increasing the size of other `cards` that were opposite to that card. I have attached the screenshot, please check that.
![original](https://user-images.githubusercontent.com/35761292/48124047-67917c80-e2

[2018-11-07 14:53] pydevsg commented on #394
Hi @jayvdb , I'm willing to work on this issue. Can I work on it?

[2018-11-07 15:03] pydevsg commented on #546
Hi,I am interested on this isssue .Is it open till now and what type of Dependencies should I be working on , can I get a mentor to help ?

[2018-11-07 18:15] sladyn98 opened #688 "Corobo Integration,Security and Enhancements."
**Integration**
1)Corobo can be used to display the status of the Continuous Integration of Travis on the private chatroom in gitter and display the SPF(Single Point of Failure on the chat).
https://github.com/coala/corobo/issues/190.
**Enhancements:**
a)Corbobo which is running on the docker container to be moved externally for performance enhancement.(maybe leverage of the NEXTGen Core)
 eg cach

[2018-11-07 19:29] userzimmermann commented on #546
Welcome @pydevsg! Consider me your mentor :) I will get back to you soon...

[2018-11-07 19:33] pydevsg commented on #546
Thanks @userzimmermann , would love to contribute on this project. 😊

[2018-11-07 19:46] userzimmermann commented on #546
Great @pydevsg! You should start with taking a look at http://api.coala.io/en/latest/Developers/Newcomers_Guide.html and say a little `Hello World` in https://gitter.im/coala/coala to officially become part of the coala community :)

[2018-11-08 10:20] shivank1234 commented on #628
What is this issue all about?

[2018-11-08 13:36] li-boxuan commented on #627
@KVGarg Commit them together.

[2018-11-08 13:38] KVGarg commented on #627
For now I'm committing with changes in default design :-)

[2018-11-08 13:45] shivank1234 commented on #468
What is this issue about?

[2018-11-11 01:54] jayvdb commented on #687
You'll need to provide something more concrete than that, probably based on https://gitlab.com/coala/bear-install-playbook

[2018-11-11 01:56] jayvdb commented on #688
This is an odd assortment of issues.  Please provide more clarity on the goal of the project proposal.

Random features are not a GSoC project.

[2018-11-11 03:29] sladyn98 commented on #688
Okay I will try and compile a more fixed goal.The main goal of the project
was the improvement of corobo so should I focus on only one aspect like
integration. Should I resubmit the form or just make the project
description more clear

On Sun, Nov 11, 2018, 7:26 AM John Vandenberg <notifications@github.com
wrote: