[2018-11-11 03:59] jayvdb commented on #324
This issue reserved for Google Code-in task [5574221787824128](https://codein.withgoogle.com/dashboard/tasks/5574221787824128).

[2018-11-11 06:19] jayvdb commented on #321
This issue reserved for Google Code-in task [4735504080699392](https://codein.withgoogle.com/dashboard/tasks/4735504080699392).

[2018-11-11 07:00] jayvdb commented on #688
Add more comments here, and discuss with potential mentors on gitter.

[2018-11-11 07:42] sladyn98 commented on #688
Can you suggest any potential mentors or any feedback?

[2018-11-11 08:19] jayvdb commented on #688
You should be able to determine who the potential mentors are.  If not, you have not done enough work on developing your idea.

[2018-11-11 15:03] #627 closed

[2018-11-12 03:51] shivank1234 commented on #546
What is the status of this project?

[2018-11-12 10:30] Dhiraj240 commented on #603
@jayvdb I will be working on this in the upcoming months till Gsoc 2019, also it will be my second proposal.This project is quite clear to me as i searched about greenkeeper :P and that triggered my mind.

[2018-11-16 07:34] dewanshrawat15 commented on #239
I tried solving on the issue. However, due to some personal reasons I won't be able to work on it for a few days.

[2018-11-16 11:39] Naveenaidu commented on #574
@jayvdb The link to  `GSoC 2017 quickstart project` is dead. Can you please update it.

[2018-11-16 19:30] KVGarg commented on #394
Hi @jayvdb , I would like to work on this project and also I'm having some few ideas that how other orgs can use our [projects website](projects.coala.io/) will share these ideas in a new project proposal.

[2018-11-17 12:01] ashwini0529 commented on #429
It works now. 🎉

[2018-11-17 12:01] #429 closed

[2018-11-17 13:27] KVGarg opened #691 "Project Proposal: Enhance & Improve coala community & projects website with new features in webservices"
# Project Proposal

## Improvements and Enhancements in [community](https://coala-community.netlify.com/) website

### Enhancements

 1. **[Gamification Leaderboard](https://coala-community.netlify.com/gamification/)**
    * Addition of a new column named **issues** that will show all the labels of issues that user has solved.
    * Addition of a **Search bar** where a user can search any username

[2018-11-18 07:56] KVGarg commented on #691
Hi @jayvdb , created a project proposal for GSoC 2k19. Can you please tell me whether I need to explain it more or is it okay for now? and whether it is eligible for GSoC 2k19 or not ? So, that I can improve my project proposal more better 😇

[2018-11-21 10:09] Vedarth commented on #649
Interesting idea! I would like to work on it! Can we discuss the details?

[2018-11-21 17:07] KVGarg commented on #684
@sks444 I would like to take up this issue. Can you assign this to me ?

[2018-12-05 09:21] li-boxuan opened #695 "Enhance coala-html and integrate into coala core"
https://github.com/coala/coala-html is a nice project, but it is an angular application which limits its user scenario and popularity. Users have to install and run an angular application to see the results. What we could possibly do is to make use of coala-html, enhance it and integrate it with coala core. Maybe as a coala CLI option, e.g. '--generate_report'. When using that option, static web p

[2018-12-07 08:11] AkshJain99 commented on #179
I think this issue has been solved as i m also not facing any problem stated in issue

[2018-12-07 15:54] RJ722 commented on #179
I can reproduce this @AkshJain99.

[2018-12-07 15:55] AkshJain99 commented on #179
@RJ722 how can you please tell are you facing that problem?

[2018-12-07 15:58] RJ722 commented on #179
Follow these steps:
- Go to http://projects.coala.io/#/projects
- Change the tab to let's say "Mentors".
- Click the back button

Now, the page would show the projects, but the Mentors tab would still be highlighted.

[2018-12-07 16:03] AkshJain99 commented on #179
@aalind0 yes now I can see that

[2018-12-07 16:03] AkshJain99 commented on #179
so if no one working on the issue i would like to work

[2018-12-07 17:31] AkshJain99 commented on #179
Thanks :+1: :

[2018-12-09 15:19] AkshJain99 commented on #179
can anybody tell me if this issue is solvable or not as i think this is this problem is of jekyll theme and not the code
i dont think that solution is in code of this repo
if someone can help me about this please tell me that it is the issue of code or jekyll theme that we are using in the project

@aalind0 @RJ722 @li-boxuan

[2018-12-13 07:52] bharatpurohit97 commented on #554
this issue is still open?

[2018-12-14 12:31] DaKeiser commented on #642
Can I try this one ?

[2019-01-02 04:43] gautamjajoo commented on #642
Hey @li-boxuan Can I work on this issue? The PR seems to be open for a long time.

[2019-01-04 08:28] Dhiraj240 opened #698 "coala-antlr Enhancement"
Particularly i will start by adding the grammars which will be asm8080,asm8086 which is intel based processors.For that language definitions for the same will be added in coala.Now the bears for them will be added as of now there are no bears which works for the microprocessors or microcontrollers.Similarly a grammar will be updated on upstream for PIC microcontrollers where a language definition

[2019-01-04 08:36] Dhiraj240 commented on #698
@virresh @corona10  sorry but as per [this](https://github.com/coala/coAST/pull/55) i tagged you as you could be the potential mentors for this.

[2019-01-12 16:17] KVGarg commented on #239
@dewanshrawat15 are you currently working on it ?

[2019-01-15 10:09] srivama commented on #555
@jayvdb Is this project proposal explicitly for GSOC, or can we work and complete it outside of it?

[2019-01-17 06:55] KVGarg commented on #231
Hey @sims1253 in this FAQ do we have to mention regarding slots in GSoC or provide a general information about the issue title ?

[2019-01-17 14:57] KVGarg commented on #230
Hi @sims1253 is [this](https://gitter.im/coala/coala/gsoc?at=58b46e42de50490822217746) the answer to this FAQ or more information need to be added into the above answer ??

[2019-01-19 09:32] li-boxuan commented on #695
@KVGarg Maybe you can write some of your thoughts here.

[2019-01-19 09:42] li-boxuan commented on #695
I guess `integrate into coala core` is not necessary once https://github.com/coala/cEPs/pull/140 is done. But that sounds like a huge project, so I have no idea if this project is viable.

[2019-01-19 09:49] li-boxuan opened #699 "Make coala a GitHub App"
See https://github.com/marketplace/category/code-quality

I guess coala would be much more popular if it can be made a GitHub App.

This means coala needs to be run as a web service, deployed somewhere like Heroku (but it's not totally free hmmm....)

GitMate + coala actually do the same thing, but that means developers need to learn both GitMate and coala, and GitMate requires admin access, which

[2019-01-19 10:03] budukhyash commented on #699
@li-boxuan Sir I would love to work on this project.

[2019-01-19 10:07] li-boxuan commented on #699
@budukhyash Consider writing your ideas/thoughts on this and ask people to review/discuss, so we have a better idea of whether this is viable and worthwhile.

[2019-01-19 11:14] sims1253 commented on #230
It might be a simple and quick start. Working with the potential mentors or finding someone else who could mentor you is a big plus as well. Shows the potential mentor that the potential student is actually capable.

[2019-01-19 19:54] KVGarg commented on #695
Ok and I will soon share my thoughts regarding this project. :+1:

[2019-01-20 10:59] KVGarg commented on #695
My thoughts on how can we can achieve this and how can we enhance coala-html:

1. Since `coala --json` outputs a result in `JSON` format in the terminal, using this functionality we can develop a static website in python using these results.
2. To enhance coala-html, we can

    -  provide a drop-down with Bears that are mentioned in `.coafile` ( + count warnings beside the bear-name) in the dropd

[2019-01-21 07:06] budukhyash commented on #699
@li-boxuan I searched about github apps and integrations.I found out a nodejs based framework called as [probot](https://probot.github.io/).I went through the probot docs and created a test github app. I have a few doubts regarding the coala app.

- Gitmate does provide static code analysis and other functionalities and due to which it needs high level permissions.So we are looking to develop a co

[2019-01-21 16:52] Anmolbansal1 commented on #616
can I work on this issue @jayvdb ?

[2019-01-21 17:33] Anmolbansal1 commented on #648
Can I contribute on this project @jayvdb

[2019-01-21 21:58] MichaelMure commented on #648
An update here: as of now, the Github importer is working. It's not a yet a full bridge impersonating multiple users, but it's a good step in this direction.

[2019-01-22 13:54] sladyn98 commented on #648
@MichaelMure seems like an interesting project to work,we could have a discussion on potential solutions and ideas for implementation,would love to consider this as my second proposal for GSOC 19.

[2019-01-24 07:34] sanchit48 commented on #477
I would like to work on this issue.

[2019-01-25 18:02] budukhyash commented on #699
@jayvdb Hello sir can you please review this.

[2019-01-26 13:58] KVGarg opened #701 "coala - A Smartphone Application"
# Project Proposal Idea
In today's digital world, every individual or a contributor uses a smartphone. And, it becomes difficult to carry laptops everywhere or using a website to browse through issues or commenting on a PR via mobile. For not to happen this, we can create a one-stop application for developers or contributors that can help them to know about our org and provide some features/functi

[2019-01-26 14:09] KVGarg commented on #701
@jayvdb @Makman2 @li-boxuan can you guys please review on this project project ?

[2019-01-27 14:21] AkshJain99 commented on #701
@KVGarg r u talking about android application? But ithink coala has not still started working android technology.

[2019-01-28 04:51] KVGarg commented on #701
Hi @AkshJain99 I have read somewhere a leadership quote - "Don't think out of box as it is overused rather than create a box", inspired by this quote I have proposed this idea. Also, I think GSoC is one of the platforms where all ideas are welcomed and the proposed idea should be good enough to help an organization. That's why, I have come with this idea.

[2019-01-28 06:17] AkshJain99 commented on #701
Ya I know and I appreciate this idea , I was asking becoz coala hasn't not
started using android yet , btw great idea :+1:

On Mon, 28 Jan 2019, 10:21 am Keshav Garg <notifications@github.com wrote:

[2019-01-28 17:48] frextrite commented on #701
Regarding point 2. Are you proposing that coala should run on projects on the device? I'm asking this because python cannot run natively on Android. Though we have some 3rd party packages for this task, currently none of them work perfectly out of the box.

[2019-01-29 12:37] KVGarg commented on #701
Hi @frextrite actually I was thinking to use `coala-online` here to run coala on the local storage or on the online files.
Currently, the coala-online isn't working, but I'm looking further to solve it and looking if we can use some another way.

[2019-01-29 13:11] shashank-b commented on #701
Hey @KVGarg
While I appreciate the out-of-the-box (and quite exciting) idea, I have a few basic questions. Apologies, if this is not the correct way to think about a proposed project. -

- Do you think there is a demand for this? For eg. are there enough people in coala community who felt the need for coala as a smartphone app? (Or if enough demand can be created for this? Though, creating demand

[2019-01-29 18:57] KVGarg commented on #701
I haven't done any analysis whether the members of coala community really need this app. But I think if we're able to create this app, then members can keep track of there progress because currently, there is no way a member can track the progress. Also, sometimes during contribution we may open too many tabs in our browser and comment on the issues to get assigned or put up a query, and it happen

[2019-01-30 15:08] utkarsh2102 commented on #616
@Anmolbansal1, you've solved a newcomer issue.
Move on to `low` level ones ;)

[2019-01-31 01:57] jayvdb commented on #555
See `coala-bears> git grep -i json bears` for bears using json formats, and look for similar strutures.

There is at least one projet in this, maybe two.  And lots of little related bugs and improvements that are available for anyone to work on.

[2019-01-31 08:27] ksdme opened #702 "Project Ideas"
Here are a couple of interesting ideas I had:
- Standardising .coafile syntax for starters using YAML.
- Build .coafile plugins for major code editors with support for features like autocomplete.
- Building on the above idea, a tool to port specific linter configurations to coala configurations.
- A repository of standard coala linter configurations, probably built using the above tool and running

[2019-01-31 09:40] areebbeigh commented on #551
Adding a few things:

We can safely assume that [autopep8 won't expand to Pycodestyle-like error reporting capabilities anytime soon](https://github.com/hhatto/autopep8/issues/289).

There already was [an attempt to user Pycodestyle and autopep8 together](https://github.com/coala/coala-bears/pull/1898) but this approach tries to run Pycodestyle alongside autopep8 and assumes that errors detected b

[2019-01-31 10:33] utkarsh2102 commented on #702
Can we fairly integrate any of them with LSP?

[2019-01-31 11:17] KVGarg commented on #701
I want that users can track there progress anytime whereas GCI period is only for a limited time where leaderboard is displayed till the GCI period.

True, I agree with this.

Won't this project be useful to community?

They are good, I'm not saying that they aren't good. All of them are responsive. But I thought why not to have mobile application also.

[2019-01-31 11:19] KVGarg commented on #701
Dropping out the idea of application. Somewhat satisfied by your questions and also, by one of the developers talk.

[2019-01-31 11:19] #701 closed

[2019-01-31 11:36] MichaelMure commented on #648
I wrote an update and more details about this in https://github.com/MichaelMure/git-bug/issues/96

[2019-02-01 04:09] li-boxuan opened #703 "Add link to corresponding GSoC report for finished task"
Some GSoC tasks are done, but there is no link from the task page to the corresponding report page.
It would be good to have a link so that potential students have a better idea of how a task proposal turned into a project.

[2019-02-01 16:21] #472 closed

[2019-02-01 16:24] li-boxuan commented on #36
We have links to mentors' profile on http://projects.coala.io page, but we don't have links on project detail page, e.g. http://projects.coala.io/#/projects?project=real-time_team_communication_bridge (See the `mentor` tab on sidebar)

[2019-02-01 18:45] KVGarg commented on #398
@neelanshsahai are you currently working on it?

[2019-02-01 19:53] sladyn98 commented on #688
As per his consent and agreement I have tagged @nvzard as a potential mentor for this project.

[2019-02-02 15:56] ksdme commented on #699
Related to https://github.com/coala/projects/issues/702

@li-boxuan IIRC we have a docker based coala image, building one click installers for a couple of popular cloud services (Heroku, AWS, GC) would be a good first step.

[2019-02-03 03:40] jayvdb commented on #699
This is an interesting problem, and should be solvable within GitMate, allowing a non-admin install into an org / repo.

Disabling GitMate features/plugins which are not possible based on the permissions given to GitMate would be in scope.

Another direction to follow is GitMate build process emitting a 'coala-only' mode installer.

Also we do have a hosted version of coala inside the deployed coa

[2019-02-03 07:37] PrajwalM2212 opened #705 "Support TOML as another settings file format"
According to https://github.com/toml-lang/toml
TOML aims to be a minimal configuration file format that's easy to read due to obvious semantics. TOML is designed to map unambiguously to a hash table. TOML should be easy to parse into data structures in a wide variety of languages.

TOML has widespread acceptance, documentation and robust parsers.
Also according to https://www.python.org/dev/peps/p

[2019-02-03 08:13] frextrite commented on #699
Which deployed web service are we talking about here?

What is meant by 'coala-only' mode? Could you explain this a bit more?

[2019-02-03 08:51] li-boxuan opened #706 "Change mentor page year dynamically"
http://projects.coala.io/#/mentors is now showing `... for coala in GSoC 2018`, which should be 2019 now.

https://github.com/coala/projects/pull/682 is a good guide

[2019-02-03 08:56] li-boxuan opened #707 "Mentor list should not include mentors on disabled projects"
See https://github.com/coala/projects/issues/491, a very similar issue.

A bit javascript knowledge is required, but the solution is fairly easy, and https://github.com/coala/projects/pull/496 is a good guide.

[2019-02-03 17:05] li-boxuan commented on #705
Similar to https://github.com/coala/projects/issues/702

[2019-02-03 17:35] PrajwalM2212 commented on #705
Thanks @li-boxuan . The only overlap I saw was  `Standardising .coafile syntax for starters using YAML`  but also this chooses TOML as its a better choice comapred to YAML.

[2019-02-03 17:40] PrajwalM2212 commented on #702
@Naveenaidu I think `Standardising .coafile syntax for starters using YAML.` it is something like https://github.com/coala/projects/issues/705.

[2019-02-03 20:40] rishikesh1410 commented on #691
**Improvements in HomePage**

We can make a sidebar for the links and when user click on any particular link, open the corresponding page in the right side of the sidebar. This will save the time of user to switch to different page.

[2019-02-04 05:41] zjxiaohan commented on #707
Hi! Could you assign this issue to me?

[2019-02-04 05:42] li-boxuan commented on #707
@zjxiaohan Ask for an invite to coala org in our gitter channel.

[2019-02-04 06:04] zjxiaohan commented on #707
Thank you for your kind reminder, I have sent Hello World in coala/corobo.

[2019-02-04 09:05] aedorado commented on #706
Hi @li-boxuan. I'd like to work on this issue.

[2019-02-04 10:15] areebbeigh opened #708 "Project Proposal: More Interactive CLIs"
Currently, all the coala CLI interactions occur through numeric inputs which is very slow and cumbersome in most cases. This can be improved greatly by building more interactive CLIs using tools like [PyInquirer](https://github.com/CITGuru/PyInquirer). We have a lot of areas where the CLI can be improved.

For example we can use:
- the [checkbox question type](https://github.com/CITGuru/PyInquirer

[2019-02-04 14:13] PrajwalM2212 commented on #705
@userzimmermann @fneu Would you like to be a mentor for this project ?

[2019-02-04 18:42] virresh commented on #698
@Dhiraj240 , I think there are already existing grammars in ANTLR for 8080 and 8086, so it'd be just a kind of an extension to coantlib if you go down that line

Also just to mention, I've not come across open source assembly projects except for a few like GRUB (and that too uses intel assembly format, and that too only at the place where it needs to interface during boot time). I think it would b

[2019-02-04 19:18] Dhiraj240 commented on #698
I was actually asking that is it needed to implement "tree rewriting at upstream" first ? i guess this work is needed on ```coala-antlr``` only as it will enhance this project. isn't the upstream ```ANTLR``` and ```coala-antlr``` independent now ?
am i right ?
I had serious health issue during the start of new year but revived though.I will look for GRUB and update more info over it as what all i

[2019-02-04 19:31] virresh commented on #698
Sure, you can do that only in coala-antlr, but do keep in mind coala-antlr
still uses the core developed by antlr's python port. Unless you plan on
changing all of that and duplicating everything already given by
`antlr4-python3-runtime`, I don't think there would be a lot of trouble.

I see that you did open an issue for tree-rewriting, possibly you should
see the already existing discussions at

[2019-02-05 06:46] #477 closed

[2019-02-05 17:52] Dhiraj240 commented on #698
Ahh, that "extension" word was for enhancing ```coala-antlr``` not GRUB.
Anyways, but you tell me is it really needed to add tree rewriting process in the upstream.Have you tried directly on ```coala-antlr``` before ?
If not then before gsoc we can start working on this.
Also

What sort of applications ? Can you provide me the example i am unclear about it ?
One thing i add to it as when people ar

[2019-02-05 18:25] virresh commented on #698
From my understanding of embedded C, there is only a very tiny portion of the whole code written in assembly, so in reality, the bigger picture about what you're talking is "nested languages". It's already an existing project for coala, feel free to look it up.

Again, "application" means what kind of developers would be interested in using your bear ?
As an example, will the grub developers use y

[2019-02-05 18:41] Dhiraj240 commented on #698
Alright, i think i should focus on contribution and learning.
Let the idea page come out and drop this idea for a while or may be forever.

[2019-02-08 14:32] jayvdb commented on #705
See https://gitter.im/coala/coala?at=5bfe8cb5f849b222e0b8bad7 , by @underyx , which provides a very good reason for the settings to be in a standardised file format.

[2019-02-08 15:13] PrajwalM2212 commented on #705
Thank you @jayvdb . That is one of the most compelling reasons in defence of the project idea.

[2019-02-10 12:28] areebbeigh opened #711 "Different order of projects in detailed view"
Steps to reproduce:

- Go to https://projects.coala.io/#/projects
- Open the first project
- Click next (arrow)

The next project is not the same as the 2nd project in the grid view.

[2019-02-13 16:46] ashkush21 commented on #36
please assign this issue to me, I would like to work on it.

[2019-02-14 02:45] li-boxuan commented on #36
@ashkush21 Ask for an invite on gitter channel first.

[2019-02-15 04:28] sladyn98 commented on #699
@frextrite https://webservices.coala.io/ have a look here.
@jayvdb

Are we talking about a coala type gitmate clone, because we could make a separate gitmate-style coala app, which would not require high level permissions and deploy it on a webservice.The API's for the webservice could be used as a start.We could follow a MVC based django model.

[2019-02-16 06:48] KVGarg commented on #711
@areebbeigh are you currently looking over it, to solve this ?

[2019-02-16 07:56] areebbeigh commented on #711
Nope. It's unassigned.

[2019-02-17 06:11] KVGarg commented on #711
Currently, an `orderBy` filter is being applied to the projects which sorts them according to status of projects but it is not storing that sorted projects list anywhere due to which on the initial array(unsorted array) of projects is being used to navigate between projects using those arrows

[2019-02-17 11:56] KVGarg commented on #703
For some completed tasks, I was unable to find the GSoC report. Are there any more reports except [these](http://projects.coala.io/reports) reports ?

[2019-02-17 12:16] KVGarg commented on #559
@Vamshi99 To implements filters, I was thinking to add a `filter button` inside the search bar at the right corner. When that button will be clicked a pop-up block will be displayed with various sub-filters in it - like mentors, status, level, tags etc. ? Is this OK, or you are having an idea about how this enhancement can be achieved ?

[2019-02-17 12:19] KVGarg commented on #711
@li-boxuan can I take this ?

[2019-02-17 12:44] li-boxuan commented on #703
AFAIK, no.

[2019-02-17 12:57] KVGarg commented on #703
Ok, will add report links for those tasks that are currently available! Will make a PR soon for it

[2019-02-17 13:19] KVGarg opened #713 "Travis CI also failing due to Spacing Inconsistencies"
The issue is in reference to PR#700
Travis build failure error log - https://github.com/coala/projects/pull/700#issuecomment-460352115

A difficult/newcomer issue

[2019-02-17 19:34] KVGarg commented on #342
@satwikkansal @Makman2  Is this issue still solvable, because the finished tasks are marked as completed on the [projects website](http://projects.coala.io) ?

[2019-02-18 06:24] Vamshi99 commented on #559
@KVGarg Seems good, start working on it.

[2019-02-18 19:10] KVGarg commented on #184
@li-boxuan @Mariatta Would like to work on this ?

[2019-02-23 15:27] Dhiraj240 commented on #698
@virresh  alongside to extend this project using asm8085, asm8086 if i add verilog and vhdl too.
Also bears for verilog and vhdl can be developed where there is no issue that people can use cross platform compilers.
I think "tree-rewriting" could all be done once the upstream will process that functionality.
Now things can be subdivided:
1. To extend ```coala-antlr```  asm8085, asm8086, vhdl, veri

[2019-02-23 15:28] Dhiraj240 commented on #698
Please do reply.

[2019-02-27 13:39] virresh commented on #698
yes we need this system, and that is what https://gitlab.com/coala/bears/coala-antlr/issues/11 and other related issues are about

I would highly advise you to go through the *existing issues* so that you don't need to spend time on coming up with ideas for things that have been already thought of...

I'm not sure what you wish to do with NLTK here, we aren't trying to make sense of words here, we

[2019-02-27 17:50] Dhiraj240 commented on #698
Cool, found a way i will work on proposal based on existing issues and will try NLTK on my code.
Thanks, hope to see fruitful result on coming months. :smile:

[2019-02-28 04:56] jievince commented on #642
Can you assign it to me? @li-boxuan

[2019-02-28 09:12] KVGarg commented on #576
Related to https://github.com/coala/landing-frontend/issues/282

[2019-02-28 17:57] KVGarg commented on #295
@li-boxuan @satwikkansal From where I can find the gitlab milestones for all projects (or completed projects)?

[2019-02-28 18:14] KVGarg commented on #560
@jayvdb Can we use `webservices` with `projects` repository. We can create an app at `webservices` namely - `calendar` which will have some fields that will store important dates + information about the upcoming or on-going events. Then from there we can fetch the JSON response to display that in calendar.
I was thinking to integrate this with `community` repository.
What I was thinking -
1. From

[2019-02-28 18:38] KVGarg commented on #276
@jayvdb From [openSuse website](http://101.opensuse.org/gsoc/) we can incorporate the `index` page with a modified design.
If I am going in wrong direction, can you please help me out ?

[2019-02-28 20:37] dshahid380 commented on #394
Is this issue open ? Can i work on it ?

[2019-02-28 20:51] KVGarg commented on #394
@dshahid380  Yes, it’s still open 😇

[2019-03-02 07:33] KVGarg commented on #294
@RJ722 Instead of adding css for `Horizontal scrolling ` won't it be good to **fit the image** in the provided space because if we add horizontal scrolling then the text willn't be wrapped to another line instead we have to do horizontal scrolling.

[2019-03-03 09:18] KVGarg opened #717 "Remove '#' from URL"
Requires basic knowledge of angularJS to solve this issue

A newcomer issue

[2019-03-03 10:16] areebbeigh commented on #551
This shouldn't be required with the following workflow:

- Run pycodestyle on the code
- Run autopep8 with `--select <error detected by pycodestyle>` on the line with the issue

I don't see why implementing `--col-range` should be necessary.

[2019-03-03 13:45] KVGarg commented on #294
@li-boxuan Would like to take up this issue. Can you assign it to me ?

[2019-03-03 13:52] bkhanale commented on #551
This is because one single line could've multiple same types of errors. Through `--col-range` we could select the ones for which we need a fix.

Example: If the file contains:
[code]
Then the error would be:
[code]
By running autopep8 with `--select=E201` it would fix both of the errors. But by specifying we could select one of them, giving even more control.

[2019-03-03 14:12] areebbeigh commented on #551
Yes, but PycodestyleBear and PEP8Bear generate only one result for a single line-error pair:

[code]

[code]
So we wouldn't really be using column-range anywhere

[2019-03-03 14:22] bkhanale commented on #551
The improvement would be for the autopep8 rather than for the bears. An attempt was already made by a GCI student https://github.com/hhatto/autopep8/pull/452.

[2019-03-03 14:24] KVGarg opened #718 "Invalid project reference link to GSoC website for previous years proposals"
Currently, when we view any previous year completed [projects report](projects.coala.io/reports) it contains a reference link to the GSoC website viewing that project but that link seems to be invalid because the GSoC has ended for that year and the data has been archived. So, there is a need to correctly format the link which can found the `Project Title` for any completed project.
![image](https

[2019-03-03 14:37] areebbeigh commented on #551
Hm yeah, looks like column range is indeed needed here. It's only the PEP8Bear that patches multiple problems in a line at once, PycodestyleBear reports them one by one.

Related: https://github.com/coala/coala-bears/issues/2882

[2019-03-03 15:54] KVGarg commented on #394
@jayvdb can some information be shared regarding https://github.com/coala/projects/pull/226, i.e. what was being decided to cover-up in this project ? because the file changes done by `@arnab1896` in this PR doesn't give that much useful information

[2019-03-04 14:00] KVGarg commented on #691
@andrewda @sims1253 @hemangsk Would you guys like to be a mentor for this project ?

[2019-03-04 14:06] KVGarg commented on #691
@andrewda @sims1253 @hemangsk @souravsingh Would you guys like to be a mentor for this project ?

[2019-03-05 12:24] sims1253 commented on #691
@KVGarg no time any more sadly.

[2019-03-05 19:13] damngamerz commented on #691
Sure sounds interesting to me. @hemangsk would you like to get onboard this year? This sounds like your thing.
@KVGarg You can start creating a proposal. Follow the template from faq section of projects page.

[2019-03-05 19:17] KVGarg commented on #691
Thank you, for being the mentor for this project. I will start creating an application proposal with addition, a PR to projects repository to list the project idea in the current ideas list. 👍

[2019-03-05 19:26] KVGarg commented on #691
Yeah, I also realized that it requires lot of work but I will manage time since we'll be having a summer-break of around 1.5 months in that I'll try to cover some of coding phase 2 in phase 1 only, so that no hurdles come in-between the participation

[2019-03-07 12:54] KVGarg commented on #691
@damngamerz I've contacted `@hemangsk` 4 days back via email, he said that he isn't sure whether he will be available or not this year to mentor any project due to some other commitments. It would have been great if he was available to mentor this year.

[2019-03-08 17:29] chay2199 commented on #708
This project is interesting and can be really helpful. @areebbeigh just an idea, $ 'coala --show-bears --filter-by language' command shows a list of bears that the user can use. While most bear names are self explanatory but for the others we can use something like [Expand](https://github.com/CITGuru/PyInquirer#expand---type-expand) to provide their documentation. In this process we'll have to imp

[2019-03-08 19:59] KVGarg commented on #560
@jayvdb The user has to manually enter the timeline or other important information because there is no such API that can assist in this. Will it be ok?

[2019-03-10 13:13] AkshJain99 commented on #699
@li-boxuan are you going to mentor this project this year?

[2019-03-10 14:26] piyush072 commented on #36
@li-boxuan I would like to work on this issue.

[2019-03-10 16:59] li-boxuan commented on #699
@AkshJain99 Nope, and I am not even sure if this is suitable for a GSoC project. I open up the issue just because I find it's an interesting open problem.

[2019-03-10 17:02] AkshJain99 commented on #699
okay @li-boxuan

[2019-03-10 19:09] AkshJain99 commented on #695
@li-boxuan are you going to mentor this one in gsoc 19?

[2019-03-10 19:25] KVGarg commented on #691
@damngamerz @sks444 Need some ideas on how can other orgs can use our projects website ? Can you guys give me some ideas ?

[2019-03-11 01:43] li-boxuan commented on #695
@AkshJain99 Nope. I probably mentor this project: https://github.com/coala/projects/pull/704

[2019-03-11 06:09] ashkush21 commented on #36
@li-boxuan I got access to newcomers group. Can I be assigned this issue now?

[2019-03-12 13:33] theParadoxicalWizard commented on #717
Can you please assign this issue to me?

[2019-03-12 15:00] piyush072 commented on #718
Can I take up this issue?

[2019-03-12 15:16] KVGarg commented on #718
Yes, tou can take up this issue.
Ask on gitter to get yourself assigned.

[2019-03-13 08:22] li-boxuan commented on #717
Why do we need to remove it?

[2019-03-13 08:25] theParadoxicalWizard commented on #717
The # is unnecessary, wouldn't it be better if we remove it
But then we also have to create mechanism that redirects everybody from with-# to non-#

[2019-03-13 08:54] theParadoxicalWizard commented on #717
@KVGarg @li-boxuan i want to work on it , please assign me ..

[2019-03-13 08:58] KVGarg commented on #717
@li-boxuan To prettify the URL, it will be good to remove the #
Using AngularJS framework, the # is always appended to a URL.
AngularJS has a built-in method(one line addition), that doesn’t append # to URL.

[2019-03-13 09:00] theParadoxicalWizard commented on #717
Is there any way to use asdf-vm on windows,
there docs talk only about linux and mac

[2019-03-13 09:07] KVGarg commented on #717
@theParadoxicalWizard Is this related to current issue?

[2019-03-13 09:18] theParadoxicalWizard commented on #717
I am really sorry for that,
Can i be assigned to this issue so as to create a pull request that would solve this

[2019-03-13 09:54] KVGarg commented on #717
I don’t have permissions to assign you. Please wait for few hrs, if it’s a valid issue you will be assigned to it.

[2019-03-13 12:59] NoumbissiValere commented on #713
@KVGarg Please i will love to solve this issue

[2019-03-13 13:11] KVGarg commented on #713
@NoumbissiValere Please ask on gitter to get yourself on it. I don't have permissions to assign anyone.

[2019-03-13 21:22] navneel99 commented on #718
I would like to take up this issue if not already assigned.

[2019-03-14 04:27] SimonZYC commented on #718
Could any of the maintainers assign this issue to me please?

[2019-03-14 04:39] piyush072 commented on #718
@li-boxuan Can I be assigned to this issue please?

[2019-03-15 06:25] theParadoxicalWizard commented on #717
@li-boxuan can you clarify if this is a valid issue?

[2019-03-15 19:44] AkshJain99 commented on #555
do we need to develop plugins for each CI and each format mentioned in the project?

[2019-03-17 14:28] shivank1234 commented on #546
Can I work upon this project?

[2019-03-19 05:58] KVGarg commented on #555
@jayvdb @li-boxuan Since CI tools will help us in reporting tests and failures, and in that case _time factor_ plays a vital role so won't it be good if we add `execution time` for each section in the coala output results?

[2019-03-19 09:00] AkshJain99 commented on #555
Yes we can add that, and many other result reporter tool as mentioned in
example , too shows execution time

On Tue, 19 Mar 2019, 11:28 am Keshav Garg, <notifications@github.com> wrote:

[2019-03-19 13:52] li-boxuan commented on #555
This sounds like a plan. You can also mention that in your proposal 👍

[2019-03-20 15:58] RaiVaibhav commented on #705
Great idea and thank you @PrajwalM2212 for pinging me for this, I can't mentor on the project as I have not applied for the mentor but If you need any help you know how to ping me 😛 and I will try my best to assist you asap.

[2019-03-20 16:07] chay2199 commented on #555
If we observe all the given test result formats carefully then we can find many such attributes that we can add to coala result and thus we can change our coala result probably the one last time before the final mapping to various test results.

[2019-03-20 17:34] KVGarg commented on #555
Yes @chay2199 I've been already analyzing all such attributes that can help us.
Thanks for help :innocent:  :+1:

[2019-03-20 18:12] RaiVaibhav commented on #705
@Makman2 @jayvdb Is this possible that I can help @PrajwalM2212 officially ?

[2019-03-21 17:31] KVGarg opened #723 ""use_spaces" setting missing in html section"
Running `coala` over this repository raises a prompt error asking for "use_spaces" setting which shouldn't happen!

[2019-03-21 19:14] KVGarg commented on #555
@li-boxuan `test` part of `uploading results to CI tools` is not to be integrated with the repository, right? that is, we need to just add documentation for developers on how can they upload the results to it, right?

[2019-03-22 16:47] xurror commented on #551
Please what's the status for this project

[2019-03-22 16:49] xurror commented on #551
@jayvdb will you mentor this project this year?

I would like to work on this

[2019-03-22 16:49] xurror commented on #551
@jayvdb will you mentor this project this year?

I would like to work on this

[2019-03-26 16:50] abhishalya opened #725 "GSoD: A new open-source program"
Google recently announced new open-source program, [Google Season of Docs (GSoD)](https://opensource.googleblog.com/2019/03/introducing-season-of-docs.html) which is similar to current GSoC but its just all about documentation. Even though coala at its current state is well documented, there are still various things which are not very well documented.

I believe coala should participate in GSoD si

[2019-03-26 17:59] VishalBhosale5 commented on #718
@li-boxuan May I take up this issue?

[2019-03-26 20:27] chfw commented on #574
I can help if people in SoC 2019 will get stuck with mobanising any projects.

[2019-03-27 08:08] VishalBhosale5 commented on #723
May i work on this issue

[2019-03-27 10:42] KVGarg commented on #723
You can ask on gitter to get assigned to it, if it’s a valid issue.

[2019-03-27 15:15] li-boxuan opened #726 "Introduce mutation testing"
We don't have mutation testing used in any coala repository.

As http://pitest.org/ points out,

As far as I am concerned, checkstyle community uses mutation testing, which seems to be quite powerful.

See available mutation testing tools for python: https://github.com/theofidry/awesome-mutation-testing Unfortunately, none of them is very popular, and I have no idea how well they work.

[2019-03-27 16:30] AkshJain99 commented on #555
@li-boxuan as we  need to create tool which convert json to junit format but also there are existing tool present which can do so cant we integrate them only or make them only to support  coala?

[2019-03-27 16:34] li-boxuan commented on #555
Be specific. Which tool? You can write down in your draft proposal with examples and why you believe they can solve our problem.

[2019-03-27 16:39] AkshJain99 commented on #555
okay I am writing down that in my draft proposal and will submit for review today only or at max tomorrow
thanks :)

[2019-03-27 17:11] abhishalya commented on #723
Already known, to be fixed via https://github.com/coala/projects/pull/600.

[2019-03-27 18:42] realJema commented on #726
I will like to work on this project. are you the mentor @li-boxuan ?

[2019-03-28 13:52] li-boxuan commented on #726
@realJema No, at least not for this year. And I am not sure whether this can be a suitable gsoc project.

[2019-04-01 06:54] nvzard commented on #688
Mabye these implementations plus ideas by students can be a potential project. cc @Vamshi99

 * https://github.com/coala/corobo/issues/480
 * Try to handle other backends, mainly Zulip
 * Implement protocol, the one mentioned in my proposal
 * Use documentation and develop a algorithm to get search results using ML or anything.
 * Handle GCI/GSoC events, like able to assign only to students
 * Fin

[2019-04-01 10:38] sladyn98 commented on #688
* Delegated authentication so that users can open issues via their own username ,perhaps we would need to store their personal access tokens or either make corobo an Oauth Application. Would need your thoughts on it..
@nvzard  @Vamshi99  @meetmangukiya

[2019-04-01 10:40] sladyn98 commented on #688
@nvzard When opening an issue on the projects page could you separate it into `security features and enhancements`.

[2019-04-01 10:48] sladyn98 commented on #688
@abhishalya your inputs would be highly valuable as well :+1:

[2019-04-01 14:47] meetmangukiya commented on #688
What are the upsides of doing this? Just because the user who opened the issue becomes the owner of the issue..? Not a good enough reason to implement the whole OAuth flow, and if it is through personal access tokens, I guess those maybe possible, but those are more manual steps on user sides and not such a good UX. Anyways, we still need a good enough reason to do this I guess.

[2019-04-02 15:03] Dhiraj240 commented on #555
@li-boxuan i used csv to json converter like [this](https://github.com/Dhiraj240/Information-Visualization/blob/master/jsonconverter.py) in my project.
Although this may sound silly do we need to use already available tools like [this](https://github.com/aaronbriel/jsonjunit) but its dependency is ```npm``` .Also which results are we talking about in phase 1 ```upload coala results into Circle CI

[2019-04-02 15:06] AkshJain99 commented on #555
@Dhiraj240 r u going to submit the proposal for this idea?

[2019-04-02 15:09] Dhiraj240 commented on #555
Yes.I am not getting gut feeling for my ```ANTLR``` idea as of now.

[2019-04-02 16:14] sladyn98 commented on #688
**Security Hardening**:
a) Make the ACL plugin more extensible allowing custom acess control features.
b) Diabling autoinvite instead placing invites in a queue for maintainers to approve.
c) Many of the commands have a low test coverage, maximising test coverage for them
**Enhancements:**
(IGITT Enhancements)
a) Adapt LabHub plugin to use the most recent release of iGitt.
b) Deprecate use of gith

[2019-04-02 23:23] VarunMehrotra commented on #718
I am a newcomer to open source community. Can you please assign this issue to me?

[2019-04-03 10:18] RJ722 commented on #718
Since @piyush072 asked first, he should be given the opportunity. @piyush072, if you haven't already solved a newcomers issue and are still interested in picking this up, please respond here (within a day or two, please) and I'd assign it to you.

I'm so sorry for all this queuing, but people, you should not be asking to get assigned to an issue if someone is already has asked to do so. The rule o

[2019-04-03 11:53] li-boxuan commented on #555
It's not a good idea. First, it's a node package instead of a python package. Second, it might be out of date. Third, it does not have tests. Last, it is not very complex, so why not write a python version?

Yes. Please also read https://github.com/coala/projects/pull/704#pullrequestreview-221134899

This has been answered in https://github.com/coala/projects/pull/704/

[2019-04-05 01:43] HAKSOAT commented on #449
@jayvdb Is this still open for contributions? I am interested in taking it up as a GSoC project.

[2019-04-07 07:36] KVGarg commented on #726
In context to [Implement metrics for coala](http://projects.coala.io/#/projects?project=implement_metrics_for_coala&lang=en), can this be added as a software metric for coala?

[2019-05-07 12:19] #555 closed

[2019-05-11 16:35] bkhanale commented on #551
This issue is reserved under the GSoC project [Improve Generic Bear Quality](https://summerofcode.withgoogle.com/projects/#4866569388163072).

[2019-05-13 18:53] KVGarg commented on #718
Sorry! But it seems that after GSoC'19 results are out, the issue is no more valid. It's redirecting to project page 👍

[2019-05-13 18:53] #718 closed

[2019-05-14 13:35] nishant-sachdeva commented on #642
The link has either been restored or updated through some PR. The 'further information on gsoc'  page is loading fine. @shikharvaish28  it is recommended that this issue be closed now to avoid repetitive PRs.

[2019-05-28 07:23] chfw commented on #574
Instead of mobanise tool, could I propose an alternative?

it could be an ‘yehua.yaml’ + a list of static files and template files + individual template repos. Take yehua’s ability for standard python package as an example, it has pupil-mob and-pkg as template repo, and embeds a yehua file and a few stater files. Pyexcel also got similar setup for its plugins. It is similar to Cookiecutter’s appro

[2019-08-07 10:20] codetronaut commented on #589
@jayvdb can i start working on this issue as i am starting with open source and want to momentise myself.

[2019-08-07 10:21] codetronaut commented on #589
thank you in advance.

[2019-08-09 12:29] KVGarg opened #728 "Fetch mentors from Webservices"
Created a merge request in webservices, that creates a new table for mentors. The records will added via a check which validates whether the contributor is valid to become a mentor or not. After all checks get green, the contrib is added. So, also fetch those mentors from webservices and show them under the mentors tab

[2019-08-11 10:15] KVGarg commented on #559
Do we need that? Because If we have added filters that can filter projects based on project work status, then I guess this thing will no more be needed.

[2019-08-11 16:15] KVGarg commented on #298
Good Idea! But won't that make GITHUB/GITLAB API calls, which is only limited to 60 for non-authenticated users.

[2019-08-13 11:55] KVGarg opened #734 "Add a tab displaying GSoC Students"

[2019-08-22 05:07] jayvdb commented on #723
This was a regression in bears, and should be fixed there.  c.f. https://github.com/coala/coala-bears/issues/2949

[2019-08-22 05:07] #723 closed

[2019-08-22 05:08] jayvdb commented on #546
I did most of this project :P

[2019-08-22 05:13] jayvdb commented on #546
There is still sufficient work to be done on Windows to justify a project, but the low hanging fruit is done, so the project definition would need to be quite specific , and detailed, describing what remaining problems would be included in the project.  Then it needs to be assessed to determine if it is 'enough' to be a GSoC-sized project.

[2019-08-22 05:26] jayvdb opened #738 "gitmate.io and other check failures"
Summary of check failures

- https://gitmate.io is no longer operational - it is referred to in reports, so it can not be simply removed.  Ignoring it is a temporary solution.  A future solution may be https://github.com/coala/coala-bears/issues/2952
- An asciinema in the reports has been taken offline - as above, it needs to be ignored
- https://github.com/coala/coala-bears/issues/2949 - regressi

[2019-08-22 08:04] jayvdb commented on #713
This was already done by @kriti21 	in https://github.com/coala/projects/pull/600 , which I have tidied up and merged.

[2019-08-22 08:04] #713 closed

[2019-08-22 08:33] jayvdb commented on #738
Closed as part of #600

[2019-08-22 08:55] #738 closed

[2019-08-22 16:49] KVGarg opened #740 "Replace "tab slider" to a "navbar""

[2019-08-23 16:11] KVGarg opened #742 "Add an FAQ related to Google Season of Docs"

[2019-08-24 18:34] jayvdb opened #746 "Unknown page shows template page"
https://projects.netlify.com/#/foo shows a page by the template which includes a link to https://github.com/mimukit/html5-templates-collection

This is effectively a 404 page, and should have a 404 message that is more tailored for this website.

[2019-08-24 19:16] #691 closed

[2019-08-25 14:12] #705 closed

[2019-08-25 14:34] #740 closed

[2019-08-25 14:58] #684 closed

[2019-08-25 15:04] #734 closed

[2019-08-25 15:33] #184 closed

[2019-08-25 15:35] #711 closed

[2019-08-25 15:53] #36 closed

[2019-08-25 15:56] jayvdb commented on #746
This maybe already covered by https://github.com/coala/projects/pull/596

[2019-08-25 16:07] jayvdb commented on #707
@zjxiaohan , you can re-submit your code changes if you like, or be unassigned from the issue.

[2019-08-25 16:14] jayvdb commented on #652
@RohanVB, do you feel these changes are useful to your project description?  If not, we can just close this.

[2019-08-25 16:30] #648 closed

[2019-08-25 16:35] RohanVB commented on #652
Not useful to my project description, no, but I can still address https://github.com/coala/coala-eclipse/issues/51.

[2019-08-25 16:38] abhishalya opened #749 "rawgit shutting down; update links"
rawgit is shutting down and bears are throwing errors like [these](https://travis-ci.org/coala/projects/jobs/576470295#L700).

[2019-08-25 16:38] jayvdb commented on #179
No longer necessary due to other UI changes.
Apologies that the fix wasnt merged while the bug existed.

[2019-08-25 16:38] #179 closed

[2019-08-25 16:59] jayvdb commented on #749
If the links can be easily replaced with an alternative, that would be great.

Otherwise an ignore entry in .coafile is needed now, and https://github.com/coala/coala-bears/issues/2952 is an idea for how we could provide a way to allow broken links to be shown as broken links.

[2019-08-25 17:05] abhishalya commented on #749
Can't we directly use links from github like https://rawgit.com/saksham189/GSoC-Report/master/work.tar.gz?

[2019-08-26 03:18] KVGarg opened #755 "Add CSSLintBear!"

[2019-08-26 03:29] KVGarg commented on #746
This just needs removal of the `**otherwise** route config` - https://github.com/coala/projects/blob/master/resources/js/app.js#L61

[2019-08-26 10:21] #559 closed

[2019-08-26 12:03] KVGarg opened #756 "Mark project status as "COMPLETE" for GSoC'19 work reports to there corresponding projects"

[2019-08-27 20:05] KVGarg opened #758 "Running CSSLintBear on projects is raising a bunch of errors(or say, warnings)"
All errors/warnings can be checked out in this [Travis CI Build Log](https://travis-ci.org/KVGarg/projects/jobs/577524901#L715)

[2019-08-28 14:04] abhishalya commented on #749
Okay, well [this](https://github.com/rgrove/rawgit/blob/master/FAQ.md#why-is-this-necessary-cant-i-just-load-files-from-github-directly) explains that. But I don't think it affects us too much. But, still if we need something like rawgit, we could use https://raw.githack.com/ which seems to be the exact same thing.

[2019-08-30 08:32] KVGarg commented on #749
Yeah! We can use that too. Also there were some following free services suggested by rawgit on there website that offer fantastic alternatives to some or all of RawGit's functionality. You may like them even more than RawGit.

- jsDelivr
- GitHub Pages
- CodeSandbox
- unpkg

[2019-09-01 18:14] RaiVaibhav opened #759 "Add routing according to the GSoC year"
IMO in the section tabs of https://projects.coala.io/#/students location should change as per the tab selection.

[2019-09-01 18:15] RaiVaibhav commented on #759
difficulty:low

[2019-09-01 18:38] RaiVaibhav opened #760 "Fix the search bar css"
Something like this?
<img width="1276" alt="Screenshot 2019-09-02 at 12 04 16 AM" src="https://user-images.githubusercontent.com/22278438/64080744-7dcb6600-cd15-11e9-9568-132185ad2bec.png">

Difficulty:newcomer

[2019-09-30 17:30] dewanshrawat15 commented on #760
I would like to work on this @jayvdb

[2019-09-30 18:04] KVGarg commented on #760
You can work on it! **If you haven’t solved any newcomer issue till now.**

[2019-10-12 14:56] CoderLucifer commented on #707
@jayvdb Is this issue open? I would like to work on it. I am new to open source.

[2019-10-16 18:51] nitink4472 commented on #725
So,what's the issue in this?

[2019-11-11 05:19] keyurkumbhare commented on #642
@shikharvaish28 @li-boxuan Can you unassign this to whomsoever assigned due to inactivity and assign it to me?

[2019-11-13 21:08] iamabhishek0 commented on #707
Hi! Could you assign this issue to me? I am a Newcomer looking to contribute.

[2019-11-27 10:55] arzoo14 commented on #742
@KVGarg
Can you tell me which FAQ to add?

[2019-11-27 11:11] arzoo14 opened #768 "Translation of FAQs in Hindi"
@KVGarg
Currently, three questions are there in FAQs [which](https://projects.coala.io/#/faq) is not in the Hindi language. I would love to fix this issue.

[2019-11-29 14:51] KVGarg commented on #742
It'll good to add an FAQ related to GSoD that *what it is all about?* and *whether coala will be partcipating in it or not?* etc.

[2019-12-02 20:54] waseemjaber95 commented on #768
Can I take this issue ?

[2019-12-03 15:19] KVGarg commented on #768
A PR has already been created related to it, check out other [newcomer issues](https://coala.io/new) that may interest you.

[2020-01-09 16:02] vishaldhull09 commented on #642
pls assign it to me

[2020-01-11 13:43] Shiva-sankaran commented on #642
hey there i am a new comer and would like to work on this issue.I would also like to know why the 2 PR's were disbanded i saw their commits the link was updated was it because they were inactive or is the problem something other than updating the link in .md file

[2020-01-21 18:20] vishaldhull09 commented on #707
Can i work on this issue?

[2020-01-29 11:56] Shiva-sankaran commented on #642
I am currently working on this issue and got reviewed  and waiting for getting it merged even though there are no one assigned formally

[2020-04-16 06:48] Chaitanyassr opened #773 "Spelling correction."
- "Similiarly" should be "Similarly" in Multi Language Support.
- "file" should be "files" in Multi Language Support.
- "the" should be added between "be same" in Multi Language Support.

[2020-05-03 17:12] #755 closed

[2020-05-03 17:13] #758 closed

[2020-05-03 17:19] abhishalya opened #777 "Update the mentors page with 2019 people"
We should update the page with 2019 mentors instead of 2018.

[2020-05-03 17:36] #756 closed

[2020-05-04 15:43] faraz16iqbal commented on #777
Hi, is it possible for me to work on this update?

[2020-05-04 15:44] faraz16iqbal commented on #773
Hi, Can I work on this issue?

[2020-05-05 14:00] abhishalya commented on #777
Yes! Why not. Assigned

[2020-05-05 14:51] faraz16iqbal commented on #777
Can you please guide me as to how to access the information?

[2020-05-05 15:20] abhishalya commented on #777
Wouldn't it be nice if you could figure it out ;)

[2020-05-17 05:30] #642 closed

[2020-05-30 06:34] chttrjeankr commented on #777
@faraz16iqbal, are you still working on this?

[2020-05-30 06:52] abhishalya commented on #777
@chttrjeankr Do you want to take up this issue?

[2020-05-30 07:04] chttrjeankr commented on #777
Sure! I'd have to go through the newcomers' procedure first. I can then start working on it.

[2020-05-30 07:09] abhishalya commented on #777
Assigned to @chttrjeankr due to inactivity of previous assignee.

[2020-05-30 07:10] chttrjeankr commented on #777
Thanks for assigning. :rocket:

I think you mean this [Mentors Page](https://projects.coala.io/#/mentors).

The trace led me to realize the [`resources/js/directives/mentors.js`](https://github.com/coala/projects/blob/3857d95e0e2d1697fdc8cc67ab8a117e4db0c749/resources/js/directives/mentors.js) file [fetches](https://github.com/coala/projects/blob/3857d95e0e2d1697fdc8cc67ab8a117e4db0c749/resources/

[2020-05-30 10:16] chttrjeankr commented on #777
Figured out [what to change](https://github.com/coala/projects/blob/3857d95e0e2d1697fdc8cc67ab8a117e4db0c749/resources/js/directives/mentors.js#L13). Discussing an appropriate solution would be needed.

The current code makes a list of all mentors who are in a project that has a status of NOT `completed`.
I don't think we want that to happen.

So we have multiple options for the mentors page:
1.

[2020-05-30 11:47] abhishalya commented on #777
@chttrjeankr  Right, good research around this. So we want to change the existing implementation a bit, what we need is to get all mentors for the completed projects in latest program year (right now its 2019). In other words we need to list all mentors for all official (completed) projects for the latest GSoC coala participated in.

Now this might be a bit tricky with the existing data, you can h

[2020-05-30 15:39] chttrjeankr commented on #777
@abhishalya The best solution to this would be if each project has a date/year attached to it. We can then filter by `year`(latest program year), `tag`(GSoC) and `status`(completeness) and get the required projects and their mentors.

Or, having the tags be different. Rather than using `GSoC`, we may introduce `GSoC19` tags, and similarly for `RGSoC` and other annual programs too, to maintain unif

[2020-06-28 05:17] #777 closed

[2020-08-24 17:02] Alay2000 commented on #760
is this issue still open, if yes I would like to work on it

[2020-12-21 15:58] abhishalya opened #783 "Project Proposal: Improve and fix coala support for latest python versions"
This project focuses on improving coala support for some of the latest python versions.

Currently, coala only supports python version 3.6 which is too old at the moment. Improving the support is not a trivial task and will involve a lot of research work. To help improve this process, we will drop support for some of the bears which are incompatible with the newer versions. As a part of the projec

[2021-03-10 10:30] Siddhant-K-code commented on #783
What changes we would have to make it to the project so that it works fine with Python 3.9

[2021-03-10 11:09] abhishalya commented on #783
@Siddhant-K-code This is something the student has to decide and create a proposal around that. This project also kind of assumes that the student has a very clear understanding of coala and how it works.

[2021-03-11 08:32] itssingh opened #785 "Improve filter projects"
The close sign for filter projects is not aligned properly.
![image](https://user-images.githubusercontent.com/43489890/110758189-3a3eaa00-8272-11eb-94ec-55a76f7989d9.png)
difficulty level: good first issue

[2021-03-11 09:01] itssingh opened #786 "Add a tag and difficulty row in the project section"
Adding tags and difficulty row down the mentors name row will help in providing the project overview to a great extent.

![image](https://user-images.githubusercontent.com/43489890/110761164-6dcf0380-8275-11eb-8cc5-5a5908250cb9.png)

[2021-03-12 13:42] Jeevan-Kiran-Lenka commented on #560
Hey! @jayvdb can I work on this issue? I would like to work on it

[2021-04-02 08:10] sidharth1017 commented on #785
Hello i want to fix this close sign please assign me this issue.

[2021-04-02 09:10] abhishalya commented on #785
Assignment not required, go ahead

[2021-04-02 16:44] sidharth1017 commented on #785
Could you please help me in setting up codebase in my local host??

[2021-04-02 16:45] sidharth1017 commented on #785
@abhishalya Could you please help me in setting up codebase in my local host??

[2021-04-02 17:10] abhishalya commented on #785
Have you followed the readme?

If you're facing any issues, ask them on gitter.

[2021-04-04 11:43] pra17dod commented on #785
Hi @abhishalya, I have fixed this issue in PR #789. Please review it.

[2021-04-04 12:13] pra17dod commented on #786
Hi @abhishalya, I fixed this issue in PR #789. Please review it.

[2021-04-05 15:17] pra17dod commented on #773
Hi @abhishalya, as the issue was idle since a long time, I fixed it in the PR #790. Please review it.

[2021-04-05 15:37] pra17dod commented on #785
Hi @abhishalya, I made the changes and made proper commits. Please review it.

[2021-04-05 16:13] pra17dod commented on #786
Hi @abhishalya, I added this changes in PR #792. Please review it.

[2021-04-17 18:27] #786 closed

[2021-04-17 18:33] #785 closed

[2021-04-17 18:36] #773 closed

[2021-05-03 07:25] pra17dod opened #793 "Projects site doesn't work properly with the Project URL"
Open any project and copy its URL and paste it into a new tab. It doesn't open the
project to which the URL belonged to. Even on reloading the same page of the
project, you get redirected randomly to another project.

Here is the link to Django Microfarm Project:
https://projects.coala.io/#/projects?project=django-microfarm&lang=en
Have a try!! You will get redirected to some other project.

There

[2021-05-06 20:57] pra17dod opened #795 "Travis build failed on master"
Latest Travis build [#2152](https://travis-ci.com/github/coala/projects/builds/225074286) failed due to inconsistency and trailing whitespace. The build log is [here](https://travis-ci.com/github/coala/projects/jobs/503394615).

[2021-05-08 04:12] #795 closed

[2021-05-08 04:16] abhishalya commented on #759
This is now implemented.

[2021-05-08 04:16] #759 closed

[2021-05-08 04:19] abhishalya commented on #742
Closing this as coala hasn't participated in GSoD yet. This can be opened up once we have a plan around that.

[2021-05-08 04:19] #742 closed

[2021-05-08 04:23] abhishalya commented on #725
This is just a placeholder to push coala for GSoC programs as well. The overall goal will be to improve coala documentation but we will need more specifics to what documentation we are trying to improve on and how that will be beneficial for the coala community.

[2021-05-08 04:26] abhishalya commented on #717
No, this is not as easy as that. The problem here is that the project urls are used widely and changing the links does no good to them. We at least need to make sure that they have a redirect to the working url.

[2021-05-08 18:14] pra17dod commented on #746
This issue can be closed as it is no more valid.

[2021-05-13 16:49] #793 closed

[2021-05-13 16:59] KVGarg opened #797 "Improper behaviour of "project" query parameter"
Say we already have a tab opened with URL location [http://projects.coala.io/#/projects](http://projects.coala.io/#/projects) and then we add `?project=real-time_team_communication_bridge&lang=en` to the URL

Observed Behaviour:
It doesn't open the modal window of the requested project

Actual Behaviour (that should happen in general, and is observed everywhere)
It should open the modal, and close

[2021-05-14 18:15] pra17dod commented on #797
Hi @KVGarg, I have fixed this issue in PR #798. Please review it.

[2021-05-15 20:02] ankitcr7-afk commented on #760
Hey, @RaiVaibhav I am a beginner and want to contribute as i never had done any, but i didn't understood the issue exactly. Would you mind explaining a bit

[2021-06-26 22:24] atharshah1 commented on #760
i would like to work on this

[2021-08-22 10:11] pra17dod opened #801 "Add Project Report for "Microfarm For Everybody" (Django Microfarm)"
Add Project Report for "Microfarm For Everybody" (Django Microfarm)
which is taken up in GSoC' 2021

[2021-08-22 13:54] #801 closed

[2021-09-06 12:47] moazfarrukh commented on #749
has this issue been resolved?

[2021-10-01 15:01] Nashtronaut commented on #760
I notice a closed tag, but its still appearing as an open issue. Sorry, is there anyway I can do this for hacktoberfest? Unsure if this is still open or not. :)

[2021-11-15 08:36] ankur12-1610 commented on #760
Is anyone working on it?

If not, can I work on it?

[2021-12-26 13:15] Bl4ck-h00d commented on #760
Hey, Is this still open?